﻿body {
}
.rr-read-more .link {
    font-size: 13px;
    font-weight: normal;
    color: #0BF;
    cursor: pointer;
}
.rr-read-more .dots, .rr-read-more .less-content, .rr-read-more .more-content {
    margin-left: 3px;
}
.rr-read-more.view-more .more-content, .rr-read-more .less-content, .rr-read-more.view-more .dots {
    display: inline;
}
.rr-read-more .dots, .rr-read-more.view-more .less-content, .rr-read-more .more-content {
    display: none;
}
.complete-content {
    display: none;
}
.rr-read-more .arrow-view {
    border-color: transparent transparent #02b1f2;
    border-style: solid;
    border-width: 0 4px 4px;
    height: 0;
    margin-left: 3px;
    margin-top: 8px;
    position: absolute;
    width: 0;
}
.rr-read-more.view-more .arrow-view {
    border-color: #0BF transparent transparent;
    border-width: 4px 4px 0;
    margin-top: 8px;
}
.popup-review {
    background: #fff;
    padding: 10px;
}