﻿.breadCrumb .sub-nav
{
    display: none;
    position: absolute;
    z-index: 999;
    padding: 0;
    background: #fff;
    min-width: 120px;
    border: none;/* 1px solid #bbb;*/
    box-shadow: 0 0 13px -3px rgba(0, 0, 0, 0.4);/*
    -webkit-box-shadow: 0 6px 6px -6px #bbb;
    -moz-box-shadow: 0 6px 6px -6px #bbb;
    box-shadow: 0 6px 6px -6px #bbb;*/
    top: 20px;
    /*border-radius: 3px;*/
    border-top:3px solid #02b1f2;
}
.breadCrumb li.subnav-show > ul.sub-nav, .breadCrumb li.subnav-show > .subnav-arrow
{
    display: block!important;
    }
.breadCrumb .sub-nav li a
{
    display: block;
    padding: 0 10px;
    /*border-left: 2px solid #eee;*/
    white-space: nowrap;
    font-weight: bold;
    color: #4d4d4d;
}
.breadCrumb li:hover > .sub-nav, .breadCrumb li:hover .subnav-arrow
{
    display: block;
}
.breadCrumb li
{
    position: relative;
}
.breadCrumb .sub-nav > li
{
    clear: both;
    line-height: 30px;/*25px;*/
    height: 30px;/*25px;*/
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
}
.breadCrumb .sub-nav > li:last-child 
{
    border-bottom: none;
    }
.breadCrumb .sub-nav > li a:hover
{
    text-decoration: none;
}
.breadCrumb .sub-nav > li:hover
{
    background: #02b1f2;/*#fafafa;*/
}
.breadCrumb .sub-nav > li:hover a
{
    color: #fff;/*#4d4d4d;*/
    /*border-left: 2px solid #0bf;*/
}
.breadCrumb li span.nav-arrow
{
    background-image: url("../images/arr1.png");
    float: right;
    height: 6px;
    margin: 7px 0 0 2px;
    width: 9px;
    cursor: pointer; /*display: none; } .breadCrumb li:hover span.nav-arrow {     display: block;*/
}
.breadCrumb .subnav-arrow
{
    border-color: transparent transparent #02b1f2;/*#bbb;*/
    border-style: solid;
    border-width: 0 7px 8px;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    width: 0;
    position: absolute;
    right: -3px;
    top: 13px;
    z-index: 999999;
    display: none;
}
.breadCrumb .subnav-arrow .nav-arrow-inner
{
    border-color: transparent transparent #02b1f2;/*white;*/
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-style: solid;
    border-width: 0 7px 8px;
    font-size: 0;
    height: 0;
    left: -7px;
    line-height: 0;
    position: absolute;
    top: 1px;
    width: 0;
}
