﻿
.item-detail, .compare
{
    display: block;
}
.cate-page-fix
{
    min-width: 310px;
}
.cate-page-fix .wrap
{
    min-width: 310px;
}
.cate-page-fix .top
{
    min-width: 90px;
}
body
{
    font-family: Arial,sans-serif;
    position: relative;
    min-width: 310px;
}
#boxRefer h1
{
    font-weight: bold;
    font-size: 16px;
}
a
{
    text-decoration: none;
    color: #4D4D4D;
}
.wrap
{
    margin: 0px auto;
    max-width: 1200px;
    min-width: 310px;
    padding: 0px 5px;
}
.top
{
    background-color: #f3f3f3;
    height: 60px;
    min-width: 310px;
}
.top-inner
{
    position: relative;
    height: 60px;
}
.top a.logo
{
    float: left;
    margin: 17px 0px 0px 0px;
}
.top a.logo img
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -user-select: none;
    max-height: 35px;
}
.menu
{
    float: left;
    margin: 0px 0px 0px 20px;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}
.menu-wrap
{
    padding: 0px 10px;
    height: 60px;
    cursor: pointer;
    width: 170px;
}
.menu h3
{
    float: left;
    color: #4D4D4D;
    line-height: 60px;
    font-size: 21px;
    display: inline;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -user-select: none;
    padding: 0px 10px 0px 10px;
}
.menu-wrap:hover
{
    background-color: #eeeeee;
}
.menu-wrap:hover h3
{
    color: #02B1F2;
}
.menu span.arr-down
{
    display: block;
    float: right;
    border: 1px solid transparent;
    border-width: 5px;
    border-color: transparent;
    border-top-color: #4D4D4D;
    margin: 30px 0px 0px 0px;
}
.menu p
{
    float: left;
}
.box-search
{
    float: left;
    height: 35px;
    position: relative;
    white-space: nowrap;
    width: 42%;
    margin: 15px 0px 0px 10px;
}
.box-search input[type="text"]
{
    float: left;
    border-color: #DDDDDD;
    border-radius: 2px 0 0 2px;
    border-style: solid none solid solid;
    border-width: 1px 1px 1px 1px;
    box-shadow: 0 1px 3px 1px rgba(204, 204, 204, 0) inset;
    font-size: 18px;
    color: #4D4D4D;
    font-size: 13px;
    height: 34px;
    outline: none;
    margin: 0;
    padding: 0 1%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
}
.box-search input[type="text"]:focus
{
    border-color: #02B1F2;
    outline: none;
}
.box-search input[type="submit"]
{
    background-color: #00BBFF;
    border-color: #02B1F2;
    width: 19%;
    border: none;
    height: 34px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    border: 1px solid #02B1F2;
    border-radius: 0px 2px 2px 0px;
    cursor: pointer;
    background-image: url(images/search1.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.control
{
    position: absolute;
    padding: 2px 0px 0px 0px;
    top: 5px;
    right: 6px;
}
/*.control{ float: right; height: 36px;padding-top: 8px;}
.control a:hover{ background-color: #eeeeee;}
.control a{ float: left; height: 60px; line-height: 60px; color: #4D4D4D; line-height: 60px; font-size: 15px; font-weight: bold; padding: 0px 15px;}*/
.show-nav .pop-menu
{
    display: block;
}
.pop-menu
{
    z-index: 999;
    width: 100%;
    display: none;
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: #FFFFFF;
    border-top: 4px solid #00BBFF;
    box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.3);
}
.menu-inner
{
    position: relative;
}
.menu-inner .close
{
    position: absolute;
    width: 12px;
    height: 13px;
    z-index: 999999;
    cursor: pointer;
    background-image: url(images/color-sprite28.png);
    background-repeat: no-repeat;
    background-position: -705px -7px;
    top: 20px;
    right: 20px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.menu-inner .close:hover
{
    background-position: -705px -55px;
}
.menu-inner:before
{
    content: "";
    display: block;
    border-style: solid;
    border-width: 9px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -22px;
    left: 288px;
    border-color: transparent;
    border-bottom-color: #02B1F2;
    z-index: 999;
}
.nav
{
    padding: 0px 0px 40px 0px;
    float: left;
    width: 20%;
    background-color: #F3F3F3;
}
.nav li a
{
    color: #4D4D4D;
    display: block;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 15px;
    white-space: nowrap;
}
.nav li
{
    position:static !important;
}
.nav li:hover a
{
    color: #02B1F2;
    background-color: white;
}
a.viewall
{
    background-color: transparent;
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 13px;
    color: #02B1F2;
}
a.viewall:hover
{
    text-decoration: underline;
}
.nav li div.sub-nav
{
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: none;
    left: 20%;
}
.nav li.active-li .sub-nav
{
    display: block;
}
.nav li.active-li a
{
    background-color: white;
    color: #02B1F2;
}
.sub-nav-inner
{
}
.sub-content
{
    max-height: 100%;
    padding: 20px;
}
.sub-content ol
{
    padding: 0px 0px 0px 0px;
}
.sub-content ol li
{
    float: left;
    padding: 4px 0px;
    background-color: transparent !important;
    width: 40%;
}
.sub-content ol li a
{
    display: inline;
    padding: 0px;
    background-color: transparent !important;
    margin: 0px;
}

.sub-content h4
{
    color: #4D4D4D;
    font-size: 20px;
    padding: 0px 0px 10px 0px;
}

.sub-content ol li a:hover
{
    text-decoration: underline;
}

.sub-nav
{
    background-repeat: no-repeat;
    background-position: bottom right;
}

.sub-nav1
{
    background-image: url(images/DienTuAmThanh.png);
}

.sub-nav2
{
    background-image: url(images/DoGiaDung.png);
}

.sub-nav3
{
    background-image: url(images/ThoiTrang.png);
}

.sub-nav13
{
    background-image: url(images/Mayanh.png);
}

.sub-nav20
{
    background-image: url(images/Tinhoc.png);
}

.sub-nav85
{
    background-image: url(images/iPad.png);
}

.sub-nav119
{
    background-image: url(images/MevaBe.png);
}

.sub-nav127
{
    background-image: url(images/Oto.png);
}

.sub-nav130
{
    background-image: url(images/ThucphamDouong.png);
}

.sub-nav216
{
    background-image: url(images/Sach.png);
}

.sub-nav558
{
    background-image: url(images/NoiThat.png);
}

.sub-nav607
{
    background-image: url(images/Dichvu.png);
}
.sub-nav1860
{
    background-image: url(images/MayVanPhong.png);
}
.sub-nav1867
{
    background-image: url(images/DienLanh.png);
}
.sub-nav1942
{
    background-image: url(images/YTe.png);
}

.breadCrumb
{
    padding: 10px 0px;
    height: 18px;
    line-height: 18px;
}

.breadCrumb li
{
    float: left; /*height: 18px;     line-height: 18px;*/
    height: 20px;
    line-height: 20px;
}

.breadCrumb > ul > li > a
{
    font-size: 11px;
    color: #02B1F2;
    font-weight: bold;
    text-transform: uppercase;
    white-space:nowrap;
}

.breadCrumb li a:hover
{
    text-decoration: underline;
}
.breadCrumb span
{
    font-size: 13px;
    margin: 0px 4px 0px 4px;
    color: #4D4D4D;
    float: left;
}

.breadCrumb li.current > a
{
    color: #4D4D4D;
}
.tabs
{
    border-top: 3px solid #EEE;
    height: 30px;
    border-bottom: 1px solid #EEE;
}
.tabs-left
{
    float: left;
}
.tabs-left .tab
{
    float: left;
    height: 30px;
    margin: -3px 0px 0px 0px;
    padding: 0px 15px;
    border-top: 3px solid #EEE;
    border-right: 1px solid #eee;
}
.tabs-left .tab span
{
    font-size: 12px;
    text-transform: uppercase;
    line-height: 30px;
    color: #02B1F2;
    font-weight: bold;
}
.tabs-left .tab-active
{
    background-color: #F9F9F9;
    border-top-color: #02B1F2;
    position: relative;
}
.tabs-left .tab-active span
{
    color: #4D4D4D;
}
.tabs-left .tab-active:before
{
    position: absolute;
    border-width: 8px;
    border-style: solid;
    content: "";
    border-color: transparent;
    z-index: 999;
    bottom: -17px;
    left: 50%;
    margin-left: -8px;
    border-top-color: #F9F9F9;
    z-index: 9;
    border-color: #EEEEEE rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.tabs-left .tab-active:after
{
    position: absolute;
    border-width: 7px;
    border-style: solid;
    content: " ";
    border-color: transparent;
    z-index: 999;
    bottom: -14px;
    left: 50%;
    margin-left: -7px;
    z-index: 9;
    border-color: #F9F9F9 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}


.menu-res0
{
    float: left;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    display: block;
    height: 24px;
    margin: -3px;
    padding: 4px 0 6px;
    width: 40px;
    display: none;
    cursor: pointer;
    margin: 10px 10px 9px 0px;
}

.menu-res0 span
{
    border-radius: 2px;
    display: block;
    height: 5px;
    margin: 3px auto 0;
    width: 28px;
    background-color: #00BBFF;
}

.menu-res-active0
{
    background: none repeat scroll 0 0 #E5E5E5;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
}

.menu-res-active span
{
    background-color: #808080;
}
.title-header
{
    padding: 15px 0px;
}
.title-header span.name
{
    padding-left: 10px;
    float: left;
    color: #4D4D4D;
    font-size: 20px;
    font-weight: normal;
}
.title-header span.name b
{
    color: #0bf;
}
.title-header h1
{
    padding-left: 5px;
    float: left;
    color: #0bf;
    font-size: 20px;
    font-weight: bold;
}
.middle
{
    min-height: 500px;
    position: relative;
}
.colleft
{
    width: 252px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #F9F9F9;
    border: 1px solid #DDDDDD;
}

.search-refine
{
    position: relative;
    border-bottom: 1px solid #DDDDDD;
    padding: 7px;
    height: 38px;
}

.arrow
{
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #888888;
    display: block;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

.arrow em
{
    width: 0px;
    height: 0px;
    margin: 7px 0px 0px 2px;
    float: left;
    display: block;
    border: 7px solid transparent;
    border-top-color: white;
}

.arrow-left em
{
    border-color: transparent;
    border-right-color: white;
    margin: 2px 0px 0px -3px;
}

.arrow-right em
{
    border-color: transparent;
    border-left-color: white;
    margin: 2px 0px 0px 7px;
}

.arrow-top em
{
    border-color: transparent;
    border-bottom-color: white;
    margin: -2px 0px 0px 3px;
}

.arrows-pos
{
    position: absolute;
    top: 16px;
    right: 7px;
}

.hidden-left
{
}
 .box-ads-fix
{
border:1px solid red !important;
min-height:100px;

}
.hidden-left .colleft
{
    width: 33px;
    border-bottom: none;
}

.hidden-left .colleft .arrows-pos .arrow-left em
{
    border-color: transparent;
    border-left-color: white;
    margin: 2px 0px 0px 7px;
}




.hidden-left .colright
{
    margin: 0px 0px 0px 46px;
}

.hidden-left .hidden
{
    display: none !important;
}

.search-refine h5
{
    color: #4D4D4D;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;
}

.search-refine p
{
    color: #4D4D4D;
    margin: 6px 0px 2px 0px;
    font-size: 12px;
    padding-left: 3px;
}
.search-refine p b
{
    margin-right: 10px;
}
.colright
{
    margin: 0px 0px 0px 265px;
    min-height: 100px;
    position: relative;
}

.list-header
{
    height: 52px;
    border: 1px solid #DDDDDD;
    position: relative;
}

.list-fixed
{
    position: fixed;
    top: 0px;
    z-index: 9;
}

.col1
{
    float: left;
    width: 360px;
    height: 52px;
}

.col2
{
    margin: 0px 0px 0px 360px;
    min-width: 200px;
    height: 52px;
    overflow: hidden;
}
.col2-colp
{
    width: 24%;
    float: left;
    display: table;
}
.col2-col
{
    width: 19%;
    float: left;
    display: table;
}

.col
{
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: relative;
}
/*
.col2-colp:hover
{
      background-color: #02B1F2 !important;
    background-image: none;
    color: #FFF;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    }
    .col2-colp:hover h2
    {color: white;
        }

        
        .col2-colp:hover  p
{
    color: white;
}
  .col2-colp:hover  .arrow1
{
    display: block;
    border-top-color: white;
}
*/
.colright .col-active
{
    background-color: #02B1F2;
    background-image: none;
    color: #FFF;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.colright .col-active h2
{
    color: white;
}

.colright .col-active p
{
    color: white;
}

.colright .col-active .arrow1
{
    display: block;
    border-top-color: white;
}

.colright .col-hover
{
}

.col-inner
{
    border-left: 1px solid #DDDDDD;
    height: 52px;
    padding: 0px 5px 0px 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.colright .col-active:hover
{
    background-color: #02B1F2 !important;
}

.col-inner h2
{
    color: #4D4D4D;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
}

.col-inner p
{
    color: #4D4D4D;
    font-size: 12px;
    margin: 3px 0px 0px 0px;
}
.col1 .col-inner
{
    border: none;
    width: 360px;
    text-align: left;
}
.list-header .col1 .arrow1
{
    display: none;
}
.arrow1
{
    display: block;
    border: 4px solid transparent;
    border-top-color: #4D4D4D;
    position: absolute;
    bottom: 12px;
    right: 5px;
    opacity: 0.6;
    width: 0px;
    height: 0px;
}


.sortASC .arrow1
{
    border-top-color: white !important;
    opacity: 1;
}

.sortASC .arrow1:before
{
    border-bottom-color: #02B1F2 !important;
    opacity: 1;
}

.sortDESC .arrow1
{
    border-top-color: #02B1F2 !important;
    opacity: 1;
}

.sortDESC .arrow1:before
{
    border-bottom-color: white !important;
    opacity: 1;
}


.col2-colp:hover .arrow1:before
{
}
.arrow1::before
{
    content: '';
    display: block;
    border: 1px solid red;
    display: block;
    border: 4px solid transparent;
    border-bottom-color: #4D4D4D;
    position: absolute;
    bottom: 10px;
    right: -4px;
    width: 0px;
    height: 0px;
}
.col:hover
{
    background-color: #E4E4E4;
}
.col-inner:hover .arrow1
{
    display: block;
}
.bg_grad
{
    background-color: #F1F1F1;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 25%, rgba(255, 255, 255, 0.1) 100%);
}
.shadow
{
    box-shadow: 0 1px 3px 0 rgba(204, 204, 204, 0.6);
}
.list-row
{
    border-bottom: 1px solid #EEE;
    padding: 10px 0px;
    position: relative;
    border-left: 3px solid transparent;
    cursor: pointer;
}
/*.colrgs .list-row:hover{background: #f6f6f6;}*/
.list-row-active
{
    border-left: 3px solid #02B1F2;
    background-color: #F4FAFF;
}
.row-col1
{
    float: left;
    width: 360px;
    min-height: 50px;
    overflow: hidden;
}
.row-col2
{
    margin: 0px 0px 0px 360px;
    min-height: 50px;
    overflow: hidden;
}
.row-col
{
    display: table;
}
.row-col2-colp
{
    width: 24%;
    float: left;
    min-height: 50px;
}
.row-col2-col
{
    width: 19%;
    float: left;
    min-height: 50px;
}
.col1-inner
{
}
.img-product
{
    float: left;
    width: 120px;
    margin: 0px 10px 0px 0px;
    height: 100px;
    text-align: center;
}
.img-product img
{
    max-width: 120px;
    max-height: 100px;
}
.col1-inner h2
{
    margin: 0px 0px 6px 0px;
}
.col1-inner h2 a
{
    color: #4D4D4D;
    font-size: 14px;
    font-weight: bold;
}
.col1-inner h2 a:hover
{
    color: #02B1F2;
    text-decoration: none;
}
.col1-inner p
{
    color: #4D4D4D;
    font-size: 12px;
}
.detail-compare
{
    clear: left;
    padding: 0px 0px 0px 125px;
}
.compare
{
    float: left;
    height: 15px; /* padding: 0px 7px 0px 0px; margin: 0px 7px 0px 0px;*/
}
.compare label
{
    color: #02B1F2;
    font-size: 12px;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
}
.compare input
{
    float: left;
    margin: 0px 5px 0px 0px;
}
.detail-compare a
{
    color: #02B1F2;
    font-size: 12px;
    float: left;
    text-transform: uppercase;
}
.compare label:hover, .detail-compare a:hover
{
    text-decoration: underline;
}
.row-col-inner
{
    display: table-cell;
    height: 120px;
    text-align: center;
    vertical-align: middle;
}
/*.row-col-inner a.move
{
    font-family: Helvetica,Arial,sans-serif;font-size: 13px;padding: 6px 10px;white-space: nowrap;background-color: #02B1F2; color: white; font-weight: bold !important;line-height: 30px;position: relative;
    border-color: #0bf;border: 1px solid #ddd;text-shadow: 0 1px 0 rgba(0,0,0,0.1); border-radius: 2px;cursor: pointer;
    text-align: center; -webkit-transition: .3s;-moz-transition: .3s;-o-transition: .3s; transition: .3s;
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(43,43,43,0.02) 71%);background-image: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(43,43,43,0.02) 71%);
    background-image: -ms-linear-gradient(top,rgba(255,255,255,0),rgba(43,43,43,0.02) 71%);background-image: -o-linear-gradient(top,rgba(255,255,255,0),rgba(43,43,43,0.02) 71%);
    background-image: linear-gradient(top,rgba(255,255,255,0),rgba(43,43,43,0.02) 71%);
}
.row-col-inner a.move:hover{background-color: #00BBFF; border-color: #0cf;}*/
.row-col-inner p
{
    color: #4D4D4D;
    font-size: 11px;
    margin: 2px 0px 0px 0px;
}
.row-col-inner p.price
{
    color: #333;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px -5px 0px;
}
.row-col-inner p.price-color
{
    color: #CC4225;
    text-transform: none;
    font-size: 17px;
}
.paging
{
    padding: 20px 0px 10px 0px;
    text-align: right;
}
.paging span
{
    padding: 4px 10px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 2px;
    border: 1px solid #02B1F2;
    background-color: #02B1F2;
    color: #FFF;
    font-weight: bold;
    margin: 0 3px;
}
.paging a
{
    padding: 4px 10px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 2px;
    border: 1px solid #DDD;
}
.paging a:hover, .paging a.current
{
    background: none repeat scroll 0 0 #E7E7E7;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1) inset;
}
.bottom-fix
{
    background-color: #322F2F;
    position: fixed;
    bottom: -154px;
    z-index: 9999;
    text-align: center;
    width: 100%;
    left: 0px;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.bottom-fix-show
{
    bottom: 0px;
}
.bottom-fix-inner
{
    padding: 0px 0px;
}
.bottom-fix-inner span.item-selected
{
    color: #02B1F2;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 6px 0px 0px 0px;
    display: inline-block;
}

.bottom-fix-inner span.item-selected em
{
    font-weight: bold;
    font-size: 14px;
    color: white;
    padding: 0px 3px;
}

.bottom-fix-inner a.view-item-selected
{
    background-color: #00BBFF;
    display: inline-block;
    padding: 7px 10px;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.bottom-fix-inner a.view-item-selected:hover
{
    opacity: 0.9;
}

.bottom-fix-inner span.clear
{
    color: #eeeeee;
    font-size: 13px;
    cursor: pointer;
    margin: 6px 0px 0px 20px;
    display: inline-block;
}
.bottom-fix-inner span.clear:hover
{
    text-decoration: underline;
}
#footer
{
    margin: 20px 0px 0px 0px;
    background: none repeat scroll 0 0 #F3F3F3;
}
.grid-wrap
{
    width: 950px;
    margin: 0px auto;
}
.ft-nav
{
    display: table;
    padding: 14px 0 3px;
    width: 100%;
}

.ft-col-wrap
{
    display: table-cell;
    padding-right: 30px;
    padding-top:30px!important;
   /* width: 55%;*/
}
.ft-col-wrap h3{
    font-size: 14px;
text-transform: uppercase;
font-weight: bold;
padding: 0px;
margin: 0px 0px 20px 0px;
color: #4d4d4d;}
.ft-col-wrap.connect h4{font-size: 14px;
font-weight: bold;
padding: 0px;
margin: 0px 0px 20px 0px;
color: #4d4d4d;}
.ft-title
{
    border-bottom: 1px solid #DFDFDF;
    box-shadow: 0 1px 0 #FFFFFF;
    color: #7C7C7C;
    font-size: 19px;
    font-weight: 300;
    margin: 0;
    padding: 0 0 12px;
    text-transform: none;
}

.ft-col
{
    display: table;
    width: 100%;
}

.ft-list, .page-admin .ft-list
{
    display: table-cell;
    margin: 0;
    padding: 20px 0 0;
}

.ft-list li
{
    color: #7C7C7C;
    display: block;
    font-size: 13px;
    font-weight: 300;
    height: 18px;
    line-height: 18px;
    margin-bottom: 11px;
}

.ft-link
{
    color: #7C7C7C;
    text-decoration: none;
}

.ft-col-wrap.connect
{
    padding-right: 0;
    width: 30%;
}

.ft-col .facebook
{
    background-position: -68px -77px;
}

.ft-col span strong
{
    border-color: transparent;
    border-left: 0 none;
    border-right: 5px solid #00BBFF;
    border-style: solid solid solid none;
    border-width: 5px 5px 5px 0;
    font-size: 0;
    height: 0;
    left: -4px;
    line-height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 4px;
    width: 0;
}

.ft-col span
{
    background-color: #00BBFF;
    background-position: center center;
    border-radius: 2px;
    box-shadow: 0 1px 0 #FFFFFF;
    color: #FFFFFF;
    float: right;
    font-weight: bold;
    height: 18px;
    margin: 0;
    position: relative;
    text-align: center;
    text-indent: -9999px;
    width: 18px;
}

.spr, .spr-a:after
{
    background-image: url("images/color-sprite28.png");
    background-repeat: no-repeat;
}

.ft-col .twitter
{
    background-position: -49px -62px;
}

.ft-col .googleplus
{
    background-position: -48px -78px;
}


.ft-link:hover
{
    color: #4D4D4D;
    font-weight: 300;
    text-decoration: underline;
}

.copyright
{
    line-height: 40px;
    color: #7C7C7C;
    font-size: 13px;
    font-weight: 300;
}

.bottom-center
{
    display: inline-block;
    padding: 10px 20px;
}

.head-right
{
    float: right;
}

.switch
{
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-left: 14px;
    margin-top: 1px;
    position: relative;
    vertical-align: top;
    width: 30px;
}

.switch span
{
    margin: 0 2px 2px 0;
    width: 7px;
    background: none repeat scroll 0 0 #888888;
    float: left;
    height: 7px;
    transition: all 0.2s ease 0s;
    display: block;
}

.switch:hover span
{
    background-color: #02B1F2;
}

.switch div
{
    margin: 0 0 2px;
    width: 27px;
    background: none repeat scroll 0 0 #888888;
    float: left;
    height: 7px;
    transition: all 0.2s ease 0s;
}

.switch div em
{
    border-right: 2px solid #FFFFFF;
    margin: 0 2px 2px 0;
    width: 7px;
    background: none repeat scroll 0 0 #888888;
    float: left;
    height: 7px;
    transition: all 0.2s ease 0s;
}

.switch:hover div, .switch:hover em
{
    background-color: #02B1F2;
}

.view-item
{
}

.item
{
    float: left;
    margin: 0px 0px 10px 0px;
    width: 33.333333%;
}

.item-inner
{
    margin: 0px;
    min-height: 100px;
    padding: 10px;
    border: 1px solid transparent;
}

.item-inner-active
{
    border: 1px solid #02B1F2;
}

.item-inner:hover
{
    border: 1px solid #eee;
}

.item-inner-active:hover
{
    border: 1px solid #02B1F2;
}

.img-large
{
    height: 200px;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.img-large img
{
    max-width: 100%;
    min-height: 150px;
    max-height: 200px;
}

.item-inner h3 a
{
    color: #4D4D4D;
    font-size: 14px;
    font-weight: bold;
}

.item-inner h3 a:hover
{
    color: #02B1F2;
}

.item-inner h3
{
    margin: 0px 0px 10px 0px;
    text-align: center;
    min-height: 70px;
}

.item-inner p
{
    overflow: hidden;
    padding: 5px 0px 5px 0px;
    border-top: 1px dotted #eeeeee;
    font-size: 12px;
    color: #4D4D4D;
}

.item-inner p strong
{
    float: left;
    color: #4D4D4D;
    width: 50%;
    font-size: 12px;
}
.item-inner p span
{
    float: left;
    width: 50%;
}
.item-inner p span label
{
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
}
.item-inner p span label span
{
    float: none !important;
}
.item-inner p span em
{
    color: #4D4D4D;
    font-size: 11px;
    display: block;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
}
.item-inner p.price
{
    color: #CC4225;
    font-weight: bold;
    font-size: 15px;
}
.item-detail-compare
{
}
.item-detail-compare div
{
    float: left;
    width: 50%;
}
.item-detail label
{
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 6px 0px 2px 0px;
    color: #02B1F2;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
}
.item-detail label input
{
    margin: 0px 5px 0px 0px;
    display: inline-block;
}
.item-detail label:hover
{
    text-decoration: underline;
}
.item-compare a
{
    display: block;
    width: 70px;
    height: 18px;
    background-color: #02B1F2;
    color: white;
    font-size: 11px;
    padding: 2px 0px 0px 5px;
    font-weight: bold !important;
    margin: 4px 0px 0px 0px;
    position: relative;
}
.item-compare a:hover
{
    background-color: #00BBFF;
}
.item-compare a:hover:before
{
    border-left-color: #00BBFF;
}
.item-compare a:before
{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: -20px;
    height: 0px;
    width: 0px;
    border: 10px solid transparent;
    border-left-color: #02B1F2;
}
.view-s
{
    border: 1px solid red;
}
.soft
{
    display: none;
    float: right;
    margin: 2px 0px 0px 0px;
    width: 280px;
}
.soft span
{
    float: left;
    color: #4D4D4D;
    font-size: 13px;
    margin: 5px 10px 0px 0px;
    font-weight: bold;
}
.soft .chosen-container
{
    float: left;
    width: 180px !important;
}
.soft .chosen-container span
{
    margin: 0px;
}
.soft .chosen-search
{
    display: none;
}
.soft-type
{
    border: 1px solid #5897FB;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    float: right;
    position: relative;
    display: none;
    overflow: hidden;
    height: 23px;
    margin: 2px 0px 0px -6px;
    z-index: 99;
    border: 1px solid #aaa;
    border-radius: 0px;
    background-color: #fff;
    background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#fff),color-stop(50%,#f6f6f6),color-stop(52%,#eee),color-stop(100%,#f4f4f4));
    background: -webkit-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    background: -moz-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    background: -o-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    background: linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
    background-clip: padding-box;
    box-shadow: 0 0 3px #fff inset,0 1px 1px rgba(0,0,0,.1);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    font-size: 11px;
    cursor: pointer;
    padding: 0px 5px 0px 5px;
}
.soft-type:active, .soft-type:hover
{
    border: 1px solid #4D4D4D;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]
{
    height: auto !important;
}
/*.sortDESC{display:none;}*/

/*Box sosanh gia*/
.buttonCompare
{
    height: 24px;
    text-align: center;
}
/*.buttonCompare a{ background-color: #02B1F2; color: white;display: block;font-size: 12px;font-weight: bold; line-height: 24px; margin: 4px auto 0px auto; width: 70px;height: 24px;position: relative;padding: 0px 10px;border: 1px solid #ddd;}
.buttonCompare a:hover{background-color: #00BBFF; border-color: #0cf;}*/
.row-col-inner a.move, .buttonCompare a
{
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-box-shadow: inset 0 1px 0 0 #fce2c1;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #fce2c1;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffb319), color-stop(1, #fb9e25) );
    background: -moz-linear-gradient( center top, #ffb319 5%, #fb9e25 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb319', endColorstr='#fb9e25');
    background-color: #ffb319;
    border: 1px solid #eeb44f;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: inset 0 1px 0 0 #fce2c1;
    color: #111;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477',endColorstr='#fb9e25');
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    height: 27px;
    line-height: 27px;
    margin-top: 4px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    width: 102px;
}
.row-col-inner a.move:hover, .buttonCompare a:hover
{
    background: 0;
    background-color: #fb9e25;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25',endColorstr='#ffc477');
}
.row-col-inner a.move:active, .buttonCompare a:active
{
    position: relative;
    top: 1px;
}
#productSoSanh
{
    background: none repeat scroll 0 0 #FFFFFF;
    width: 100%;
    overflow: hidden;
}
#productSoSanh .xemthem
{
    float: right;
    text-align: right;
    padding-top: 10px;
}
#productSoSanh .xemthem a
{
    padding-right: 10px;
    font-style: italic;
    font-weight: bold;
    color: #757575;
}
#productSoSanh .xemthem a:hover
{
    color: #2283AB;
}
#productSoSanh ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#productSoSanh ul.rank li .noiban span.rank1
{
    background: url("images/icon_ranking01.gif") no-repeat scroll left top transparent;
    font: bold 135% Verdana;
    padding-top: 2px;
    color: #FF6C00;
    padding-left: 25px;
    margin-left: 35px;
}
#productSoSanh ul.rank li .noiban span.rank2
{
    background: url("images/icon_ranking02.gif") no-repeat scroll left top transparent;
    font: bold 135% Verdana;
    padding-top: 2px;
    color: #FF6C00;
    padding-left: 25px;
    margin-left: 35px;
}
#productSoSanh ul.rank li .noiban span.rank3
{
    background: url("images/icon_ranking03.gif") no-repeat scroll left top transparent;
    font: bold 135% Verdana;
    padding-top: 2px;
    color: #FF6C00;
    padding-left: 25px;
    margin-left: 35px;
}
#productSoSanh ul.rank li .content
{
    float: left;
    height: 80px;
    padding-left: 5px;
    padding-top: 0;
    width: 40%;
}
#productSoSanh ul li
{
    border-bottom: 1px dotted #f9f9f9;
    border-left-color: inherit;
    border-right-color: inherit;
    border-style: none none solid;
    border-top-color: inherit;
    border-width: 1px medium;
    height: 80px;
    margin: 0 5px;
    overflow: hidden;
    padding: 7px 0px 7px 0px;
}
#productSoSanh ul li .content
{
    float: left;
    height: 80px;
    padding-left: 5px;
    padding-top: 0;
    width: 40%;
}
#productSoSanh ul li .content h3.name
{
    background: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    line-height: 17px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}
#productSoSanh ul li .content h3.name a
{
    color: #4d4d4d;
    font-size: 14px;
    font-weight: bold;
}
#productSoSanh ul li .content h3.name a:hover
{
    color: #333;
}
#productSoSanh ul li .content p
{
    font-size: 11px;
    font-weight: normal;
    line-height: 16px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}
#productSoSanh ul li .content .summary
{
    color: #354F59;
    font-size: 11px;
    font-weight: normal;
    line-height: 15px;
    padding-top: 5px;
}
#productSoSanh ul li .content .fsummary
{
    color: #354F59;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
}
#productSoSanh ul li .content .fsummary cite
{
    color: #006621;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
}
#productSoSanh ul li .noiban
{
    float: left;
    padding-left: 10px;
    padding-right: 0px;
    width: 120px;
    margin: 0px 10px 0px 0px;
}

#productSoSanh ul li .noiban a
{
    font-size: 12px;
    color: #1E0FBE;
}
#productSoSanh ul li .noiban a span
{
    color: #4D4D4D;
    display: block;
    padding-top: 0;
    width: 100%;
}
#productSoSanh ul li .noiban a img
{
    width: 110px;
    max-height: 40px;
    padding-top: 0px;
    border: none;
}
#productSoSanh .social
{
    width: 175px;
    position: absolute;
    padding-top: 5px;
}
#productSoSanh ul li .noiban img.imageWebsite
{
    height: 30px;
    border: none;
}
#productSoSanh ul li .compare
{
    float: left;
    padding-left: 5px;
    padding-right: 0px;
    width: 130px;
    display: block;
}

#productSoSanh ul li .compare a.domain
{
    color: #4D8703;
    font-size: 12px;
    text-decoration: none;
}
#productSoSanh ul li .compare p.price
{
    color: #CC4225;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 0px;
    margin-top: 0;
    padding-top: 0;
}
#productSoSanh ul li .compare p.time
{
    color: #666666;
    font-size: 11px;
    font-weight: normal;
    line-height: 11px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 2px;
    padding-top: 0;
    text-align: center;
}
#productSoSanh ul li .compare .button
{
    padding-top: 3px;
    text-align: center;
}
#productSoSanh ul li .compare .form_button
{
    background: none repeat scroll 0 0 #518B07;
    border: 1px solid #439E5B;
    border-radius: 3px;
    color: White;
    cursor: pointer;
    font-size: 11px;
    padding: 3px 6px;
    width: 75px;
}
#productSoSanh .hinhanh img
{
    max-width: 650px;
    padding: 7px;
}
#productSoSanh .hinhanh
{
    overflow: hidden;
    max-width: 690px;
}
#productSoSanh .kichthuoc
{
    padding-left: 100px;
    padding-top: 10px;
}
.noiban #fbb
{
    width: 90px;
    float: left;
    position: relative;
}
.noiban #ggp
{
    width: 75px;
    float: left;
    padding-left: 10px;
}
.boxdanhgia ul li
{
    margin: 0 !important;
    width: 670px !important;
}
.boxdanhgia ul li p
{
    color: #333;
}
.boxdanhgia ul li h2
{
    color: #333;
    font-size: 14px;
}
.boxdanhgia ul li h5
{
    padding: 2px 0;
    color: gray;
    font-weight: normal;
    font-size: 11px;
}
.boxdanhgia ul li img
{
    float: left;
    margin: 0 10px 0 5px;
}
.boxdanhgia a
{
    display: block;
}
.boxdanhgia a:hover
{
    background: #f9f9f9;
}
.headerts
{
    background-color: #f9f9f9;
    background: #f6f6f6;
    font-size: 14px;
    padding: 9px 9px 8px 10px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 10px;
}
.maints
{
    clear: left;
    overflow: hidden;
}
.leftmain
{
    float: left;
    width: 100%;
}
.rightmain
{
    float: right;
    width: 48%;
}
.leftmain li
{
    height: auto !important;
    line-height: 18px;
    margin: 0px !important;
    padding: 7px 0px 7px 160px !important;
    box-sizing: border-box;
    box-sizing: border-box;
    /*float: left;
    width: 50%;*/
}
.tskt
{
    border: none !important;
}
.leftmain li:last-child
{
    border-bottom: none !important;
}
.leftmain strong
{
    float: left;
    width: 160px;
    margin: 0px 0px 0px -160px;
}
.leftmain span
{
    display: block;
    line-height: 25px;
}
.leftmain span p
{
    padding: 0 5px;
}
.leftmain span p:nth-child(even)
{
    background: #f9f9f9;
}
.rightmain b
{
    font-size: 14px;
}
.rightmain p
{
    text-align: justify;
    line-height: 20px;
    font-size: 13px;
    padding-top: 6px;
}
/*end boxsosanh*/
.cot1search
{
    width: 67%;
}
.cot2search
{
}
/*.cot2search .col2-colp{width:99%;}
.cot2search .row-col2-col{width:98%;}
.cot2search .row-col-inner{height:auto;}*/
.loading
{
    display: none;
    position: fixed;
    z-index: 999;
}
.loading img
{
    max-width: 40px;
    max-height: 40px;
}
.modal
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: 99;
    opacity: 0.4;
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    min-height: 100%;
    width: 100%;
}
cite
{
    font-style: normal;
    color: #006621;
}
.inputnotsearch h1
{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial;
}
.inputnotsearch span
{
    color: #02B1F2;
}
.inputnotsearch p
{
    font-size: 16px;
    font-weight: bold;
    color: #02B1F2;
}
.footerbottom
{
    position: fixed !important;
    bottom: 0px;
    width: 100%;
}
.ratinglist
{
    font-size: 11px;
    float: left;
}
.ratinglist b
{
    float: left;
    margin-right: 6px;
    font-size: 12px;
}
.ratinglist .clearfix
{
    display: inline-block;
}
.ratinglist .itemrating
{
    margin-left: 15px;
}
.fl_l
{
    font-weight: normal;
}

.fl_l span
{
    font-weight: normal;
}

#boxKeyword
{
}
#boxKeyword h3
{
    background: none repeat scroll 0 0 #f6f6f6;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 9px 9px 8px 10px;
    text-transform: uppercase;
}
#divKeyword
{
    display: block;

    padding-left: 3px;
}

#divKeyword a
{
    border: 1px solid #e3e3e3;
    color: #838383;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin: 3px;
    padding: 0.2em 0.6em;
    text-decoration: none;
white-space:nowrap;
}
#divKeyword a:hover
{
    background: none repeat scroll 0 0 #d9d9d9;
}
.ui-autocomplete
{
    z-index: 999999 !important;
}

