﻿.tenspan:last-child
{
    display: none;
}
.container
{
    max-width: 1170px;
    width: 100%;
}
.news-one
{
    padding: 0px 0px 10px 0px;
}
.news-one img
{
    width: 100%;
    height: auto;
    max-height: 340px;
    margin: 0px 10px 10px 0px;
    float: left;
}
.news-content
{
    padding: 0px 10px 0px 0px;
    min-height: 400px;
    margin: 0px 475px 0px 0px;
    border-right: 1px solid #eeeeee;
    padding-right: 10px;
    font-family: Times New Roman;
    font-size: 12pt;
}
.news-content .content-detail
{
    color: #333333;
    font-family: Times New Roman;
    font-size: 12pt;
    margin: 0 0 1em;
}
.news-content .content-detail table
{
    width: 100%;
    max-width: 100%;
}
.news-content .content-detail iframe
{
    max-width: 100%;
}
.content-detail h1, .content-detail h2, .content-detail h3, .content-detail h4, .content-detail h5, .content-detail h6
{
    font-weight: bold;
}
.news-content:first-child
{
    border-right: 1px solid #eeeeee;
}
.news-content .news-one h1
{
    line-height: 10px;
    padding: 0;
    margin: 0 0;
    margin: 0;
}
.news-content .news-one h1 a:hover
{
    opacity: 0.8;
}
.news-content .news-one h1 a
{
    margin: -5px 0px 0px 0px;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}
.news-content .news-one p.date
{
    margin: 3px 0px 0px 0px;
}
.news-content .news-one p
{
    padding: 0px !important;
    border: none !important;
    margin: 0;
}
.news-content .item-news
{
    border-top: 1px dotted #ccc;
    padding: 10px 0px;
    overflow: hidden;
}
.news-content .item-news img
{
    width: 130px;
    height: 95px;
    margin: 0px 10px 0px 0px;
    float: left;
}
.news-content .item-news h3 a:hover
{
    opacity: 0.8;
}
.news-content .item-news h3 a
{
    margin: -5px 0px 0px 0px;
    color: #4d4d4d;
    font-size: 13px;
    font-weight: bold;
}
.news-content .item-news p.date
{
    margin: 1px 0px;
}
.news-content .item-news p
{
    margin: 0px 0px;
    margin: 0px;
}
.pager
{
    margin: 20px 0px 10px 0px;
}
.pager a
{
    float: left;
    color: #333333;
    height: 25px;
    padding: 0px 10px;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    border: 1px solid #ccc;
    margin: 0px 5px 0px 0px;
    font-weight: bold;
}
.pager a.current, .pager a:hover
{
    color: white;
    background-color: #00BBFF;
    border: 1px solid #00BBFF;
}
/*************8*/
.news
{
    position: relative;
    min-height: 400px;
    margin: 0px auto;
}

.news-page .wrap, .news-page .container
{
    max-width: 980px;
}

.news-colright
{
    position: absolute;
    width: 155px;
    min-height: 100px;
    top: 0px;
    right: 310px;
}
.news-colcenter
{
    position: absolute;
    width: 300px;
    min-height: 100px;
    top: 0px;
    right: 0px;
}
.box-search input[type="submit"]
{
    height: 33px;
}
.wrap
{
    margin: 0px auto;
    min-width: 0px;
    padding: 0px 5px;
}
.top
{
    background-color: #f3f3f3;
    height: 60px;
    min-width: 100px;
}
.top-inner
{
    position: relative;
    height: 60px;
}
.box-search
{
    float: left;
    width: 35%;
}
#box180
{
    overflow: hidden;
    border-right: 1px solid #eee;
    padding: 0px 10px 0px 0px;
}
#box180 h4
{
    background-color: #f9f9f9;
    background: #f6f6f6;
    font-size: 14px;
    padding: 9px 9px 8px 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
#box180 h4 a
{
}
#box180 .topWeb .box
{
    padding-bottom: 10px;
    padding-top: 10px;
    overflow: hidden;
    border-bottom: 1px #E5E5E5 dotted;
}
#box180 .topWeb .box .rank
{
    float: left;
    width: 45px;
    float: left;
    padding-left: 3px;
    padding-right: 0px;
    color: #FF6C00;
    padding-top: 5px;
}
#box180 .topWeb .box .image
{
    float: left;
    width: 40px;
}
#box180 .topWeb .box .image img
{
    max-width: 100px;
}
#box180 .topWeb .box .rank span
{
    font: bold 135% Verdana;
    padding-top: 2px;
    padding-left: 25px;
}
#box180 .topWeb .box .rank span.rank1
{
    background: url("images/icon_ranking01.gif") no-repeat scroll 0px 4px transparent;
}
#box180 .topWeb .box .rank span.rank2
{
    background: url("images/icon_ranking02.gif") no-repeat scroll 0px 4px transparent;
}
#box180 .topWeb .box .rank span.rank3
{
    background: url("images/icon_ranking03.gif") no-repeat scroll 0px 4px transparent;
}
#box180 .topWeb .box .rank span.rank4, #box180 .topWeb .box .rank span.rank5, #box180 .topWeb .box .rank span.rank6, #box180 .topWeb .box .rank span.rank7, #box180 .topWeb .box .rank span.rank8, #box180 .topWeb .box .rank span.rank9, #box180 .topWeb .box .rank span.rank10
{
    color: #777;
    padding-left: 13px;
}
.col300
{
    /*border-left: 1px solid #eeeeee; padding:0px 0px 0px 10px;*/
    position: relative;
}
.col300 a.view-more
{
    /*position: absolute;     top: 10px;     right: 10px;*/
    float: right;
    line-height: 30px;
}
.col300 a.view-more:hover
{
    font-weight: bold;
}
.col300 h4
{
    background-color: #f9f9f9;
    background: #f6f6f6;
    font-size: 14px;
    padding: 9px 9px 8px 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}
.col300 .ite
{
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px dotted #e2e2e3;
}
.col300 .ite:hover
{
    background: #f6f6f6;
}
.col300 .ite > a
{
    float: left;
    margin: 0px 10px 0px 0px;
    max-height: 100px;
}
.col300 .ite .btnSpam
{
    color: #cc4225;
}
.col300 .ite .btnSpam:hover, .col300 .ite .btnSelect:hover
{
    font-weight: bold;
}
/*
.col300 .ite:nth-child(2n+1)
{
    background-color: #faf6f6;
}*/
.col300 .ite img
{
    width: 75px; /*90px;*/
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 1px;
    border: 1px solid #f4f4f4;
}
.col300 .ite .news-description
{
    display: none;
}
.col300 .ite h3 a
{
    color: #111;
    text-align: justify;
    font-size: 12px;
    font-weight: bold;
}
.col300 .ite h3
{
    line-height: 17px;
    margin: -3px 0px 5px 0px;
}
.col300 .ite h3:hover
{
    opacity: 0.8;
}

.col300 .ite p
{
    color: #333;
    text-align: justify;
    font-size: 11px;
}
.news-content h1
{
    color: #333;
    font-size: 28px;
    font-family: Arial;
    font-weight: bold;
    margin: 5px 0px 10px 0px;
}
.news-content h2
{
    color: #444;
    font: 700 14px/18px arial;
    padding-bottom: 10px;
    width: 100%;
}
.news-content img.img-res
{
    display: block;
    max-width: 100% !important;
    height: auto;
    margin: 10px auto !important;
}
.news-content .date
{
    margin: 5px 0px 0px 0px;
    font-size: 12px;
    color: #4d4d4d;
}
.news-content p
{
    text-align: justify;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0px;
}
.ite p
{
    margin: 0;
}
@media (max-width:975px)
{
    .control
    {
        position: absolute;
        top: 5px;
        right: 10px;
    }
    .news-colright
    {
        display: none;
    }
    .news-colcenter
    {
        right: 0px;
        overflow: hidden;
    }

    .news-content
    {
        margin: 0px 310px 0px 0px;
    }

    .box-search
    {
        width: 35%;
    }
}

@media (max-width:768px)
{

    .news-colright
    {
        display: none;
    }

    .news-colcenter
    {
        width: 200px;
    }
    .col300 .ite img
    {
        height: auto;
        margin-right: 0px;
        float: none;
        margin-bottom: 9px;
    }
    .news-content
    {
        margin: 0px 210px 0px 0px;
    }

    .box-search
    {
        float: left;
        width: 100%;
        margin: 15px 0px;
    }
    .box-search input[type="text"]
    {
        width: 85%;
        padding: 0;
    }
    .box-search input[type="submit"]
    {
        height: 33px;
        width: 14.6%;
    }
}

@media (max-width:992px)
{
    .footer-bottom .coppy
    {
        border: none !important;
    }
    .news-page .container .cer
    {
    }
    .news-page .container .coppy h3
    {
        margin: 10px 0px;
    }
}
@media (max-width:485px)
{
    .news-colcenter
    {
        border: 1px solid lime;
        width: 200px;
        display: none;
    }


    .news-content
    {
        margin: 0px 0px 0px 0px;
        padding: 0px !important;
        border: none !important;
    }

    .col300 .ite img
    {
        display: none;
    }

    .col300 .ite p
    {
        display: none;
    }
}
@media (max-width:400px)
{
    .news-one img
    {
        width: 100%;
        height: auto;
        float: none;
        display: block;
        margin: 0px auto 5px auto;
    }
    .news-content .news-one h1
    {
        line-height: 10px;
        padding: 0;
        margin: 0;
    }


}
.normal
{
    background: none repeat scroll 0 0 #3F84B4 !important;
    color: #fff !important;
}
.rvSocial
{
    overflow: hidden;
    margin: 20px 0px;
    padding: 0px 10px;
}
.likePaging
{
    float: left;
    padding-left: 3px;
    padding-top: 2px;
    position: absolute;
}
#ggplusdd
{
    float: left;
    height: 27px;
    padding-left: 85px;
    padding-top: 2px;
    width: 65px;
}
.newsOther h4
{
    background-color: #f9f9f9;
    background: #f6f6f6;
    font-size: 14px;
    padding: 9px 9px 8px 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}
.newsOther ul
{
    padding-left: 20px;
}
.newsOther li
{
    list-style: initial;
    line-height: 26px;
}
.newsOther h3
{
    font: 500 13px/18px Arial;
}
.newsOther h3 a
{
    color: #333;
    line-height: 25px;
}
.newsOther h3 a:hover
{
    color: #4f82ac;
}
.news-content .col300
{
    border-left: none;
    padding: 0px;
}
.news-content .ite
{
    overflow: hidden;
}
.news-content .product-info
{
    width: 100%;
    display: inline-block;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    background: #fafafa;
}
.news-content .product-info .gallery, .news-content .product-info .rank
{
    display: inline-block;
    vertical-align: top;
}
.news-content .product-info .rank li
{
    height: 48px !important;
}
.news-content .product-info .rank .noiban, .news-content .product-info .rank li img
{
    width: 100px !important;
}
.news-content .product-info .compare p.price
{
    color: #cc4225;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    text-align: left;
    margin-left: 10px;
}
.news-content .product-info .compare, .news-content .product-info .noiban
{
    display: inline-block;
    float: left;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
}
.news-content .product-info h1
{
    font-size: 16px;
    font-weight: bold;
}
.news-content .view-more-news
{
    background: none repeat scroll 0 0 #eee;
    color: #666;
    display: inline-block;
    font: 700 11px/26px arial;
    padding: 0 20px;
    text-align: center;
    position: absolute;
    top: -15px;
    margin-left: -25px;
}
.news-content .view_more_div
{
    margin-top: 20px;
    text-align: center;
    position: relative;
    overflow: visible;
}
.news-content strong.prices
{
    color: #cc4225;
    font-size: 16px;
    font-weight: bold;
}
.news-content .overview-left
{
    display: inline-block;
    width: 30%;
    float: left;
}
.news-content .overview-right
{
    display: inline-block;
    width: 70%;
}
.ite a span
{
    margin: 5px 0px 0px 0px;
    font-size: 12px;
    color: #4d4d4d;
}
.news-content .ite:nth-child(2n+1)
{
    background-color: #fff;
}
.news-content .ite img
{
    /*max-width: 50px;     max-height: 40px;*/
    width: 130px;
}
.news-content .ite .news-description
{
    display: block;
}
.img-item
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 155px;
}
.img-item img
{
    max-width: 155px;
    max-height: 100px;
    margin-bottom: 10px;
}
.item_info
{
    font-family: Arial;
    text-align: center;
}
.item_info h3 a
{
    color: #4d4d4d;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
}
.item_info .price
{
    color: #CC4225;
    font-weight: bold;
    font-size: 16px;
    padding-top: 8px;
    text-align: center;
}
.item_info .noiban
{
    color: #999999;
    font-size: 11px;
    text-align: center;
}
.btnss
{
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-box-shadow: inset 0 1px 0 0 #fce2c1;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #fce2c1;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffb319), color-stop(1, #fb9e25) );
    background: -moz-linear-gradient( center top, #ffb319 5%, #fb9e25 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb319', endColorstr='#fb9e25');
    background-color: #ffb319;
    border: 1px solid #eeb44f;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: inset 0 1px 0 0 #fce2c1;
    color: #fff;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477',endColorstr='#fb9e25');
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    height: 27px;
    line-height: 27px;
    margin-top: 4px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-shadow: 1px 1px 0 #cc9f52;
    width: 102px;
}
.btnss:hover
{
    background: 0;
    background-color: #fb9e25;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25',endColorstr='#ffc477');
}
.btnss:active
{
    position: relative;
    top: 1px;
}

.news-content .open-link
{
    background: url("images/open-link.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    width: 20px;
}
.news-content .open-link:hover
{
    background: url("images/open-link-hover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.publish-date
{
    font-size: 11px;
    font-style: italic;
    color: #999999;
}
