﻿.googleweb
{
    margin-top: -1px;
    position: absolute;
    z-index: -100000;
    visibility: hidden;
    width: 1px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
ul, ol
{
    list-style: none;
}
strong
{
    font-weight: bold;
}
article, aside, figure, footer, header, hgroup, menu, nav, section
{
    display: block;
}
.group:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.group
{
    display: inline-block;
    clear: both;
}
/* start commented backslash hack \*/
* html .group
{
    height: 1%;
}
.group
{
    display: block;
}
/* close commented backslash hack */
a img
{
    border: 0;
}
a:link, a:visited
{
    text-decoration: none;
}
/*zoom:1;
 *display:inline;*/
#scroll_top:hover
{
    opacity: 1;
}
#scroll_top
{
    opacity: 0.7;
    background: url(images/scrollTop.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: none;
    height: 46px;
    position: fixed;
    right: 6px;
    top: 85%;
    width: 46px;
    z-index: 999;
}
#scroll_top:hover
{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
.loginan
{
    height: 18px;
    float: right;
}
.tenspan
{
    float: left;
    padding-top: 10px;
    padding-right: 7px;
    color: #4D4D4D;
}
.loginbtn
{
    background: url(images/fbgl.png)no-repeat left center;
    display: block;
    height: 16px;
    overflow: hidden;
}
.fblogin
{
    padding: 10px 0px;
    margin-right: 4px;
    background-color: #5f84c9;
    color: #fff;
    border-color: #5f84c9;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    width: 38px;
    float: left;
    -webkit-box-shadow: 0 3px 4px -3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 4px -3px rgba(0,0,0,0.1);
    box-shadow: 0 3px 4px -3px rgba(0,0,0,0.1);
}
.fblogin .loginbtn
{
    width: 8px;
    background-position: 0px 0px;
    margin-left: 14px;
}
.fblogin:hover
{
    background-color: #496ab0;
    color: #fff;
    border-color: #496ab0;
}
.gglelogin
{
    padding: 10px 0px;
    background-color: #df4a32;
    border-color: #d54c20;
    width: 38px;
    -moz-border-radius: 18px;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    float: left;
    -webkit-box-shadow: 0 3px 4px -3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 4px -3px rgba(0,0,0,0.1);
    box-shadow: 0 3px 4px -3px rgba(0,0,0,0.1);
}
.gglelogin:hover
{
    background-color: #e54c20;
}
.gglelogin .loginbtn
{
    width: 20px;
    background-position: -10px 0px;
    margin-left: 10px;
}
.loginshow
{
    float: right;
    cursor: pointer;
}
.loginshow .n
{
    color: White;
    float: left;
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding-right: 5px;
}
.loginshow .nd, .loginshow .nd a, .loginshow .lo, .loginshow .xc
{
    color: #4d4d4d;
    float: left;
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding-right: 5px;
}
.loginshow .nd
{
    padding-left: 5px;
    margin-top: 10px;
}
.loginshow .lo a
{
    padding-left: 5px;
    color: #C3C3C3;
    float: left;
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding-right: 5px;
}
.loginshow .pi
{
    float: left;
    border: none;
    margin-right: 2px;
    margin-top: 10px;
}
.loginshow em
{
    float: right;
    display: block;
    width: 9px;
    height: 6px;
    background-image: url(../images/arr1.png);
    margin: 24px 0px 0px 2px;
}
.pop-login:before
{
    content: "";
    position: absolute;
    top: -18px;
    right: 12px;
    border: 8px solid transparent;
    border-bottom-color: #02B1F2;
    width: 0px;
    height: 0px;
}
.pop-login
{
    z-index: 100;
    cursor: pointer;
    position: absolute;
    top: 43px;
    right: -17px;
    background: none repeat scroll 0 0 #fff;
    background-color: #FFF;
    border: 1px solid #BBB;
    border-top: 3px solid #02B1F2;
    color: #333;
    display: none;
    font-size: 11px;
}
.pop-login ul
{
    width: 160px;
}
.pop-login li
{
    clear: left;
    overflow: hidden;
}
.pop-login a
{
    border-bottom: 1px solid #e1e1e1;
    display: block;
    padding: 5px 10px;
    white-space: nowrap;
    color: #4d4d4d;
    font-weight: bold;
    height: auto;
    line-height: 25px;
    min-width: 140px;
}
.pop-login a:hover
{
    color: White !important;
    background-color: #02B1F2;
}
.pop-login li:last-child a
{
    border-bottom: 0;
}
.lgactive .pop-login
{
    display: block;
}


.popup-news-relation .overview-content
{
    width: 100%;
}
.relationNewsList
{
    margin-bottom: 41px!important;
    }

.relationNewsList h3 a {
    color: #111;
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
}
.relationNewsList img
{
    max-width: 75px;
    }
.relationNewsList .img-news-col
{
    width: 79px;
    }
.relationNewsList .stt-news-col
{
    width: 70px;
    }
.relationNewsList .related-news-number 
{
    width: 65px;
    }
.relationNewsList .source-news-col
{
    width: 150px;
    text-align: center;
    }
.popup-footer 
{
    width: 100%;
    height: 41px;
    position: fixed;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #ccc;
    }
.popup-footer a 
{
    margin-top: 10px!important;
    }



@media (max-width:500px)
{
    .loginshow .nd a
    {
        display: none;
    }
    .tenspan
    {
        display: none;
    }

    .top a.logo img
    {
        width: 150px;
        margin: 0px 0px 0px 0px;
    }

}
@media (max-width:975px)
{
    .control
    {
        position: absolute;
        top: 4px !important;
        right: 10px;
    }
    .show-find h3
    {
        display: block;
    }





