﻿@charset "utf-8";

@font-face {
    font-family: "ftbicon";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/ftbicon3.eot#iefix") format("embedded-opentype"), url("fonts/ftbicon3.woff") format("woff"), url("fonts/ftbicon3.ttf") format("truetype"), url("fonts/ftbicon3.svg#ftbicon3") format("svg");
}
body { color: #4D4D4D; cursor: default; font: 13px/1.4 Helvetica,Arial,sans-serif;}
a, .link { color: #02B1F2; cursor: pointer; text-decoration: none;}
a:hover, .link:hover { text-decoration: none; }
img { border: 0 none;}




[class^="icon-"]:before, [class*=" icon-"]:before, [class^="icon-"]:after, [class*=" icon-"]:after {
    display: inline-block;
    font-family: "ftbicon";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1em;
    margin: 0 0.2em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    width: 1em;
}

.icon-dots:before {
    content: "";
}

.review-more-toggle .icon-dots:before {
    margin: 0 0.4em;
}

.review-more-toggle:hover {
    color: #999999;
}

  .iconhome
{
	
	float:left;
}
       
       .iconhome:before 
{
    width: 0px;
    height: 0px;
    float: left;
	margin:17px 15px 0px 0px;
  
  cursor:pointer;
font-family: "ftbicon";
font-style: normal;
font-weight: normal;
speak: none;

text-decoration: inherit;

text-align: center;

font-variant: normal;
text-transform: none;

	content:"\e845";

	color:#0bf;
	font-size: 25px;
}

.icon-menu:before {
width: 1.4em;
}

.icon-menu:before {
content: "\e845";
}