﻿.page-cate .lading-outer
{
    background-color: #f4f4f4;
    background-image: none;
}

.page-cate .lading
{
    background-color: #f4f4f4;
    background-image: none;
}

.page-cate .nav
{
    border: 1px solid #dddddd;
}

.page-cate .nav h3
{
    color: #222222;
}


.nav h3 em
{
    float: left;
    font-style: normal;
}

.page-cate .nav h3 span
{
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    margin: 0px 0px 0px 10px;
    width: 19px;
    height: 17px;
    display: block;
    float: right;
    background-image: url(../img/menu_icon2.png);
    background-repeat: no-repeat;
    margin: 11px 0px 0px 10px;
}

.page-cate .nav:hover
{
    border-color: #0bf;
    cursor: pointer;
}

.page-cate .nav:hover h3 span
{
    background-position: top right;
}

.page-cate .nav:hover h3
{
    color: #0bf;
}

.page-cate .nav:hover h3 span
{
    border-top-color: #0bf;
}

#return-login
{
    display: inline-block;
}

.page-cate .login a
{
    /*width: 40px;     height: 40px;     border: 1px solid white;     border-radius: 1px;     float: left;     margin: 0px 0px 0px 10px;     -moz-transition: all ease-in-out 0.3s;     -o-transition: all ease-in-out 0.3s;     -webkit-transition: all ease-in-out 0.3s;     transition: all ease-in-out 0.3s;*/
    color: #4D4D4D;
}

.page-cate .login a.facebook
{
    background-image: url(../img/f.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #4c6fa4;
    border: 1px solid #4c6fa4;
}

.page-cate .login a.google
{
    background-image: url(../img/g.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #dd4b39;
    border: 1px solid #dd4b39;
}

.page-cate .login a.facebook:hover
{
    opacity: 0.9;
}

.page-cate .login a.google:hover
{
    opacity: 0.9;
}

.logo1
{
    padding: 0px;
    margin: 2px 10px 0px 0px;
}

.logo1 img
{
    width: 195px;
    margin: 5px 5px 0px 0px;
}

.page-cate .nav-touch
{
    border: 1px solid #0bf;
    cursor: pointer;
    background-color: #0bf;
}
.page-cate .loginshow .nd:before
{
    border-top-color: #333;
}
.search-cate
{
    height: 40px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    float: left;
}

.search-cate .search input[type='text']
{
    border: none;
    padding: 0px;
    margin: 0px;
    height: 40px;
    width: 100%;
    padding: 0px 10px;
    background-color: transparent;
    float: left;
    outline: none;
    border: 1px solid #dfdfdf;
    border-radius: 1px;
}

.search-cate .search input[type='submit']
{
    height: 40px;
    border-radius: 0px 1px 1px 0px;
    background-image: url(../img/search2.png);
    width: 70px;
    margin-right: -70px;
}

.search-cate .search
{
    height: 40px;
    border-radius: 0px;
    padding-right: 70px;
}

.middle-top
{
    padding: 10px 0px;
}

.breadCrumb
{
    border-bottom: 1px solid #f8f8f8;
}

.breadCrumb ul
{
    padding: 0px;
    margin: 0px;
}

.breadCrumb ul li
{
    float: left;
    position: relative;
    list-style: none;
    padding: 0px 20px 0px 0px;
    margin: 0px 10px 0px 0px;
    height: 30px;
}

.breadCrumb ul li a
{
    font-size: 14px;
    color: #333333;
    display: block;
}

.breadCrumb ul li.current a
{
    color: #0bf;
}

.breadCrumb ul li span
{
    float: right;
    width: 0px;
    height: 0px;
    display: block;
    border: 4px solid transparent;
    border-left-color: #333;
    margin: -13px -15px 0px 0px;
}

.breadCrumb ul li.current span
{
    border: 4px solid transparent;
    margin: -10px -15px 0px 0px;
    border-top-color: #0bf;
}

.breadCrumb ul li div
{
    display: none;
    width: 220px;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 30px;
    border: none;
    padding: 0px;
    height: auto;
    border-top: 4px solid #0bf;
    box-sizing: none !important;
    z-index: 9999999;
}

.breadCrumb ul li:hover div
{
    display: block;
}


.breadCrumb ul div:before
{
    border: 4px solid transparent;
    width: 0px;
    height: 0px;
    border-bottom-color: #0bf;
    content: '';
    display: block;
    position: absolute;
    margin: -12px 0px 0px 18px;
}

.breadCrumb ul ul
{
    height: auto;
}

.breadCrumb ul ul li
{
    float: none;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 1px solid #f3f3f3;
    border-top: none;
    margin: 0px;
}

.breadCrumb ul li.current ul li a
{
    color: #333;
}

.breadCrumb ul ul li a
{
    float: none;
    text-decoration: none;
    display: block;
    padding: 4px 10px 4px 10px;
    margin: 0px;
}

.breadCrumb ul ul li a:hover
{
    background-color: #0bf;
    color: white !important;
}

.breadCrumb ul ul li:hover
{
    border: 1px solid #0bf;
    border-top: none;
}
.middle-top h4
{
    font-size: 16px;
    color: #333333;
    margin: 20px 0px 5px 0px;
}

.middle-top h4 strong
{
    color: #02b0f1;
    font-weight: normal;
}
.middle-top h4 a
{
    color: #02b0f1;
    font-weight: normal;
}
.middle-top h4 a h1
{
    color: #02b0f1;
    font-weight: normal;
    font-size: 15px;
    display: inline;
}
.middle
{
    min-height: 100px;
    padding: 0px 0px 20px 265px;
}

.show-filter
{
    display: none;
}
.middle-left
{
    width: 250px;
    background-color: #f4f4f4;
    margin: 0px 0px 0px -265px;
    float: left;
}

.middle-right
{
    border-left: 1px solid #f8f8f8;
    min-height: 100px;
    padding: 0px 0px 0px 15px;
    float: right;
    width: 100%;
    overflow: hidden;
}

.middle-left h2
{
    font-size: 14px;
    color: white;
    padding: 10px;
    margin: 0px;
    background-color: #0bf;
    text-transform: uppercase;
    font-weight: bold;
}

.middle-left h6
{
    color: #0bf;
    font-size: 14px;
    text-transform: uppercase;
    margin: 1px 0px;
}
.middle .filter
{
    position: static;
    display: block;
}

.middle .filter-fix
{
    display: none;
}
.filter-box
{
    padding: 10px;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #fafafa;
}
.list-filter
{
    padding: 10px 0px;
    margin: 0px;
    list-style: none;
}
.list-filter li
{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.list-filter li label
{
    padding: 0px 5px;
    cursor: pointer;
    display: block;
    margin: 0px;
}
.list-filter li label input[type="radio"]
{
    line-height: 25px;
    float: left;
    margin: 5px 0px 0px 0px;
}
.list-filter li label span
{
    padding: 0px 0px 0px 5px;
    font-weight: normal;
    color: #222;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
}
.list-filter li label span i
{
    color: #333333;
    font-style: italic;
    font-size: 13px;
}
.reall-all
{
    font-size: 13px;
    color: #0bf;
    margin: 0px;
    padding: 0px 0px 0px 5px;
}
.reall-all em
{
    font-style: normal;
}
.reall-all em:hover
{
    text-decoration: underline;
    cursor: pointer;
}
.list-filter li label:hover
{
    background-color: #444;
    display: block;
    border-radius: 1px;
}
.list-filter li label:hover span
{
    color: white;
}
.list-filter li label:hover span i
{
    color: white;
}
.list-price
{
}
.list-price li
{
}
.list-price li a
{
    font-size: 14px;
    color: #333;
    display: block;
    padding: 2px 0px 2px 5px;
}
.list-price li a strong
{
    color: #dd4b39;
    font-weight: bold;
}
.list-price li a em
{
    color: #333333;
    font-style: italic;
    font-size: 13px;
}
.list-price li a:hover, .list-price li.selected-item a
{
    background-color: #444;
    display: block;
    border-radius: 1px;
    color: white;
    text-decoration: none;
}
.list-price li a:hover em, .list-price li.selected-item a em
{
    color: white;
}
.list-price li a:hover strong, .list-price li.selected-item a strong
{
    color: white;
}
.choose-price
{
}
.choose-price p
{
    font-size: 13px;
    color: #0bf;
    margin: 0px 0px 6px 0px;
}
.price-range
{
    float: left;
    width: 86px;
    height: 20px;
    border: 1px solid #d0d0d0;
    background-color: white;
    border-radius: 2px;
    position: relative;
}
.choose-price-inner span
{
    float: left;
    color: #333;
    margin: 1px 6px 0px 14px;
}
.price-range i
{
    position: absolute;
    top: 0px;
    right: -8px;
    color: #dd4b39;
    font-size: 13px;
}
.price-range input[type="text"]
{
    width: 80px;
    padding: 0px 0px 0px 4px;
    height: 20px;
    text-align: right;
    border: none;
    font-size: 12px;
    color: #dd4b39;
    background-color: transparent;
}
.price-range input[type="text"]:hover, .price-range input[type="text"]:focus
{
    outline: none;
}
.choose-price input[type="submit"]
{
    margin: 10px auto;
    border: none;
    display: inline-block;
    color: white;
    font-size: 13px;
    border-radius: 2px;
    background-color: #0bf;
}
.submit-price
{
    text-align: center;
}

.list-cate-filter
{
    border: 1px solid #ebebec;
    padding: 10px;
    margin: 0px 0px 10px 0px;
}

.list-cate-filter ul li
{
    float: left;
    border: 1px solid transparent;
    padding: 3px 5px;
    margin: 0px 5px 5px 0px;
    height: 25px;
    cursor: pointer;
    position: relative;
    border: 1px solid #dddddd;
}
.list-cate-filter ul li img
{
    float: left;
    width: 18px;
    height: 18px;
    margin: 0px 5px 0px 0px;
}
.list-cate-filter ul li:hover
{
    background-color: #f4f4f4;
}
.list-cate-filter ul li i
{
    margin: 5px 0px 0px 5px;
    font-size: 10px;
    float: right;
    color: #0bf;
}
.list-cate-filter ul li a
{
    font-size: 12px;
    color: #333333;
    float: left;
}
.list-cate-filter ul li a:hover
{
    text-decoration: none;
}
.list-cate-filter ul li div
{
    position: absolute;
}
.list-cate-filter ul li > div
{
    display: none;
    width: 180px;
    background-color: white;
    position: absolute;
    right: 0px;
    top: 24px;
    border: none;
    padding: 0px;
    height: auto;
    border-top: 3px solid #0bf;
    box-sizing: none !important;
}

.list-cate-filter ul li:hover > div
{
    display: block;
    z-index: 999;
    background-color: white;
}


.list-cate-filter ul div:before
{
    border: 4px solid transparent;
    width: 0px;
    height: 0px;
    border-bottom-color: #0bf;
    content: '';
    display: block;
    position: absolute;
    margin: -11px 0px 0px 168px;
}

.list-cate-filter ul ul
{
    height: auto;
}

.list-cate-filter ul ul li
{
    float: none;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 1px solid #f3f3f3;
    border-top: none;
    margin: 0px;
}

.list-cate-filter ul li.current ul li a
{
    color: #333;
}
.list-cate-filter ul ul li:hover
{
    background-color: white !important;
}
.list-cate-filter ul ul li a
{
    float: none;
    text-decoration: none;
    display: block;
    padding: 4px 10px 4px 10px;
    margin: 0px;
}

.list-cate-filter ul ul li a:hover
{
    background-color: #0bf;
    color: white !important;
}

.list-cate-filter ul ul li:hover
{
    border: 1px solid #0bf;
    border-top: none;
}
.sort-paging
{
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 1px solid #dedede;
    margin: 0px 0px 0px 0px;
}
.paging
{
    float: right;
}
.sort
{
    float: left;
}
.paging span
{
    float: left;
    color: #333333;
    font-size: 13px;
    margin: 0px 5px 0px 0px;
    white-space: nowrap;
}
.paging select
{
    width: 50px;
    float: left;
    margin: 0px 5px 0px 0px;
    font-size: 13px;
    color: #333333;
}
.paging a
{
    float: left;
    margin: 0px 4px 0px 0px;
    border: 1px solid #d0d0d0;
    font-size: 13px;
    color: #333333;
    background-color: white;
    padding: 0px 6px;
    white-space: nowrap;
}
.paging a:hover, .paging a.current
{
    color: white;
    background-color: #0bf;
    text-decoration: none;
}

.sort span
{
    float: left;
    color: #333333;
    font-size: 13px;
    margin: 0px 5px 0px 0px;
}
.sort select
{
    width: 150px;
    float: left;
    margin: 0px 5px 0px 0px;
    font-size: 13px;
    color: #333333;
}
.sort input[type="submit"]
{
    float: left;
    font-size: 13px;
    height: 20px;
    padding: 0px 10px;
    line-height: 10px;
    margin: 0px 5px 0px 0px;
}


.list-product
{
    border-top: 1px solid #fafafa;
}
.list-product table
{
    width: 100%;
}
.list-product table thead
{
    height: 30px;
    text-align: center;
    background-color: #f4f4f4;
}
.list-product table thead tr td
{
    height: 30px;
    font-size: 13px;
    color: #333333;
    text-align: left;
    padding: 0px 0px 0px 10px;
    text-align: center;
    border-left: 1px solid #dedede;
}
.list-product table thead tr td.collum1
{
    text-align: left;
}
.list-product table thead tr td:first-child
{
    border: none;
}
.collum1
{
    width: 40%;
}
.collum2
{
    width: 20%;
    vertical-align: middle;
}
.collum3
{
    width: 15%;
    vertical-align: middle;
}
.collum4
{
    width: 15%;
    vertical-align: middle;
}
.collum5
{
    width: 15%;
}
.list-product table thead
{
    border: 1px solid #f8f8f8;
}
.list-product table tbody
{
    border: 1px solid #f8f8f8;
}
.list-product table tbody tr
{
    border-bottom: 1px solid #f8f8f8;
}
.list-product table tbody tr td
{
    padding: 10px;
}

.col1-img
{
    width: 110px;
    height: 100px;
    float: left;
    text-align: center;
    vertical-align: middle;
    margin: 0px 10px 5px 0px;
}
.col1-img img
{
    max-width: 110px;
    max-height: 100px;
}
.product-col1 h3
{
    margin: 0px;
    padding: 0px;
    margin: 0px 0px 5px 0px;
}
.product-col1 h3 a
{
    color: #111111;
    font-size: 13px;
    font-weight: bold;
    line-height: 19px;
}
.product-col1 h3 a:hover
{
    text-decoration: none;
    color: #f69c0e;
}

.product-col1 label
{
    margin: 10px 0px 0px 0px;
    cursor: pointer;
}
.product-col1 input[type="checkbox"]
{
    float: left;
    margin: 3px 5px 0px 0px;
}
.product-col1 label span
{
    color: #0bf;
    font-weight: normal;
}
.product-col2
{
    text-align: center;
}
.product-col2 p
{
    margin: 0px;
    padding: 0px;
    color: #737373;
    font-size: 11px;
}
.product-col2 p strong
{
    color: #dd4b39;
    font-size: 17px;
}
.product-col3 p
{
    color: #333333;
    font-size: 14px;
}
.product-col4 p
{
    color: #333333;
    font-size: 14px;
}
.product-col5 p
{
    color: #333333;
    font-size: 14px;
}

.product-col1 .product-col2
{
    display: none;
}

.show-filter
{
    padding: 0px 10px;
    cursor: pointer;
}
.show-filter span
{
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    color: #0bf;
}
.show-filter i
{
    float: right;
    font-size: 14px;
    line-height: 30px;
    color: #0bf;
}
.cate-tag
{
    border-bottom: 1px solid #f9f9f9;
    margin: 0px 0px 20px 0px;
    padding-bottom: 10px;
}
.cate-tag h2
{
    padding: 6px 10px;
    font-size: 18px;
    color: #0bf;
    background-color: #f4f4f4;
}
.tag-inner a
{
    float: left;
    font-size: 12px;
    color: #333333;
    border: 1px solid #e2e2e2;
    margin: 0px 5px 5px 0px;
    padding: 2px 5px;
}
.tag-inner a:hover
{
    border: 1px solid #0bf;
    text-decoration: none;
    color: #0bf;
}
.catenews
{
    padding: 0px 265px 0px 0px;
}
.col-ads
{
    min-height: 400px;
    width: 240px;
    margin: 0px -265px 0px 0px;
    padding: 0px 0px 0px 15px;
    float: right;
}
.catenews-content
{
    min-height: 100px;
    float: left;
    width: 100%;
}
.catenews-content .row div
{
}
.col-border
{
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
}

.content-ref
{
}
.content-ref h2
{
    padding: 6px 10px;
    font-size: 18px;
    margin: 0px;
    color: #0bf;
    background-color: #f4f4f4;
}
.content-ref h2 span
{
    color: #333333;
}
.content-ref .list-one
{
    padding-bottom: 10px;
}
.content-ref .list-one li
{
    min-height: 80px;
}
.content-ref .list-one li img
{
    width: 125px;
    height: 85px;
}
.content-ref .list-one li h3 a
{
    font-size: 13px;
    font-weight: bold;
}
.reamore-content-ref
{
    font-size: 14px;
    color: white;
    background-color: #0bf;
    padding: 8px 15px;
    margin: 10px 0px 0px 0px;
}
.reamore-content-ref:hover
{
    background-color: #f69c0e;
    color: white;
    text-decoration: none;
}

.news-read
{
    border-top: 1px solid #f4f4f4; /*border: 1px solid #f4f4f4;*/
    min-height: 100px;
}
.news-read-inner ul
{
    margin-left: -10px;
}
.catenews-content .row .ite
{
    border-bottom: 1px solid #f4f4f4;
    border-top: 0;
}
.catenews-content .row .ite h3
{
    text-align: justify;
}

.news-read h2
{
    padding: 5px 10px;
    font-size: 18px;
    margin: 0px;
    color: #0bf;
    background-color: #f4f4f4;
}
.news-read-inner
{
    padding: 10px;
}
.news-read-inner img
{
    display: block;
    margin: 0px auto;
    max-width: 100%;
}

.news-read-inner ul li
{
    margin: 0px;
    padding: 0px;
    padding: 5px 0px;
}
.ite
{
    border-top: 1px solid #f4f4f4;
}
.news-read-inner ul li:first-child
{
    border: none;
}
.news-read-inner ul li img
{
    width: 100%;
    max-height: 100px;
    margin: 0px 0px 5px 0px;
}
.news-read-inner ul li h3
{
    margin: 0px;
    padding: 0px;
    background-image: url(../img/icon_news.png);
    background-repeat: no-repeat;
    padding: 0px 0px 0px 13px;
    background-position: 0px 5px;
}
.news-read-inner ul li h3 a
{
    color: #333333;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}
.news-read-inner ul li h3 a:hover
{
    color: #f69c0e;
}
.suggestions
{
    border: 1px solid #e2e2e2;
    padding: 10px 10px 5px 10px;
    margin: 0px 0px 10px 0px;
}
.suggestions span
{
    float: left;
    font-size: 13px;
    color: #dd4b39;
    padding: 2px 5px;
}
.suggestions a
{
    float: left;
    font-size: 12px;
    color: #333333;
    border: 1px solid #e2e2e2;
    margin: 0px 5px 5px 0px;
    padding: 2px 5px;
}
.suggestions a:hover
{
    border: 1px solid #0bf;
    text-decoration: none;
    color: #0bf;
}
#results
{
    border: 1px solid #ebebec;
    margin: 0px 0px 10px 0px;
    padding: 5px 10px;
}

#results .tagl-item
{
    background-color: #333;
    color: White;
    font-size: 13px;
    position: relative;
    display: inline-block;
    padding: 4px 20px 4px 10px;
    margin: 0px 5px 0px 0px;
    position: relative;
}

#results .tagl-x
{
    font-size: 13px;
    color: White;
    position: absolute;
    top: 0px;
    cursor: pointer;
    right: 5px;
}
#results .tagl-x:hover
{
    color: #0bf;
}
#crumb-reset
{
    font-size: 13px;
    color: #0bf;
}
#crumb-reset:hover
{
    color: Orange;
    cursor: pointer;
}
.urlpro
{
    color: #006621;
    max-width: 100%;
    font-size: 11px;
}

.bottom-fix
{
    background-color: #322F2F;
    position: fixed;
    bottom: -154px;
    z-index: 9999;
    text-align: center;
    width: 100%;
    left: 0px;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.bottom-fix-show
{
    bottom: 0px;
}
.bottom-fix-inner
{
    padding: 0px 0px;
}
.bottom-fix-inner span.item-selected
{
    color: #02B1F2;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 6px 0px 0px 0px;
    display: inline-block;
}

.bottom-fix-inner span.item-selected em
{
    font-weight: bold;
    font-size: 14px;
    color: white;
    padding: 0px 3px;
}

.bottom-fix-inner a.view-item-selected
{
    background-color: #00BBFF;
    display: inline-block;
    padding: 7px 10px;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.bottom-fix-inner a.view-item-selected:hover
{
    opacity: 0.9;
}

.bottom-fix-inner span.clear
{
    color: #eeeeee;
    font-size: 13px;
    cursor: pointer;
    margin: 6px 0px 0px 20px;
    display: inline-block;
}
.bottom-fix-inner span.clear:hover
{
    text-decoration: underline;
}
.wrap-col-left
{
    float: left;
}
.wrap-col-right
{
    float: right;
}

.wrap-col-center
{
    padding: 0px 10px;
    float: left;
}
.read-more-cate
{
    cursor: pointer;
    text-align: right;
    font-size: 13px;
    color: #0bf;
}

.read-more-cate .fa-caret-up
{
    display: none;
}
.list-cate-filter-inner
{
    height: 57px;
    overflow: hidden;
}

.list-cate-filter-all .list-cate-filter-inner
{
    height: auto;
}

.read-more-cate span.show-less
{
    display: none;
}

.list-cate-filter-all .read-more-cate span, .list-cate-filter-all .read-more-cate i
{
    display: none;
}
.list-cate-filter-all .read-more-cate span.show-less, .list-cate-filter-all .read-more-cate i.fa-caret-up
{
    display: inline;
}
.box-ads-outer
{
    padding:10px 0px 10px 0px;}
