﻿   ul,li

{list-style:none;
 padding:0px;
 margin:0px;}

 a:hover
 {text-decoration:none;}
body
{
    background-position: top center;
    font-family: Arial, sans-serif;
    min-height: 1000px;
  
  
}

.lading-outer
{

         background-repeat:repeat-x;
}
.lading
{
    border-bottom: 1px solid #ebebec;
    background-image: url(../img/bg_giangsinh.jpg);
    background-repeat: no-repeat;
   background-size:cover;
    background-position: top center;
}
.container
{  
    max-width:1170px;
    width:100%;
}
.header
{
    padding: 15px 0px;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}
.header-fix1
{
    background-image: url(../img/tran.png);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 999999;
    padding: 5px 0px;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    border-bottom: 1px solid white;
}

.nav
{
    height: 40px;
    float: left;
    padding: 0px 10px;
    border: 1px solid white;
    border-radius: 1px;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.nav h3
{
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: white;
    line-height: 40px;
    border-radius: 3px;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    float: left;
}

.nav h3 em
{
    float: left;
    font-style: normal;
}

.nav h3 span
{
  -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    margin: 0px 0px 0px 10px;
    width:19px;
    height:17px;
    display:block;
    float:right;
    background-image:url(../img/menu_icon.png);
    background-repeat:no-repeat;
    margin:11px 0px 0px 10px;

}

.nav:hover
{
    border-color: #0bf;
    cursor: pointer;
}
.nav:hover    h3 span
{
      background-position:top right;

}

.nav:hover h3
{
    color: #0bf;
}

.nav:hover h3 span
{
    border-top-color: #0bf;
}

.login
{
    float: right;
    position:relative;

}
.toptip
{
position:absolute;
background-color:#333;
padding:0px 10px;
border-radius:3px;
top:60px;
width:100%;
text-align:center;
left:0px;
   display:none;
}
.login-show-note .toptip
{display:block;
    }
.toptip  span

{
    float:left;
    display:block;
    width:0px;
 
    height:0px;
    border:6px solid transparent;
    border-bottom-color:#333;
   margin:-12px 0px 0px 38px !important;
   float:left;

    }
.toptip p

{
    margin:0px;
    padding:10px 0px;
    color:White;
 font-size:13px;
}
.login span
{
    float: left;
    color: white;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    line-height: 40px;
}

.login-fix
{
    display: none;
}

.login a
{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 1px;
    float: left;
    margin: 0px 0px 0px 10px;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.login a:first-child
{
    margin:0px;}

.login a.facebook
{
    background-image: url(../img/f.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.login a.google
{
    background-image: url(../img/g.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.login a.facebook:hover
{
    background-color: #4c6fa4;
    border: 1px solid #4c6fa4;
}

.login a.google:hover
{
    background-color: #dd4b39;
    border: 1px solid #dd4b39;
}
/*Loginshow*/
.loginshow

{
   
    height:30px;
    position:relative;
    }
     .loginshow .nd
     {
        
         height:40px;
         margin:5px 0px 0px 0px;
         padding:0px 20px 0px 0px;
         position:relative;
         float:left;}
          .loginshow .nd:before
          {
              content:'';
              display:block;
              border:5px solid transparent;
              position:absolute;
              border-top-color:White;
              top:14px;
              right:4px;}
    .loginshow .nd a
    
    {
        height:auto;
        border:none;
        font-size:16px;
        line-height:30px;
        color:White;
        float:left;
        width:auto;}
          .loginshow .nd a:hover
          
          {
              text-decoration:none;}
        .loginshow .pi
        {
            width:40px !important;
            height:40px !important;
            margin:0px 10px 0px 0px !important;
            float:left;}
    .loginshow ul
    
    {
        box-shadow:0px 2px 1px 2px #f3f3f3;
        display:none;
        padding:0px;
        margin:0px;
        top:40px;
        background-color:White;
        border-top:3px solid #0bf;
        right:0px;
        position:absolute;
        z-index:999999;
        width:145px;
        list-style:none;}
           .loginshow ul:before
           {
               content:'';
               display:block;
              margin:-15px 8px 0px 0px;
              float:right;
               border:6px solid transparent ;
                     border-bottom-color:#0bf;
               width:0px;
               left:0px;
               
               
               }
            .loginshow ul li
    
    {
 padding:0px;
 margin:0px;
        list-style:none;}
          .loginshow ul li a
          {
              display:block;
              float:none;
              width:auto;
              margin:0px 0px 0px 0px;
              border:none;
              height:auto;
              color:#333;
              font-size:12px;
              padding:5px 10px;
              text-decoration:none;
                -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
              }
                 .loginshow ul li a:hover
                 {
                     background-color:#0bf;
                     color:White;}
.logo-outer
{
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 70px 0px 0px 0px;
}

.logo-outer img
{
    display: inline-block;
    max-width: 100%; /*zoom:1;
*display:inline;*/
}

.search-solid
{
    width: 60%;
    border: 1px solid transparent;
    padding: 3px;
    border-radius: 3px;
    min-height: 30px;
    margin: 0px auto;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.border-blue
{
    border: 1px solid #01b0f1;
}

.search
{
    height: 45px;
    background-color: white;
    border-radius: 4px;
    padding: 0px 90px 0px 0px;
}

.search input[type='text']
{
    border: none;
    padding: 0px;
    margin: 0px;
    height: 45px;
    width: 100%;
    padding: 0px 10px;
    background-color: transparent;
    float: left;
    outline: none;
}

.search input[type='submit']
{
    border: none;
    padding: 0px;
    margin: 0px;
    height: 45px;
    width: 90px;
    float: right;
    background-color: #01b0f1;
    margin: 0px -90px 0px 0px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
    border-radius: 0px 3px 3px 0px;
    -moz-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.search input[type='submit']:hover
{
    background-color: #217cf3;
}

.slogan
{
    padding: 0px 0px 0px 0px;
    height: 30px;
}

.slogan p
{
    font-size: 14px;
    text-align: center;
    color: white;
}

.slider-outer
{
    text-align: center;
    width: 700px;
    margin: 30px auto 20px auto;
    overflow: hidden;
}

.bxslider li p
{
    font-size: 24px;
    color: white;
}

.bx-pager
{
    padding: 0px 0px 0px 0px;
}

.bx-controls
{
    margin: 50px auto 0px auto;                                                     -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    display:none;
}

.wath
{
text-align:center;

min-height:40px;
padding:0px 0px 40px 0px;                                               
}
.wath .btn-watch
{
    color: white;
    background-color:transparent;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 6px 30px;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    cursor:pointer;
}
.youtube

{


background-color:black
}
.youtube iframe1
{
width:100% !important;
height:100% !important;
}
.modal-dialog
{
    width:750px !important;
    margin:0px auto;
}
.wath .btn-watch:hover
{
text-decoration:none;
border-color:#0bf;
background-color:#0bf;
}  .wath a:active
{
text-decoration:none;
border:none;
   }
.bx-pager .bx-pager-item
{
    display: inline-block;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
}

.bx-pager .bx-pager-item a
{
    display: block;
    width: 10px;
    border-radius: 50%;
    text-indent: -9999px;
    height: 15px;
    width: 15px;
    background-image: url(../img/nav_slider.png);
    background-repeat: no-repeat;
    background-position: top right;
    margin: 0px 10px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.bx-pager .bx-pager-item a:focus
{
    outline: none;
    border: none;
}

.bx-pager .bx-pager-item a::-moz-focus-inner
{
    outline: none;
    border: none;
}

.bx-pager .bx-pager-item a.active
{
    background-position: top left;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.bx-controls-direction
{
    display: none;
}

.typed-cursor
{
    display: none;
}

.steps
{
    background-color: #f4f4f4;
    padding: 30px 0px;
}

.step
{
    min-height: 80px;
    padding: 5px 0px;
}

.step-icon
{
    float: left;
    width: 70px;
    height: 70px;
    background-color: #02b1f2;
    border-radius: 2px;
    float: left;
    position: relative;
    margin: 0px 20px 0px 0px;
}

.step-icon:before
{
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    border: 7px solid transparent;
    border-left: 7px solid #02b1f2;
    top: 31px;
    right: -14px;
}

.step-icon span
{
    width: 42px;
    height: 37px;
    display: block;
    margin: 16px auto;
    background-image: url(../img/icon_1.png);
}

.step-icon2 span
{
    width: 42px;
    height: 37px;
    display: block;
    margin: 16px auto;
    background-image: url(../img/icon_2.png);
}

.step-icon3 span
{
    width: 42px;
    height: 37px;
    display: block;
    margin: 16px auto;
    background-image: url(../img/icon_3.png);
}

.step h3
{
    color: #111;
    font-size: 18px;
    margin: 0px 0px 10px 0px;
}

.step p
{
    color: #111;
    font-size: 13px;
}



/**********CATES*/

.cate-icon
{
    float: left;
    margin: -10px 0px 0px -55px;
    display: block;
    background: url('../img/icon_cate.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    width: 40px;
    height: 40px;
}

.cate-icon85
{
    background-position: -10px -0px;
    width: 40px;
    height: 40px;
}

.cate-icon1
{
    background-position: -60px -0px;
    width: 40px;
    height: 40px;
}

.cate-icon13
{
    background-position: -110px -0px;
    width: 40px;
    height: 40px;
}

.cate-icon20
{
    background-position: -10px -50px;
    width: 40px;
    height: 40px;
}

.cate-icon1867
{
    background-position: -60px -50px;
    width: 40px;
    height: 40px;
}

.cate-icon2
{
    background-position: -110px -50px;
    width: 40px;
    height: 40px;
}

.cate-icon1860
{
    background-position: -10px -100px;
    width: 40px;
    height: 40px;
}

.cate-icon119
{
    background-position: -60px -100px;
    width: 40px;
    height: 40px;
}

.cate-icon1942
{
    background-position: -110px -100px;
    width: 40px;
    height: 40px;
}

.cate-icon216
{
    background-position: -10px -150px;
    width: 40px;
    height: 40px;
}

.cate-icon558
{
    background-position: -60px -150px;
    width: 40px;
    height: 40px;
}

.cate-icon3
{
    background-position: -110px -150px;
    width: 40px;
    height: 40px;
}

.cate-icon127
{
    background-position: -10px -200px;
    width: 40px;
    height: 40px;
}

.cate-icon130
{
    background-position: -60px -200px;
    width: 40px;
    height: 40px;
}

.cate-icon607
{
    background-position: -110px -200px;
    width: 40px;
    height: 40px;
}

.cate
{
    padding: 20px 0px 20px 55px;
}

.cate ul
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.cate ul li
{
    list-style: none;
    padding: 0px;
    padding: 4px 0px 0px 0px;
}

.cate ul li.readmore a
{
    color: #02b1f2;
}

.cate ul li a
{
    color: #333333;
    font-size: 14px;
}

.cate ul li a:hover
{
    text-decoration: none ;
    color:#f69c0e;
}

.cate h3
{
    color: #02b1f2;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.cate h3 a
{
    color: #02b1f2;
    font-size: 18px;
}
 .cate h3 a:hover
 {
 text-decoration:none;
 }
.cates-title
{
    padding: 50px 0px 40px 0px;
    text-align: center;
}

.cates-title h2
{
    border-bottom:1px solid #f3f3f3;
    height: 6px;
 
    margin: 0px auto;
    line-height: 5px;
/*    background-image: url(../img/line.png);*/]

}

.cates-title h2 span
{
    font-size: 20px;
    color: #111;
    margin: 0px;
    padding: 0px 20px;
    background-color:White;
}
.item
{
min-height:300px;   
margin:0px 0px 20px 0px;
}
.col-md-35
{
border:1px solid #f3f3f3;
margin:-1px 0px 0px -1px;
}
 .vote
{

height:15px;
margin:0px;
padding:0px;
}
.vote-color
{
    height:11px;
    background-color:#ccc;
     display:inline-block;
     margin:0px;
     padding:0px;
    position: relative;
    width: 65px !important;

    }
.vote-range {
    background: #ED9902;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 100;
}
.vote .vote-stars-container {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1000;
    display: inline-flex;
    border: 1px solid #fff;
}
 .vote span.vote-star
{
   display:inline-block;
     width:13px;
     height:11px;
    float:left;
     background-image:url(../img/vote1.png);
     background-repeat:no-repeat;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vote.ratable span.vote-star {
     cursor: pointer;
}
 .vote span.half-star
{

background-position:bottom right;
}
.vote em
{
    display:inline-block;
color:#666;
font-size:11px;
line-height:11px;
}
.item img
{

}
.img-outer
{

  display:table;
  height:140px;
  width:100%;
  margin:0px 0px 10px 0px;
  padding:5px;
}
.img-inner
{        width:100%;
      
       display:table-cell;
       vertical-align:middle;
       text-align:center;
}
.img-inner  img
{

max-width:100%;

max-height:130px;
}

.item h3 
{
margin:0px 0px 5px 0px;
padding:0px;
line-height:16px;
min-height:37px;
text-align:center;

}
.item h3 a
{
color:#111111;
font-size:13px;

font-weight:bold;

}
.item h3 a:hover
{
text-decoration:none;
color:#f69c0e
}
.item p
{
color:#111111;
font-size:12px;
margin:0px 0px 0px 0px;
padding:0px; text-align:center;

}
.item p strong
{
font-size:16px;
color:#dd4b39;
}

.btn-compare
{
    font-size: 13px;
    color: white;
    background-color: #02b0f1;
    border-radius: 2px;
    padding: 0px;
    margin: 0px;
    padding: 4px 13px;
    border-bottom: 1px solid #00a1dd;
    display: block;
    width:100px;
    text-align:center;
    white-space:nowrap;
    margin:10px auto;
 
}
.btn-compare:hover
{
  background-color:#f69c0e;
  border-bottom:1px solid #f69c0e;
}

.btn-compare:hover
{
color:white;
text-decoration:none;

opacity:0.9;
}

.btn-compare:active
{

}

    .footer
    {
    background-color:#f4f4f4;
    padding:20px 0px;
    margin:10px auto 0px auto;
    }
    .footer img
    {
    margin:0px 0px 0px 0px;
    }

    .coppy
    {
        
    }
        .coppy h3
        {
        font-size:14px;
        text-transform:uppercase;
        font-weight:bold;
        padding:0px;
        margin:0px 0px 20px 0px;
        color:#4d4d4d;
        }
         .coppy p
        {
        font-size:13px;
     
        padding:0px;
        margin:5px 0px;
        color:#4d4d4d;
        }
        .col-bt  h4
        {
                 font-size:14px;
       
        font-weight:bold;
        padding:0px;
        margin:0px 0px 20px 0px;
        color:#4d4d4d;
        }
        .col-bt  ul
        {
        padding:0px;
        margin:0px;

        }
        .col-bt  ul   li
        {
        padding:0px;
        margin:0px;
        list-style:none;

        }
          .col-bt  ul   li a
          {
               font-size:13px;
       
      
        padding:0px;
        margin:0px 0px 0px 0px;
        color:#4d4d4d;
          }
          
          .col-bt  ul   li a:hover
          {
          color:#0bf;
          text-decoration:none;
          }
        .news

        {
        padding:0px 0px 30px 0px;
         

        }
        .news-left
        {
      
 
        }

        .col-news-border
        {
        border-left:1px solid #f4f4f4;
        overflow:hidden;
        }

       
         

           .news-one
           {
                  position:relative;
           }
              .news-one img
              {
             
              display:block;
              max-width:100%;
              width:100%;
              }
             .news-one span
             {
             font-size:14px;
             color:white;
             background-image:url(../img/tran.png);
             position:absolute;
             top:0px;
             left:0px;
             padding:6px 15px;
             }
                  .news-one h1
                  {
                       margin:0px;
                       padding:10px 0px;
                       line-height:20px;
                  }

                    .news-one h1 a
                    {
                           color:#111;
                           font-weight:bold;
                  font-size:22px;
                    }
                    .news-one h1 a:hover
                    {
                    color:#f69c0e;
                    text-decoration:none;
                    }
                     .news-one p
                    {
                           color:#111;
                  font-size:14px;
                  margin:0px;
text-align:justify;
                  padding:0px;
                    }

                    .col-news
                    {
                  
                    min-height:100px;
                    }

                    .box-news
                    {
                    padding:0px 0px 15px 0px;
                    border-bottom:1px solid #f4f4f4;
                    margin:0px 0px 15px 0px;

                    }
                    .box-news h2
                    {
                  
              
                    margin:0px;
                    height:35px;
                    padding:0px 0px 0px 10px;
                    margin:0px 0px 10px 0px;
                background-color:#ececec;
                    border-top:2px solid #d4d4d4;
                    }
                     .box-news h2 > a
                     {
                     font-size:18px;
                   
                     color:#222;
                     margin:0px;
                     float:left;
                     white-space:nowrap;
                     line-height:32px;
                     height:0px;
                     display:block;
                    
                  margin:-2px 0px 0px 0px;
                     float:left;
                     height:35px;
                     font-size:13px;
                     font-weight:bold;
                     padding:0px 10px 0px 10px;

                     border-top:2px solid #02b1f2;
                     }
                         .box-news h2 a 
                         {
                            }
                     
                     .box-news h2 ul
                     
                     {
                         float:left;
                         margin:2px 0px 0px 10px;
                     }
                       .box-news h2 ul li
                       
                       {
                           float:left;
                          
                           padding:8px 0px 0px 0px;
margin:0px;
                           margin:0px 0px;
                          }   .box-news h2 ul li a
                          
                          {

float:left;
color:#737373;
font-size:12px;
                              font-size:12px;}
                               .box-news h2 ul li span
                               {float:left;
color:#666;
font-size:12px;
margin:-1px 5px 0px 5px;
height:16px;
border-left:1px solid #f7f7f7;
width:2px;
background-color:#dbdbdb;
text-indent:-99999px;

                                   }
                                    .box-news h2 ul li a:hover
                                    {color:#f69c0e;
                                        }
                         
                           .one-review h3
                           {
                           margin:0px;
                           padding:0px;
                           line-height:22px;
                           margin:0px 0px 3px 0px;
                           }
                          .one-review h3 a
                          {
                             color:#111111;
                             font-size:18px;
                          }

                               .one-review h3 a:hover
                               {
                               text-decoration:none;
                               color:#f69c0e;
                               }
                                 .one-review img
                                 {
                                 float:left;
                                 margin:0px 10px 10px 0px;
                                 width:150px;
                                 height:100px;
                                 padding:1px;
                                 background-color:white;
                                 border:1px solid #f4f4f4;
                                 }
                                  .one-review p
                          {
                             color:#111111;
text-align:justify;
                             font-size:13px;
                          }
                          .one-review-list
                          {

                          padding:0px;
                          margin:0px;
                          }

                              .one-review-list li
                              {
                              list-style:none;
                              padding:0px;
                              margin:0px;
                                list-style:none;
                     padding:0px 0px 0px 10px !important;
                     background-image:url(../img/dot1.png);
                     background-repeat:no-repeat;
                     background-position:0px 10px;
                     margin:3px 0px;


                              }
                                .one-review-list li a
                                {
                                       color:#666666;
                                       font-size:12px;
                                }


   .one-review-list li a:hover
   {color:#f69c0e;
       }




                    .comment
                    {
                    padding:0px 0px 0px 17px;
                    height:11px;
                    margin:0px 0px 0px 0px;
                    background-image:url(../img/comment.png);
                    background-repeat:no-repeat;
                    line-height:11px;
                   
                 font-size:12px;
                 display:inline-block;
                 font-weight:bold;
                 font-size:12px;
                 color:#0bf;
                 zoom:1;
                 *display:inline;
                    }
                    .list-one
                    {
                    list-style:none;
                    padding:10px 0px 10px 0px;
                    margin:0px;

                    }
                    .list-one li
                    {
                    border-top:1px solid #f4f4f4;
                    list-style:none;
                    padding:0px;
                    padding:10px 0px;
                    min-height:155px;

                    }
                      .list-one li:first-child
                      {
                          padding:0px 0px 15px 0px;
                          border:none;}
                          .list-one li img
                          {
                          float:left;
                          margin:0px 15px 0px 0px;
                          width:180px;
                          padding:1px;
                          border:1px solid #f4f4f4;
                          background-color:White;
                          height:110px;
                          }
                            .list-one li h3
                            {
                            margin:0px;
                            padding:0px;
                            line-height:22px;
                            margin:0px 0px 2px 0px;
                            }
                            .list-one li h3 a
                    {
                           color:#111;
                  font-size:18px;
                    }

                     .list-one li h3 a:hover
                    {
                    color:#f69c0e;
                    text-decoration:none;
                    }
                      .list-one li p
                    {
                           color:#111;
                  font-size:14px;
                  text-align:justify;
                  margin:0px;
                  padding:0px;
                    }
                    .news-re
                    {
                    padding:0px;
                    margin:0px;
                    padding:10px 0px 0px 190px;
                    }
                     .news-re p
                     {
                     list-style:none;
                     padding:0px 0px 0px 10px !important;
                     background-image:url(../img/dot1.png);
                     background-repeat:no-repeat;
                     background-position:0px 50%;
                     margin:3px 0px;
                    
                     }
                        .news-re p a
                        {
                        color:#666;
                        font-size:12px;
                        }
                             .news-re p a:hover
                             {
                             color:#f69c0e;
                             text-decoration:none;
                             }
                    .footer-top
                    {

                    }
                      .footer-top h3
                      {
                      color:#111111;
                      font-weight: bold;   
                      font-size:16px;
                      margin:10px 0px 5px 0px;
                      
                      }
                      .line
                      {
                      border-top:1px solid #e9e5e5;
                      border-bottom:1px solid #fff;
                  
                      }
                      .line-fix
                      {
                    margin:20px 0px;
                      }
                            .footer-top ul
                            {
                            list-style:none;
                            padding:0px;
                            margin:0px;
                            margin:10px 0px 0px 0px;
                         
                            }
                            .footer-top ul li
                            {
                            float:left;
                            padding:0px 0px 0px 8px;
                            margin:0px 10px 0px 0px;
                            background-image:url(../img/arrow.png);
                            background-repeat:no-repeat;
                            background-position: 0% 50%;
                            opacity:0.5;
                            }
                            .footer-top ul li:hover {
                                opacity:1;
                            }
                            .footer-top ul li a
                            {
                            color:#333333;
                            font-size:12px;
                            }
                                  .footer-top ul li a:hover
                                  {
                                  color:#0bf;
                                  text-decoration:none;
                                  }
                                  .footer-bottom
                                  {
                                  margin:30px 0px 0px 0px;
                                  }

                                  .col-bt
                                  {
                                 
                                  min-height:100px;
                                  }

                                  .allright
                                  {
                                  background-color:#c7c7c7;
                                  padding:20px 0px;
                                text-align:center;
                                  }

                                  .allright p
                                  {
                                  color:#5c5c5c;
                                  font-size:12px;
                                  margin:0px;
                                  padding:0px;
                                  }

/*********Menu*/

.header .container
{
    position: relative;
}

.header-inner
{
    position: relative;
}
.header-inner .logo1
{
    float:left;}
.pop-menu
{
    position: absolute;
    background-color: white;
    top: 50px;
    z-index: 999999;
    display: none;
    width: 100%;
    background-color: #FFFFFF;
    border-top: 4px solid #00BBFF;
}

.pop-menu-inner
{
    min-height: 100px;
    padding: 0px 0px 0px 230px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    box-shadow: 0 2px 8px -1px #999;
}

.pop-menu .arrow
{
    display: block;
    width: 0px;
    height: 0px;
    display:none;
    border: 8px solid transparent;
    float: left;
    margin: -20px 0px 0px 258px;
    border-bottom-color: #0bf;
}

.pop-menu .close1
{
    width: 10px;
    height: 10px;
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 999999;
    position: absolute;
    width: 12px;
    height: 13px;
    cursor: pointer;
    background-image: url(../img/color-sprite28.png);
    background-repeat: no-repeat;
    background-position: -705px -7px;
    top: 20px;
    right: 20px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.pop-menu .close1:hover
{
    background-position: -705px -55px;
}

.pop-menu ul.nav-cate
{
    background-color: #f3f3f3;
    width: 230px;
    float: left;
    margin: 0px 0px 0px -230px;
    padding: 0px;
}

.pop-menu ul.nav-cate li
{
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: 13px;
}

.pop-menu ul.nav-cate li a
{
    color: #4D4D4D;
    display: block;
    font-size: 14px;
    padding: 8px 10px 8px 20px;
}

.pop-menu ul.nav-cate a.viewall
{
    display: block;
    color: #2374dd;
    font-size: 13px;
    margin: 10px 0px 10px 20px;
}

.pop-menu ul.nav-cate li:hover a
{
    color: #2374dd;
    text-decoration: none;
}

.pop-menu ul.nav-cate li:hover, .pop-menu ul.nav-cate li.active-li
{
    background-color: white;
}


.pop-menu ul.nav-cate .sub-nav
{
    display: none;
}

.pop-menu ul.nav-cate .sub-nav
{
    display: block;
    width: 100%;
    position: absolute;
    margin: 0px 0px 0px 229px;
    top: 0px;
    bottom: 0px;
    display: none;
    background-color: white;
    z-index: 1;
}

.pop-menu ul.nav-cate li:hover .sub-nav, .pop-menu ul.nav-cate li.active-li .sub-nav
{
    display: block;
}
.pop-menu ul.nav-cate li.readmore .sub-nav

{
    display:none;
    }

.sub-content
{
    margin: 0px 230px 0px 0px;
    height: 100%;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.pop-menu ul.nav-cate li:hover .sub-nav
{
    z-index: 9999;
}

.sub-content h4
{
    padding: 0px 10px 0px 20px;
    color: #4d4d4d;
    font-size: 18px;
}

.sub-content ol
{
    padding: 10px 0px;
}

.sub-content ol li
{
    width: 34%;
    float: left;
}

.sub-content ol li a
{
    font-size: 13px;
    padding: 5px 0px 5px 20px !important;
    color: #2374dd !important;
}

.sub-content ol li a:hover
{
    color: #e47911 !important;
}


.sub-nav
{
    background-repeat: no-repeat;
    background-position: bottom right;
}

.sub-nav1 .sub-content
{
    background-image: url(../img/DienTuAmThanh.png);
}

.sub-nav2 .sub-content
{
    background-image: url(../img/DoGiaDung.png);
}

.sub-nav3 .sub-content
{
    background-image: url(../img/ThoiTrang.png);
}

.sub-nav13 .sub-content
{
    background-image: url(../img/Mayanh.png);
}

.sub-nav20 .sub-content
{
    background-image: url(../img/Tinhoc.png);
}

.sub-nav85 .sub-content
{
    background-image: url(../img/iPad.png);
}

.sub-nav119 .sub-content
{
    background-image: url(../img/MevaBe.png);
}

.sub-nav127 .sub-content
{
    background-image: url(../img/Oto.png);
}

.sub-nav130 .sub-content
{
    background-image: url(../img/ThucphamDouong.png);
}

.sub-nav216 .sub-content
{
    background-image: url(../img/Sach.png);
}

.sub-nav558 .sub-content
{
    background-image: url(../img/NoiThat.png);
}

.sub-nav607 .sub-content
{
    background-image: url(../img/Dichvu.png);
}

.sub-nav1860 .sub-content
{
    background-image: url(../img/MayVanPhong.png);
}

.sub-nav1867 .sub-content
{
    background-image: url(../img/DienLanh.png);
}

.sub-nav1942 .sub-content
{
    background-image: url(../img/YTe.png);
}

/*****************menu-res*/
.menu-res-inner
{
    background-color: #333;
}

.menu-res
{
    background-color: #333;
    width: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 400px;
    height: 100%;
    z-index: 99999;
    min-height: 1000px;
    bottom: 0px;
    left: -250px;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    display: none;
}

.menu-res-show
{
    left: 0px;
}

.page
{
}

.nav-touch
{
    display: none;
    height: 38px;
    padding: 1px 5px 0px 5px;
    margin: 0px 0px 0px 0px;
    float: left;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    border: 1px solid white;
    border-radius: 1px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 45px;
    height: 40px;
    background-image: url(../img/menu_res.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px;
}

.nav-touch em 1
{
    width: 33px;
    height: 3px;
    display: block;
    margin: 6px auto 0px auto;
    background-color: white;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.nav-touch-show
{
    margin: 0px 0px 0px 235px;
}

.nav-touch:hover
{
    border: 1px solid #0bf;
    cursor: pointer;
    background-color: #0bf;
}

.nav-touch:hover em
{
    background-color: #0bf;
}

.menu-res ul
{
    padding: 0px;
    margin: 0px;
    display: block;
    margin: 0 0 0px;
    padding: 0;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #4d4d4d;
}

.menu-res ul li
{
    display: block;
    margin: 0;
    line-height: 35px;
    border-top: 1px solid #4d4d4d;
    border-bottom: 1px solid #1a1a1a;
}

.menu-res ul li a
{
    padding: 0 15px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.menu-res ul li a:hover
{
    color: #0bf;
}

.menu-res ul li a span
{
    float: left;
    width: 30px;
    height: 30px;
    margin: 3px 5px 0px 0px;
    background-image: url(../img/icon_menu.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.menu-res ul li.icon-res1 a span
{
    background-position: -30px -3px;
}

.menu-res ul li.icon-res2 a span
{
    background-position: -30px -40px;
}

.menu-res ul li.icon-res3 a span
{
    background-position: -30px -80px;
}

.menu-res ul li.icon-res4 a span
{
    background-position: -30px -120px;
}

.menu-res ul li.icon-res5 a span
{
    background-position: -30px -160px;
}

.menu-res ul li.icon-res6 a span
{
    background-position: -30px -200px;
}

.menu-res ul li.icon-res7 a span
{
    background-position: -30px -240px;
}

.menu-res ul li.icon-res8 a span
{
    background-position: -30px -280px;
}

.menu-res ul li.icon-res9 a span
{
    background-position: -30px -320px;
}

.menu-res ul li.icon-res10 a span
{
    background-position: -30px -360px;
}

.menu-res ul li.icon-res11 a span
{
    background-position: -30px -400px;
}

.menu-res ul li.icon-res12 a span
{
    background-position: -30px -440px;
}

.menu-res ul li.icon-res13 a span
{
    background-position: -30px -480px;
}

.menu-res ul li.icon-res14 a span
{
    background-position: -30px -520px;
}

.menu-res ul li.icon-res15 a span
{
    background-position: -30px -560px;
}


.search-res
{
    display: none;
    padding: 10px 10px;
}

.search-res .search
{
    height: 30px;
    background-color: white;
    border-radius: 2px;
    padding: 0px 60px 0px 0px;
}

.search-res .search input[type='text']
{
    border: none;
    padding: 0px;
    margin: 0px;
    height: 30px;
    width: 100%;
    padding: 0px 10px;
    background-color: transparent;
    float: left;
    outline: none;
}

.search-res .search input[type='submit']
{
    border: none;
    padding: 0px;
    margin: 0px;
    height: 30px;
    width: 60px;
    float: right;
    background-color: #0bf;
    margin: 0px -60px 0px 0px;
    background-image: url(../img/search1.png);
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
    border-radius: 0px 2px 2px 0px;
    -moz-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.search-res .search input[type='submit']:hover
{
    background-color: #0bf;
}

.footer-bottom >div

{
    border-left:1px solid #d9d9d9;
    min-height:180px;
    border-right:1px solid #fff;
}
.footer-bottom >div:first-child
{border-left:none;}

.footer-bottom >div:last-child
{border-right:none;}
.totop
{
    width:31px;
    height:30px;

      position:fixed;
    bottom:50px;
    right:0px;
        background-color:#0bf;
          -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
cursor:pointer;
z-index:99999;
    }
    .totop i
    
    {
        display:block;
        text-align:center;
        line-height:30px;
        color:#fff;
        font-size:14px;}
.totop:hover

{      background-color:#ED9902;
    }
.feedback
{
    position:fixed;
    bottom:100px;
    right:-38px;
    background-color:#0bf;

    -moz-transform: rotate(270deg);
-webkit-transform: rotate(270deg);
-o-transform: rotate(270deg);
-ms-transform: rotate(270deg);
transform: rotate(270deg);
    height:50px;
    padding:0px 10px 15px 10px;
    cursor:pointer;
  -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
z-index:999999;
border:none;


    }
    .feedback-inner
    
    {
     
        
        }
         .feedback-inner span
         
         {text-transform:uppercase;
             color:White;
         
            
             font-size:14px;
             font-weight:bold;}
             .feedback-inner span i
             
             {
                 margin:0px 10px 0px 0px;}
                 
                 .feedback:hover
                 
                 {
                     background-color:#ED9902;
                  }
                    .modal-feed
                    {
                        max-width:450px;
                        min-width:320px;
                        background-color:White;
border-top:2px solid #0bf;
margin:0px auto;
border-radius:3px;
position:relative;


}
 .modal-feed .close
{
position:absolute;
top:10px;
right:10px;
color:#666;
}
 .modal-feed .close:hover

{
color:#0bf;
cursor:pointer;
}
.modal-feed-content
{
    padding:20px 10px 20px 10px;}
    .modal-feed-content p
    
    {
        font-size:14px;
        margin:10px 0px 5px  0px;
        color:#444;}
        
           .modal-feed-content p.error
           {
               color:Red;}
                 .modal-feed-content p.error span
                 
                 {
                     display:block;
                     font-size:12px;
                     margin:4px 0px 0px 0px;
                     }
                     .error-field
                     {
                         border:1px solid red !important;}
        
            .modal-feed-content input[type="text"]
            {
                width:100%;
                padding:0px 10px;
                font-size:13px;
                height:30px;
                border:1px solid #ccc;}
                 .modal-feed-content textarea
            {
                width:100%;
                padding:0px 10px;
                font-size:13px;
                height:80px;
                border:1px solid #ccc;}
                 .modal-feed-content h4
                 
                 {
                     color:#0bf;
                     font-size:18px;
                     margin:0px 0px 0px 0px;
                     padding:0px;
                     font-weight:bold;
                     text-transform:uppercase;}
                      .modal-feed-content h6
                      
                      {
                          min-height:30px;
                          margin:0px;
                          padding:0px;
                          text-align:right;}
                               .modal-feed-content h6 a
                               
                               {
                                   height:30px;
                                   line-height:25px;
                                   float:right !important;}
                                          .modal-feed-content h6 a i
                                          {
                                              margin:0px 10px 0px 0px;}
                                 .bs-example-m  .modal-dialog
                                   {
                                       width:450px !important;}
                                       
                                       @media screen and (max-width: 480px)
{
      .bs-example-m  .modal-dialog
                                   {
                                       width:320px !important;}
                                       
}
                                       .captcha input[type="text"]
                                       {
                                           
                                           width:100px;
                                           margin:0px 10px 0px 0px;
                                           float:left;
                                           }
                                           
                                           .capcha-img
                                           
                                           {
                                               float:left;
                                               height:30px;
                                               /*border:1px solid #0bf;
                                               width:100px;
                                               */
                                               }
                                               .refresh-captcha {
                                            
                                                
                                                   cursor: pointer;
                                                   display: inline-block;
                                                   float:left;
                                                   margin:5px 0px 0px 10px;
                                                   font-size:20px;
                                                   color:#333;
                                               }
                                                .refresh-captcha:hover
                                                
                                                {
                                                    cursor:pointer;
                                                    color:#0bf;}
                                                    .col-news
                                                    {
                                                       }