﻿body {
}
.range-filter {
    padding: 10px 0;
}
.value-box {
    clear: both;
    display: inline-block;
    width: 100%;
}
.slider-input {
    background: none repeat scroll 0 0 #FEFEFE;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
    color: #4D4D4D;
    cursor: text;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    max-width: 45%;
    overflow: hidden;
    padding: 0 3px 2px;
    white-space: nowrap;
}
.left-value {
    float: left;
    margin-right: 0;
    text-align: left;
}
.right-value {
    float: right;
    margin-left: 0;
    text-align: right;
}
.slider-input input, .slider-input span:last-child {
    -moz-box-sizing: content-box;
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    border: 0 none;
    color: #4D4D4D;
    font-size: 11px;
    font-weight: bold;
    padding: 0 0 3px 6px;
    text-align: right;
    width: 30px;
}
.main-slider {
    position: relative;
    text-align: center;
    padding: 0 10px;
    z-index: 0;
}
.slide-bar {
    background: none repeat scroll 0 0 #F7F7F7;
    box-shadow: 1px 0 5px rgba(99, 99, 99, 0.3) inset;
    cursor: pointer;
    height: 12px;
    margin: 10px auto;
    position: relative;
    width: 100%;
}
.ui-widget-header {
    background-color: #00C0FF;
}
.slide-bar > .ui-slider-handle {
    background-image: url(../img/color-sprite28.png);
    background-repeat: no-repeat;
    background-position: -88px -65px;
    width: 25px;
    border: 0;
    margin-left: -12px;
}
.slide-bar > .ui-state-hover, .slide-bar > .ui-state-focus {
    border: none;
    background-position: -117px -65px;
}

/*multi select*/
.fancy-select-container {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #4d4d4d;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0;
    overflow: visible;
    padding: 0;
    position: relative;
    line-height: 28px;
    min-height: 28px;
    width: 100%;
}
.fancy-select-container input[type="text"] {
    height: 28px !important;
}

