﻿body
{
    min-width: 310px !important;
}
.show-sort
{
    display: none;
}

.menu-res
{
    display: none;
}
@media (max-width:900px)
{
    .menu-res
    {
        display: block;
    }
    .box-search
    {
        display: none;
    }
    .show-nav .pop-menu
    {
        display: none;
    }
    .menu-wrap
    {
        display: none;
    }
    .menu-inner:before
    {
        display: none;
    }
    .boxcatechild:nth-child(even)
    {
        width: 65%;
    }
    .boxcatechild:nth-child(odd)
    {
        width: 31%;
    }
    .boxcatechild:nth-child(odd) .item
    {
        width: 100% !important;
    }
    
    .leftmain li
{
    height: auto !important;
    line-height: 18px;
    width:100%;
    float:none !important;
    margin:0px !important;
    padding:7px 0px 7px 160px !important;
   
}
.tskt
{
    border: none !important;
}
.leftmain li:last-child
{
    border-bottom: none !important;
}
.leftmain strong
{
    float: left;
    width: 160px;
    margin:0px 0px 0px -155px;
}
}
@media (max-width:1120px)
{
    .col2-col4, .col2-col5
    {
        display: none;
    }
    .col2-colp, .col2-col
    {
        width: 33.3333333%;
    }
    .row-col2-colp, .row-col2-col
    {
        width: 33.3333333%;
    }
    .boxcatechild
    {
        width: 48.6%;
    }
}
@media (max-width:900px)
{
    .boxcatechild
    {
        width: 100%;
    }
    .col2, .row-col2
    {
        margin: 0px 0px 0px 260px;
    }
}
@media (max-width:768px)
{
    .boxcatechild
    {
        width: 100%;
    }
}
@media (min-width:1120px)
{
    .boxcatechild
    {
        width: 48.6%;
    }
}
.show-find h3
{
    display: none;
}

@media (max-width:900px)
{


    .hidden-left .colleft
    {
        width: auto;
        border-bottom: none;
        box-shadow: none;
    }


    .hidden-left .colright
    {
        margin: 0px 0px 0px 0px;
        width: auto !important;
    }
    .show-find h3
    {
        display: block;
    }

    .col2-colp
    {
        display: block;
    }


    .col2-col
    {
        display: none;
    }
    .row-col2-col
    {
        display: none;
    }
    .row-col2-colp
    {
        display: block;
    }
    .col1
    {
        width: 70%;
    }

    .row-col1
    {
        float: none;
        min-height: 50px;
        overflow: hidden;
        width: 100%;
    }
    .col1 .col-inner
    {
        width: auto;
    }
    .col2
    {
        margin: 0px;
        width: 100%;
        min-width: 0px;
    }
    .col2-colp
    {
        width: 100%;
    }
    .row-col2
    {
        margin: 0px;
        width: 100%;
        min-width: 0px;
    }
    .row-col-inner
    {
        display: block;
        height: auto;
        text-align: left;
    }
    .row-col-inner a:first-child
    {
        float: left;
        width: 130px;
        text-align: center;
    }
    .row-col2-colp
    {
        width: 100%;
    }
    .row-col2-col
    {
    }

    .colleft
    {
        position: relative;
        float: none;
        width: 0px;
        height: 40px;
        border: 1px solid transparent !important;
        background-color: transparent !important;
        width: auto;
        margin: 0px 0px 10px 0px;
        z-index: 9999;
    }

    .search-refine
    {
        display: none;
    }
    .hidden
    {
        display: none;
        position: absolute;
        top: 35px;
        left: 0px;
        background-color: Red !important;
        border: 1px solid #e1e1e1;
        right: 0;
    }
    .show-box-find .hidden
    {
        display: block;
    }
    .colright
    {
        margin: 0px;
        min-height: 100px;
        position: relative;
    }
    .chosen-container
    {
        width: 100% !important;
    }
    .show-find
    {
        height: 35px;
        width: auto;
        cursor: pointer;
        background-color: #f3f3f3;
        border: 1px solid #e1e1e1;
        width: 46%;
        float: left;
        font-size: 14px;
    }

    .icon-find
    {
        float: left;
        background-image: url("images/color-sprite28.png");
        background-repeat: no-repeat;
        height: 18px;
        left: 10px;
        top: 50%;
        width: 17px;
        margin: 8px 10px 0px 10px;
        z-index: 1;
        background-position: -487px -137px;
    }
    .icon-soft
    {
        background-position: -507px -147px;
        float: left;
        background-image: url("images/color-sprite28.png");
        background-repeat: no-repeat;
        height: 27px;
        left: 10px;
        top: 50%;
        width: 17px;
        margin: 7px 10px 0px 10px;
    }
    .show-find h3
    {
        line-height: 35px;
        font-size: 14px;
        font-weight: bold;
        color: #0bf;
        padding: 0px 10px;
    }
    .show-find strong.arr
    {
        width: 0px;
        height: 0px;
        display: block;
        border: 7px solid transparent;
        border-top-color: #0bf;
        float: right;
        margin: -20px 10px 0px 0px;
        top: 12px;
        right: 7px;
    }

    .show-sort
    {
        height: 35px;
        width: auto;
        position: relative;
        display: block;
        cursor: pointer;
        background-color: #f3f3f3;
        border: 1px solid #e1e1e1;
        width: 46%;
        float: right;
        font-size: 14px;
    }
    .show-sort h3
    {
        line-height: 35px;
        font-size: 14px;
        font-weight: bold;
        color: #0bf;
        padding: 0px 10px;
    }
    .show-sort strong.arr
    {
        width: 0px;
        height: 0px;
        display: block;
        border: 7px solid transparent;
        border-top-color: #0bf;
        float: right;
        margin: -20px 10px 0px 0px;
        top: 12px;
        right: 7px;
    }

    .show-sort-item
    {
        position: absolute;
        top: 35px;
        left: -1px;
        width: 100%;
        display: none;
        z-index: 9999;
        background-color: #f3f3f3;
        border: 1px solid #e1e1e1;
    }
    .show-sort-show .show-sort-item
    {
        display: block;
    }
    .show-sort-item p
    {
        padding: 3px 10px;
    }
    .show-sort-item p a
    {
        display: block;
        padding: 3px 0px;
    }
    .list-header .col2
    {
        display: none;
    }
}

.colright div
{
    box-sizing: border-box;
    line-height: 20px;
}

@media (max-width:768px)
{
    .collfs
    {
        display: none;
    }
    /*.colrgs{margin:0px;}*/
    .title-header span.name
    {
        color: #4d4d4d;
        float: left;
        font-size: 15px;
        font-weight: normal;
        padding-left: 10px;
    }
    .title-header h1
    {
        color: #0bf;
        float: left;
        font-size: 15px;
        font-weight: bold;
        padding-left: 5px;
    }

}


@media (max-width:678px)
{

    .col1-inner h2 a
    {
        font-size: 12px;
    }
    .row-col-inner p.price-color
    {
        color: #cc4225;
        font-size: 16px;
        text-transform: none;
    }

    .img-product img
    {
        max-height: 90px;
        max-width: 100px;
    }
    .img-product
    {
        float: left;
        height: 90px;
        margin: 0 10px 0 0;
        text-align: center;
        width: 100px;
    }

    .row-col-inner a:first-child
    {
        float: left;
        width: 110px;
    }

    .row-col-inner p.price-color
    {
        color: #cc4225;
        font-size: 14px;
        text-transform: none;
    }

    .row-col-inner a.move, .buttonCompare a
    {
        background: -moz-linear-gradient(center top , #ffb319 5%, #fb9e25 100%) repeat scroll 0 0 #ffb319;
        border: 1px solid #eeb44f;
        border-radius: 3px;
        box-shadow: 0 1px 0 0 #fce2c1 inset;
        color: #111;
        display: inline-block;
        font-family: Arial;
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        height: 27px;
        line-height: 27px;
        margin-top: 4px;
        text-align: center;
        text-decoration: none;
        text-indent: 0;
        width: 90px;
    }
}

@media (max-width:400px)
{

    .paging a
    {
        font-size: 11px;
        padding: 4px 6px;
    }



}
