﻿body
{
min-width:310px;

}


#footer .grid-wrap
{

padding:0px 5px;
}

@media(max-width:975px)
{


/*.wrap
{
padding:0px 5px 0px 5px;
}
.grid-wrap

{
padding:0px 0px 0px 15px;
}*/
.grid-wrap
{
min-width:0px;
width:auto;

}

#footer
{

}
.ft-title
{
margin:0px 0px 10px 0px;
}
.ft-list
{
display:block;
padding:0px;

}
}


@media(max-width:900px) {

.ft-col-wrap.connect
{
width:30%;

}


}
@media(max-width:700px) {

.ft-col-wrap
{

display:block;
padding:0px;
width:auto;

}
#footer .grid-wrap .ft-nav
{
width:auto;
display:block;
}
#footer .grid-wrap
{
display:block;


padding:0px 5px;
}

.ft-col-wrap.connect
{
width:auto;

}

}
@media(max-width:480px) {


}

@media(max-width:660px)
{

.header
{


}

}




















/*@media(max-width:975px)
{
.colright

{

}

.cat_header 

{
display:none;
}
.header img.slogan
{
display:none;
}

.wrap
{
padding:0px 5px 0px 5px;
}
.grid-wrap

{
padding:0px 0px 0px 15px;
}
#footer
{
display:none;
}

.colleft
{

width:68%;


}
.cat_box

{
width:46.5%;
margin:0px 3% 0% 0%;
}
.colright
{
width:31%;

}
.colright .cat_box
{
width:99%;
}
}


@media(max-width:900px) {
.colleft
{
width:100%;
}
.colright
{
display:none;
}

}
@media(max-width:700px) {
.colleft
{


}

.home_cat_boxes

{
width:100%;
margin:0%;

}
.cat_box

{
margin:0px;
width:100%;
margin-bottom:5px;
}
.btn-search
{
width:14%;
margin:0px;
float:right;
}
.btn-search  input[type="submit"]
{
width:100%;

}
.box-search input[type="text"]
{
width:80%;
padding:0% 0% 0% 2%;
}
}
@media(max-width:480px) {
.cat_box_body

{
display:none;
}
}

@media(max-width:660px)
{

.header
{


}
.footer
{
display:none;
}
}*/