﻿.widow-width
{
    width: 1400px;
    display: none;
}

.test11
{
    width: 10px;
    height: 10px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 999;
    background-color: red;
}

.test1
{
    width: 10px;
    height: 10px;
    position: fixed;
    top: 10px;
    left: 30px;
    background-color: red;
}

@media screen and (min-width: 1200px)
{
}

@media screen and (max-width: 1200px)
{
    .box-news h2 ul li:first-child
    {
        display: none;
    }

    .lading
    {
        border-bottom: 1px solid #ebebec;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }



    .list-item .col-md-35:nth-child(9), .list-item .col-md-35:nth-child(10)
    {
        display: none;
    }

    .test
    {
        background-color: yellow;
    }
    .steps
    {
        display: none;
    }

    .widow-width
    {
        width: 1200px;
    }

    .cate-content
    {
        padding: 0px 0px 0px 0px;
    }

    .menu-cate
    {
        display: none;
    }

    .show-pop
    {
        display: block;
    }

    .cate-name h3
    {
        padding: 0px 0px 0px 5px;
    }

    .cate-name h3 a
    {
        font-size: 11px;
    }
    /*******RES_CATE****/

    .collum1
    {
        width: 40%;
    }

    .collum2
    {
        width: 20%;
    }

    .collum3
    {
        width: 15%;
    }

    .collum4
    {
        width: 15%;
        display: none;
    }

    .collum5
    {
        width: 15%;
        display: none;
    }


    .catenews
    {
        padding: 0px 0px 0px 0px;
    }

    .col-ads
    {
        min-height: 400px;
        width: 290px;
        margin: 0px -305px 0px 0px;
        padding: 0px 0px 0px 15px;
        float: right;
        display: none;
    }

    .col-border
    {
        border-left: 1px solid #f8f8f8;
        border-right: none;
    }
    /*************RES Detail*/


    .tab-store-bar ul
    {
        float: right;
        margin: 0px 0px 0px 0px;
    }
}

@media screen and (max-width: 992px)
{
    .footer-bottom
    {
        margin-top: 10px;
    }
    .footer .line
    {
        display: none;
    }
    .coppy
    {
        border: none !important;
    }

    .coppy h3
    {
        margin: 10px 0px 10px 0px;
        padding: 0px;
    }

    .login .nd a
    {
        display: none;
    }
    .logo1
    {
        margin: 0px 0px 10px 0px;
        display: block;
    }

    .cer
    {
    }

    .footer-bottom > div
    {
        min-height: 1px;
    }

    .list-item .col-md-35:nth-child(9), .list-item .col-md-35:nth-child(10)
    {
        display: none;
    }

    .cate
    {
        min-height: 210px;
    }

    .sub-content ol li
    {
        width: 45%;
        float: left;
    }

    .test
    {
        background-color: blue;
    }

    .widow-width
    {
        width: 992px;
    }


    .step p
    {
        display: none;
    }

    .col-bt
    {
        display: none;
    }

    /*******RES_CATE****/


    .list-cate-filter
    {
        display: none;
    }

    .middle
    {
        padding: 0px 0px 0px 0px;
    }

    .middle-left
    {
        width: auto;
        background-color: #f4f4f4;
        min-height: 10px;
        margin: 0px 0px 2px 0px;
        float: none;
        position: relative;
    }

    .middle-right
    {
        border-left: none;
        min-height: 100px;
        padding: 0px 0px 0px 0px;
        float: right;
        width: 100%;
    }

    .sort-paging .paging
    {
        display: none;
    }

    .sort-paging-bottom .sort
    {
        display: none;
    }

    .sort-paging-bottom .paging
    {
        display: block;
    }


    .sort-paging-bottom .paging a
    {
        margin-bottom: 10px;
    }

    .show-filter
    {
        display: block;
        min-height: 30px;
    }

    .filter
    {
        position: absolute;
        top: 33px;
        left: 0px;
        background-color: #f4f4f4;
        width: 100%;
        z-index: 99999;
        display: none;
    }

    .filter h2
    {
        display: none;
    }
    /***************RES_DETAIL*/

    .detail
    {
        padding: 0px 0px 0px 0px;
    }

    .detail-right
    {
        width: auto;
        margin: 0px 0px 0px 0px;
        min-height: 100px;
        float: none;
        padding: 0px;
        border: none;
    }

    .detail-left
    {
        width: 100%;
        min-height: 100px;
        float: none;
    }

    .footer-top
    {
        display: none;
    }
    .news-re
    {
        padding: 10PX 0PX 0PX 0PX;
    }


}

@media screen and (max-width: 767px)
{
    .cate
    {
        min-height: 1px;
    }

    .step p
    {
        display: block;
    }

    .col-news
    {
        float: left;
        width: 60%;
    }
    .col-news-border
    {
        float: left;
        width: 40%;
    }
    .one-review img
    {
        display: block;
    }
    .box-news h2 ul
    {
        display: none;
    }
}


@media screen and (max-width: 667px)
{

}

@media screen and (max-width: 768px)
{
    .cates-title
    {
        padding: 20px 0px;
    }

    .steps
    {
        display: none;
    }

    .cates
    {
        padding: 0px 0px 0px 3px;
    }

    .cate ul
    {
        display: none;
    }

    .cate
    {
        padding: 20px 0px 20px 0px;
    }

    .box-cate
    {
        border: 1px solid #f3f3f3;
        float: left;
        margin: -1px 0px 0px -1px;
        min-height: 123px;
    }

    .cate-icon
    {
        float: none;
        margin: 0px auto;
        width: 40px;
        height: 40px;
    }

    .cate h3
    {
        color: #02b1f2;
        font-size: 14px;
        margin: 10px 0px 0px 0px;
        text-align: center;
        padding: 0px;
    }

    .cate h3 a
    {
        color: #02b1f2;
        font-size: 14px;
    }
    .slogan
    {
        display: none;
    }


    .search-outer
    {
        margin: 20px auto 20px auto;
    }
    .search-solid
    {
        width: 100%;
    }

    .search-res
    {
        display: block;
    }

    .nav, .pop-menu
    {
        display: none !important;
    }

    .nav-touch, .menu-res
    {
        display: block;
    }

    .logo-outer
    {
        margin: 10px 0px 10px 0px;
    }

    .wath
    {
        display: none;
    }

    .test
    {
        background-color: lime;
    }
    .cate
    {
        min-height: 130px;
    }
    .cate h3 a:hover
    {
        color: #f69c0e;
    }
    .widow-width
    {
        width: 768px;
    }

    .slider-outer
    {
        display: none;
    }

    /*********RES CATE***/
    .box-cate
    {
        min-height: 10px;
    }
    .logo1
    {
        display: none;
    }

    .footer .logo1
    {
        display: block;
    }

    .auto-search
    {
        width: 100% !important;
    }
    .search-cate:hover
    {
    }

    .collum1
    {
        width: 40%;
        padding: 10px 10px 10px 0px !important;
    }

    .collum2
    {
        width: 20%;
    }

    .collum3
    {
        width: 15%;
        display: none;
    }

    .news-read
    {
        margin: 20px 0px 0px 0px;
    }

    .news-read ul li img
    {
        display: none;
    }

    /***res-detail*/
    .tab-bar li a
    {
        padding: 0px 30px;
    }

    .tab-bar li a i
    {
        margin: 5px 0px 0px;
        font-size: 25px;
    }

    .tab-bar li a span
    {
        display: none;
    }

    .tab-map
    {
        min-height: 100px;
        padding: 10px 0px 10px 0px !important;
    }

    .tab-map-left
    {
        width: 100%;
        margin: 0px 0px 10px 0px;
        float: none;
        height: 200px;
    }


    .tab-map-right
    {
        float: none;
        width: 100%;
        height: 400px;
    }

    .rr-left
    {
        float: none;
        width: auto;
    }
    .rr-reply-form .rr-left
    {
        float: left;
    }

    .rate-col
    {
        min-height: 100px;
        float: none;
        width: 100%;
    }

    .rate-col-fix
    {
        float: none;
    }

    .all-rate-sort
    {
        float: none;
        margin: 10px 0px 5px 0px;
    }


}
@media screen and (max-width: 700px)
{
    .overview
    {
        padding: 0px 0px 0px 0px;
    }

    .overview-left
    {
        float: none;
        width: auto;
        margin: 0px;
    }

    .overview-right
    {
        min-height: 100px;
        float: none;
        width: 100%;
    }
    .urlpro
    {
        display: block;
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media screen and (max-width: 600px)
{
    .store-item-col3 p
    {
        float: left;
        max-width: 160px;
        overflow: hidden;
    }
}
@media screen and (max-width: 480px)
{
    .col-news
    {
        float: none;
        width: 100%;
    }
    .col-news-border
    {
        float: none;
        width: 100%;
    }
    .store-item-col3 p
    {
        float: none;
        max-width: 190px;
        overflow: hidden;
    }

    .box-news h2 ul
    {
        display: none;
    }
    .cates-title h2
    {
        height: 14px;
        width: 100%;
        background-position: top center;
        background-size: cover;
        margin: 0px auto;
        line-height: 5px;
        background-image: url(../img/line.png);
    }

    .box-cate
    {
        border: 1px solid #f3f3f3;
        float: left;
        margin: -1px 0px 0px -1px;
        min-height: 90px;
    }

    .cate h3
    {
        display: none;
    }

    .logo-outer
    {
        margin: 10px 0px 10px 0px;
    }

    .widow-width
    {
        width: 480px;
    }

    .search-solid
    {
        width: 100%;
    }

    .search
    {
        height: 45px;
        background-color: white;
        border-radius: 2px;
        padding: 0px 60px 0px 0px;
    }

    .search input[type='text']
    {
    }

    .search input[type='submit']
    {
        width: 60px;
        margin: 0px -60px 0px 0px;
    }

    .test
    {
        background-color: gray;
    }
    .cate
    {
        min-height: 70px;
    }

    .col-480
    {
        width: 100%;
        float: none;
    }
    .item
    {
        padding: 10px 0px;
        min-height: 100px;
    }
    .img-outer
    {
        float: left;
        width: 120px;
    }
    .item h3
    {
        text-align: left;
    }
    .item p
    {
        text-align: left;
    }


    .item .btn-compare
    {
        float: left;
    }

    /*********RES*/
    .sort
    {
        float: none;
    }

    .sort input[type="submit"]
    {
        display: block;
        width: 100%;
        margin: 10px 0px;
        height: 30px;
        line-height: 20px;
    }

    .collum1
    {
        width: 100%;
    }

    .collum2
    {
        width: 100%;
        display: none;
    }

    .product-col1 .product-col2
    {
        display: block;
    }

    .product-col1
    {
        text-align: left;
        padding: 0px 0px 0px 120px;
    }

    .col1-img
    {
        float: left;
        margin: 0px 0px 0px -120px !important;
    }
    .urlpro
    {
        display: block;
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .col1-img
    {
        margin: 0px auto;
        text-align: center;
        width: auto;
        height: auto;
        float: none;
        text-align: center;
        margin: 0px 10px 5px 0px;
        float: left;
        width: 110px;
        min-height: 140px;
    }

    .product-col1 h3
    {
        text-align: left;
    }
    .product-col1 .urlpro
    {
        text-align: left;
    }
    .product-col2 p
    {
        text-align: left;
    }
    .product-col1 a
    {
        float: left;
    }
    .product-col1 h3 a
    {
        float: none;
    }
    .product-col1 .col1-img a
    {
        float: none;
    }
    .col1-img img
    {
        max-width: 100%;
    }

    .product-col1 h3
    {
        margin: 0px;
        padding: 0px;
        margin: 0px 0px 5px 0px;
    }

    .product-col1 h3 a
    {
        color: #222222;
        font-size: 14px;
    }
    /*******res detail*/
    .tab-store-bar ul
    {
        display: none;
    }

    .store-item-col1
    {
        display: none;
    }

    .store-item-col2
    {
        margin-right: 10px;
    }

    .overview-left
    {
        width: auto;
    }

    .pgwSlideshow .ps-current
    {
        min-height: 200px !important;
    }



    .pgwSlideshow .ps-current > ul > li img
    {
        max-height: 200px !important;
    }

    .rr-left
    {
        float: none;
        width: auto;
    }
    .rr-right
    {
        padding: 0px 0px 0px 0px;
    }



    .search-cate .search
    {
        padding: 0px 40px 0px 0px;
    }

    .search-cate .search input[type='text']
    {
        border: none;
        padding: 0px;
        margin: 0px;
        height: 40px;
        width: 100%;
        padding: 0px 10px;
        background-color: transparent;
        float: left;
        outline: none;
        border: 1px solid #dfdfdf;
        border-radius: 1px;
    }

    .search-cate .search input[type='submit']
    {
        height: 40px;
        border-radius: 0px 1px 1px 0px;
        background-image: url(../img/search2.png);
        width: 40px;
        margin-right: -40px;
    }
    .auto-search
    {
        position: absolute;
        width: 100%;
        z-index: 9999;
        padding: 0px 0px 0px 60px;
        left: 0px;
    }
}

@media screen and (max-width: 420px)
{
    .test
    {
        background-color: pink;
    }

    .list-one li img
    {
        display: block;
        max-height: 200px;
        height: auto;
    }

    .news-re
    {
        padding: 0px;
    }
    .overview-left
    {
    }
    .showcase
    {
    }
    .showcase-thumbnail-restriction
    {
        width: 230px !important;
    }
    .showcase-thumbnail-container
    {
        padding: 10px 0px 0px 6px !important;
    }
}

@media screen and (max-width: 320px)
{
    .showcase-thumbnail-container
    {
        float: left;
        margin: 0px 0px 0px -20px !important;
    }
}
@media screen and (max-width: 650px)
{
    .news
    {
        padding: 0px 0px 0px 0px;
    }

    .news-right
    {
        width: 250px;
        display: none;
        margin: 0px -250px 0px 0px;
    }

    .col-two
    {
        float: right;
    }
}


@media screen and (max-width: 480px)
{
    .login span
    {
        display: none;
    }

    .col-md-35
    {
        width: 100%;
    }
}
