﻿@charset "utf-8";

.rating-container {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
    width: 131px;
    z-index: 1;
}

.srp .rating-container {
    margin: 0 5px 0 0;
}

.rating-bar {
    background: none repeat scroll 0 0 #00BBFF;
    height: 23px;
    position: absolute;
    -webkit-transition: all 0.1s ease 0s;
    -moz-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
    z-index: 15;
}

.green {
    background: none repeat scroll 0 0 #A1CC46;
}

.yellow {
    background: none repeat scroll 0 0 #FFCC00;
}

.red {
    background: none repeat scroll 0 0 #E53D33;
}

.rating-bar-back {
    background: none repeat scroll 0 0 #C9C9C9;
    height: 23px;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.star {
    float: left;
    height: 23px !important;
    position: relative;
    width: 23px !important;
    z-index: 20;
}

.spr, .spr-a:after {
    background-image: url("images/color-sprite28.png");
    background-repeat: no-repeat;
}

.star .star-icon {
    background-color: rgba(0, 0, 0, 0);
    background-position: -280px -50px;
    height: 22px;
    left: 0;
    position: absolute;
    width: 23px;
}

.ratable .star-icon {
    cursor: pointer;
}

.rating-container .tl, .rating-container .tr, .rating-container .bl, .rating-container .br {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 1px !important;
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=60);
    /* Older than Firefox 0.9 */
    -moz-opacity: 0.6;
    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.6;
    /* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
    opacity: 0.6;
    position: absolute !important;
    width: 1px !important;
}

.rating-container .tl {
    left: 0;
    top: 0;
}

.rating-container .tr {
    right: 0;
    top: 0;
}

.rating-container .bl {
    bottom: 0;
    left: 0;
}

.rating-container .br {
    bottom: 0;
    right: 0;
}

.spacer {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 23px !important;
    position: relative;
    width: 4px !important;
    z-index: 20;
}

.stars span.star.active {
    -webkit-transform: rotate(360deg);/* Chrome, Safari, Opera */
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s; /* For Safari 3.1 to 6.0 */
    -webkit-transition: width 0.5s, height 0.5s, transform 0.5s;
    -moz-transition: width 0.5s, height 0.5s, transform 0.5s;
    -o-transition: width 0.5s, height 0.5s, transform 0.5s;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.clearfix {
    clear: both;
    display: block;
}

.large.rating-container {
    height: 34px;
    width: 194px;
}

.large .rating-bar {
    height: 34px;
}

.large .rating-bar-back {
    height: 34px;
}

.large .star {
    height: 34px !important;
    width: 34px !important;
}

    .large .star .star-icon {
        background-position: -220px -62px;
        height: 34px;
        position: absolute;
        width: 34px;
    }

.large .spacer {
    height: 34px !important;
    width: 6px !important;
}

.small.rating-container {
    height: 17px;
    width: 97px;
}

.small .rating-bar, .rating-breakdown .rating-bar {
    height: 17px;
}

.small .rating-bar-back {
    height: 17px;
}

.small .star {
    height: 17px !important;
    width: 17px !important;
}

    .small .star .star-icon {
        background-position: -283px -33px;
        height: 17px;
        position: absolute;
        width: 17px;
    }

.small .spacer {
    height: 17px !important;
    width: 3px !important;
}
