@media(min-width:975px) {
	#sidr {display: none;}
.sidr-open{width: auto !important;position:relative !important;left:0px }
}
@media(max-width:900px) 
{
    #sidr{display: none;}
.show-nav .pop-menu{display:none;}
}

@media(max-width:678px) 
{
    .box-search {float: left;width: 100%;margin: 15px 0px;}
}

.sidr {
	display: none;position: absolute;	position: fixed;
	top: 0;	height: 100%;
	z-index: 999999;width: 260px;
	overflow-x: none;overflow-y: auto;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 15px;background: #333;
	color: #fff;
}
	.sidr .sidr-inner {	padding: 0 0 15px;}
		.sidr .sidr-inner > p {	margin-left: 15px;	margin-right: 15px;	}
	.sidr.right {left: auto;right: -260px;	}
	.sidr.left {left: -260px;right: auto;}
	.sidr h1, .sidr h2, .sidr h3, .sidr h4, .sidr h5, .sidr h6 {
		font-size: 11px;
		font-weight: normal;
		padding: 0 15px;
		margin: 0 0 5px;
		color: #fff;
		line-height: 24px;
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1a1a1a));
		background-image: -webkit-linear-gradient(#4d4d4d,#1a1a1a);
		background-image: -moz-linear-gradient(#4d4d4d,#1a1a1a);
		background-image: -o-linear-gradient(#4d4d4d,#1a1a1a);
		background-image: linear-gradient(#4d4d4d,#1a1a1a);
		-webkit-box-shadow: 0 5px 5px 3px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 5px 5px 3px rgba(0,0,0,0.2);
		box-shadow: 0 5px 5px 3px rgba(0,0,0,0.2);
	}

	.sidr p {
		font-size: 13px;
		margin: 0 0 12px;
	}

		.sidr p a {
			color: rgba(255,255,255,0.9);
		}

	.sidr > p {
		margin-left: 15px;
		margin-right: 15px;
	}

	.sidr ul {
		display: block;
		margin: 0 0 15px;
		padding: 0;
		border-top: 1px solid #1a1a1a;
		border-bottom: 1px solid #4d4d4d;
	}

		.sidr ul li {
			display: block;
			margin: 0;
			line-height: 35px;
			border-top: 1px solid #4d4d4d;
			border-bottom: 1px solid #1a1a1a;
		}

			

			.sidr ul li a, .sidr ul li span {
				padding: 0 15px;
				display: block;
				text-decoration: none;
				color: #fff;
			}

			.sidr ul li ul {
				border-bottom: none;
				margin: 0;
			}

				.sidr ul li ul li {
					line-height: 40px;
					font-size: 13px;
				}
	.sidr ul li:hover
{
background-color:#222;
	}
.sidr ul li:hover a
{
color:#00BBFF;
}

					.sidr ul li ul li:last-child {
						border-bottom: none;
					}

					.sidr ul li ul li:hover, .sidr ul li ul li.active, .sidr ul li ul li.sidr-class-active {
						border-top: none;
						line-height: 41px;
					}

						.sidr ul li ul li:hover > a, .sidr ul li ul li:hover > span, .sidr ul li ul li.active > a, .sidr ul li ul li.active > span, .sidr ul li ul li.sidr-class-active > a, .sidr ul li ul li.sidr-class-active > span {
							-webkit-box-shadow: inset 0 0 15px 3px #222;
							-moz-box-shadow: inset 0 0 15px 3px #222;
							box-shadow: inset 0 0 15px 3px #222;
						}

					.sidr ul li ul li a, .sidr ul li ul li span {
						color: rgba(255,255,255,0.8);
						padding-left: 30px;
					}

	.sidr form {
		margin: 0 15px;
	}

	.sidr label {
		font-size: 13px;
	}



	.sidr input[type=checkbox] {
		width: auto;
		display: inline;
		clear: none;
	}

	.sidr input[type=button], .sidr input[type=submit] {
		color: #333;
		background: #fff;
	}

		.sidr input[type=button]:hover, .sidr input[type=submit]:hover {
			background: rgba(255,255,255,0.9);
		}
		
		
		
		.seach-sidr {

	padding: 10px;
}

.seach-sidr input[type="text"] {
	border: 1px solid red;
	padding: 0px;
	width: 80%;
	float: left;
	padding: 0px 5px;
	margin: 0px;
	 box-sizing: border-box;
	 azimuth: inherit;
	  border-color: #DDDDDD;
    border-radius: 2px 0 0 2px;
    border-style: solid none solid solid;
    border-width: 1px 1px 1px 1px;
    box-shadow: 0 1px 3px 1px rgba(204, 204, 204, 0) inset;
   
    font-size: 18px;
    color: #4D4D4D;
    font-size: 13px;
    height: 30px;
    outline:none;
    margin: 0;
}
.seach-sidr input[type="submit"] {
	border: 1px solid red;
	padding: 0px;
	width: 20%;
 box-sizing: border-box;
	float: left;
	margin: 0px;
  background-color: #00BBFF;
    border-color: #02B1F2;


    height: 30px;
     -moz-box-sizing: border-box;
              box-sizing:border-box;
    float: left;
    border: 1px solid #02B1F2;
    border-radius: 0px 2px 2px 0px;
    cursor: pointer;
    background-image: url(images/search1.png);
    background-repeat: no-repeat;
    background-position: center center;
}



.seach-sidr input[type="text"]:focus
{
    border-color: #02B1F2;
    outline: none;
}
.seach-sidr input[type="submit"]:hover 
{
     background-color: #00BBFF;
          background-image: url(images/search1.png);
    background-repeat: no-repeat;
    background-position: center center;
}

