.p-spec {width:100%;border: 1px solid #C3C3C3;}
.p-spec-value {width:100%;border-bottom: 1px solid #C3C3C3;}
.p-spec-col1 {
width: 25%;
font-weight: bold;
font-size: 13px;
text-align: center;
}
.p-spec-col2 {
width: 75%;
padding: 0;
}
 .p-spec-value-col1 {
width: 37%;
border: medium none;
border-right: 1px solid #C3C3C3;
padding-left: 3%;
}
.p-spec-value-col2 {
border: medium none;
width: 57%;
padding-left: 3%;
}

/* DienMay */
.martable{margin-top:40px}
.generaltd{background:#f8f8f8;font-weight:bold;text-align:center;width:180px;border-top:1px solid #f0f0f0;border-bottom:1px solid #eee;padding-top:20px}
.generaltd-2{border-top:1px solid #f0f0f0;border-bottom:1px solid #eee}
.generaltd-2 td {padding: 5px 0}

/* DienMay new 3/2014*/
.product-compare{border-color:#fff;width:100%!important}
.product-compare td.v,#detail-frame td.v{background-color:#fcfcfc;border-bottom:solid 1px #fff;color:#717171;font-size:13px!important}
.product-compare tr td{padding:10px;text-align:left}
.product-compare table,#detail-frame table{border:solid 0 #fff;border-collapse:separate}
.product-compare tr.r,#detail-frame tr.r{border-top:solid 1px #efefef}
#detail-frame td.g{width:160px!important}
.product-compare td.g,#detail-frame td.g{background-color:#f6f6f6;border-bottom:solid 1px #fff;color:#656565;font-size:13px!important;font-weight:bold;padding-left:10px;width:150px!important}
#detail-frame tr.r td.p{background-color:#fcfcfc;border-top:solid 1px #eee!important;vertical-align:top}
#detail-frame td.p{width:180px}
.product-compare td.p,#detail-frame td.p{background-color:#fcfcfc;border-bottom:solid 1px #fff;color:#434343;font-size:13px!important;line-height:30px;min-width:135px;padding-left:5px}
.product-compare td,#detail-frame td{font-size:12px;height:20px;padding:2px;text-align:left}
.eph,.egh{color:#316ac5;cursor:pointer;font-size:13px!important}
.product-compare td.g,.product-compare td.f,#detail-frame td.g,#detail-frame td.f{border-top:solid 1px #eee!important}

/*DienMay new 7/2014*/

.specifications {
display: block;
width: 700px;
margin: 0 auto;
background: #fff;
}

.specifications img {
max-width: 700px;
display: block;
margin: 15px auto;
}

.specifications ul {
width: 700px;
}

.specifications li {
display: table;
font-size: 13px;
border-top: 1px solid #efefef;
}

.specifications li ul {
width: 698px;
}

.specifications li li {
display: table-cell;
vertical-align: top;
color: #333;
width: 260px;
border-top: 0;
*display: inline-block;
*float: left;
}

.specifications li li:first-child {
background: #f6f6f6;
border-bottom: 1px solid white;
width: 150px;
padding: 10px;
font-weight: 700;
color: #666;
}

.specifications li li span {
display: block;
padding: 8px;
}

.specifications li li a {
display: block;
padding: 8px;
color: #0082cc;
position: relative;
}

.specifications li li a:hover .descspeci {
display: block;
border: 2px solid #f9e98e;
}

.specifications li li a .descspeci {
display: none;
background: #fbf7aa;
color: #b47d35;
padding: 5px;
position: absolute;
bottom: 30px;
left: 6px;
right: 0;
width: 230px;
}

.specifications li li a .descspeci .arrdesspeci {
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid #f9e98e;
display: inline-block;
width: 0;
height: 0;
position: absolute;
bottom: -10px;
}
.specifications .ph{padding:8px}


/*DienMay new 8/2014*/
.paratable{display:table;width:700px;margin:auto;float:none}
.paratable li{display:table-row;vertical-align:top;float:none}
.paratable li .asideleft{display:table-cell;background:#f6f6f6;border-bottom:1px solid #fff;font-weight:700;font-size:13px;color:#656565;padding:10px;width:150px}
.paratable li .asideright{display:table-cell;vertical-align:top;background:#fff;padding:0 10px;border-bottom:1px solid #f6f6f6}
.paratable li .asideright ul{display:table-row;*float:none}
.paratable li .asideright ul li{display:table-row;*float:none;vertical-align:top;color:#434343;font-size:13px;margin:10px 0}
.paratable li .asideright ul li div,.paratable li .asideright ul li h3{display:table-cell;*float:left;font-size:13px;padding-right:10px;width:200px;font-weight:normal;line-height:30px}
.paratable li .asideright ul li h4{display:table-cell;*float:left;padding-right:10px;width:auto;font-weight:normal;line-height:20px}
.paratable li .asideright ul li a{display:table-cell;text-decoration:none;color:#316ac5;position:relative}
.paratable li .asideright ul li,.paratable li .asideright ul li a:hover .descspeci{display:block}
.paratable li .asideright ul li .descspeci{display:none;background:#fbf7aa;color:#b47d35;padding:5px;position:absolute;bottom:30px;left:6px;right:0;width:230px;border:2px solid #f9e98e;line-height:normal}
.paratable li .asideright ul li .descspeci .arrdesspeci{border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #f9e98e;display:inline-block;width:0;height:0;position:absolute;bottom:-10px}

/* Mediamart new */

.p-introduct-spec-full
{
    display: block;
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
}
.p-introduct-spec-full .productatribute-box
{
    border-collapse: collapse;
    border: 1px solid #DDDDDD;
    border-bottom: none;
    display: table;
    width: 100%;
    margin: 0 auto;
    clear: both;
}
.p-introduct-spec-full .productatributeparent-name
{
    width: 23%;
    padding-left: 2%;
    vertical-align: middle;
    display: table-cell;
    border-right: 1px solid #DDDDDD;
    text-transform: uppercase;
    background-color: #f0f0f0;
}
.p-introduct-spec-full .productatribute-info
{
    display: table-cell;
}
.p-introduct-spec-full .productatribute-info p
{
    border-bottom: 1px solid #DDDDDD;
    clear: both;
    display: table;
    width: 100%;
}
.p-introduct-spec-full .productatribute-info p:last-child
{
    border-bottom: none;
}
.p-introduct-spec-full p span.productatribute-name, .p-introduct-spec-full p span.productatributevalue-name, .p-introduct-spec-full .productatribute-info h2
{
    float: left;
    width: 38%;
    padding: 8px 0 8px 2%;
    font: 12px Arial;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}
.p-introduct-spec-full p span.productatribute-name
{
}
.p-introduct-spec-full p span.productatributevalue-name
{
    border-left: 1px solid #DDDDDD;
    width: 57%;
}