﻿/*start login*/
.active .popup_login_box{display:block!important;}
.popup_login_box a,.popup_login_box span{float:none;}
.popup_login_box{z-index:999;background-color:#FFF;width:430px;max-width:100%;-webkit-box-shadow:0 0 30px 1px rgba(0,0,0,0.3);-moz-box-shadow:0 0 30px 1px rgba(0,0,0,0.3);box-shadow:0 0 30px 1px rgba(0,0,0,0.3);overflow:hidden;}
.popup_login_box .form-text{-webkit-box-shadow:inset 0 1px 2px #DDD;-moz-box-shadow:inset 0 1px 2px #ddd;box-shadow:inset 0 1px 2px #DDD;font-size:17px;width:100%;padding:7px 0 8px 8px;margin-bottom:5px;font-weight:300;border-radius:2px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.register-terms{font-size:10px;text-align:left!important;margin-bottom:5px}
.register-terms a{font-size:10px}
.register-terms #edit-agree-tc-wrapper{text-align:left}
.account-info label{display:none}
.account-info #edit-agree-tc-wrapper .option{display:block}
#user_register #edit-agree-tc{width:auto;padding:0;vertical-align:middle}
.agree_tc .form-item{float:none!important}
.submit-button{text-align:right;margin-top:5px}
#user_register .submit-button #edit-submit{font-size:14px;text-transform:none;padding:7px 9px;font-family:helvetica}
#user_register{background-color:#fff;padding:13px 15px}
#user_register .fb_login_button{margin-top:10px;margin-bottom:2px;text-align:center;width:auto;display:block}
#user_register .google-login-btn{text-align:center;width:auto;display:block;margin:0 auto}
.account-info,.thank-you-info{border-top:0;margin-top:1px}
.sub-area{padding:7px 0}
#user-login-small-form,#user-register-small-form{position:relative;padding-bottom:32px;width:275px;margin:0 auto}
#user-register-small-form .sub-area{padding:0}
#user-register-small-form .sub-area .error-field{margin:-5px 0 5px 0;font-size:10px}
#user-login-small-form td #edit-submit,#user-register-small-form td #edit-submit{height:41px;margin-top:-4px;font-size:13px;font-family:helvetica,arial,sans-serif}
.popup_login_dlg_body{width:100%;border-bottom:1px solid #e1e1e1}
.login-loading{display:none;opaicty:0;height:100%;width:100%;left:0;top:0;position:absolute;z-index:10000;background:#fff}
.login-loading.active{display:block;opacity:.7}
#login-message{font-size:17px;background-color:#f6f6f6;top:0;position:absolute;font-weight:bold;width:100%;padding:17px 0 12px 0;text-align:center;border-bottom:1px solid #e1e1e1;text-shadow:0 1px 0 white}
.ratings-note{background:url(/rx/img/ratings-note.png);width:13px;height:10px;padding:10px 22px;margin-left:-37px;margin-right:4px}
.popup_login_box .close_button{background:url(/rx/img/close.png) no-repeat scroll 0 0;height:23px;width:23px;position:absolute;right:10px;top:9px}
#return-login{text-align:center;padding:10px 0 10px 0}
#new-login{text-align:center;width:600px;margin:0 auto;padding:10px 0 25px 0;border-top:1px solid #e7e7e7}
.popup_login_box .sub-area{padding:8px 0}
.popup_login_box .faceb.large{text-align:center}
.popup_login_box .faceb.large .fb_button{background:transparent url("http://www.findthebest.com/rx/img/facebook_login_button.png") no-repeat;width:267px;height:58px;margin:-9px 0 0 -7px}
#login-title{font-size:18px;font-weight:bold;border-bottom:1px solid #e1e1e1;padding:10px 0 9px 0px;background:#f6f6f6;text-align:center}
#login-title h6{display:inline-block;vertical-align:top;margin:4px 0 0 10px;font-weight:normal;opacity:.9}
#login-title a{font-family:'LubalinGraphItcTEEMedium',Helvetica,Arial;font-size:14px;color:#222}
#login-title a span{color:#02b1f2}
.google-login-btn{position:relative;width:200px;height:25px;padding-left:45px;display:block;margin:10px auto 0 auto;font-size:16px;line-height:26px;text-shadow:0 -1px 0 rgba(0,0,0,0.1)}
.google-login-btn .btn-icon-wrap{border-right:1px solid #d6241b;-moz-box-shadow:1px 0 0 0 rgba(255,255,255,0.3);-webkit-box-shadow:1px 0 0 0 rgba(255,255,255,0.3);box-shadow:1px 0 0 0 rgba(255,255,255,0.3);position:absolute;left:0;top:0;height:100%;width:38px}
.google-login-btn .gp{position:absolute;background-position:-23px -68px;width:23px;height:20px;left:8px;top:12px}
.fb_login_button.large{position:relative;font-size:14px;text-transform:uppercase;line-height:26px;font-weight:bold;padding-left:45px;text-shadow:0 -1px 0 rgba(0,0,0,0.3);width:200px;height:25px;margin:10px auto 0 auto;display:block}
.fb_login_button.large .fb{position:absolute;background-position:-3px -66px;width:11px;height:23px;left:15px;top:9px}
.fb_login_button.small { border: 0 none;float:left; border-radius: 3px; color: #FFFFFF; display: block; font-size: 14px; font-weight: bold; height: 32px; line-height: 26px; margin: 2px auto 0 5px; padding: 0px; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1); text-transform: uppercase; width: 32px;}
.fb_login_button.small .fb{ background-position: -3px -66px; height: 22px; left: -5px; position: absolute; top: 5px; width: 18px;}
.fb_login_button .btn-icon-wrap2{-moz-box-shadow:1px 0 0 0 rgba(255,255,255,0.3);-webkit-box-shadow:1px 0 0 0 rgba(255,255,255,0.3);box-shadow:1px 0 0 0 rgba(255,255,255,0.3);position:relative;left:0;top:0;height:100%;width:38px}
.fb_login_button .btn-icon-wrap{border-right:1px solid #425e9d;-moz-box-shadow:1px 0 0 0 rgba(255,255,255,0.3);-webkit-box-shadow:1px 0 0 0 rgba(255,255,255,0.3);box-shadow:1px 0 0 0 rgba(255,255,255,0.3);position:absolute;left:0;top:0;height:100%;width:38px}
#reveal-login,#reveal-register{padding:10px;display:inline-block;vertical-align:middle}
#reveal-login.open{display:inline-block;background:#f5f5f5;margin-bottom:10px}
.open #reveal-login-form{display:block}
#reveal-login-form{display:block}
#ftb-sign-in-lnk{display:inline-block;cursor:pointer;font-size:16px;font-weight:300;padding:0 0 10px;margin:0 auto;position:relative}
.login-lock{background:url(/rx/img/lock-icon.png) no-repeat;padding:1px 9px;opacity:.5}
ftb-sign-in-lnk:hover .login-lock{opacity:1}
#user-login-small-form input.form-submit,#user-register-small-form input.form-submit{padding:5px 10px 6px;right:0;position:absolute;font-size:14px;-webkit-font-smoothing:antialiased}
#user-register-small-form input[type=checkbox]{vertical-align:middle;margin-bottom:1px}
#user-login-small-form a.forgot-password{font-size:10px;float:left}
#user-login-small-form a:hover,#user-register-small-form a:hover{text-decoration:underline}
#create-account-title{font-size:15px;margin-top:5px;margin-bottom:10px;font-weight:300}
.create-account-section{font-weight:300}
#create-account-btn{font-weight:bold}
#create-account-btn a{position:relative;color:#4d4d4d;font-size:13px;padding:5px 13px 5px 15px}
#create-account-btn a span{background-position:-766px -45px;padding:0 11px 0 14px}
#login-footer{background:#f6f6f6;border-radius:0 0 6px 6px;padding:11px 0 16px 0;border-top:1px solid #fff;text-align:center}
#login-footer ul{margin-left:15px}
#login-footer li{margin-left:25px;font-size:11px;display:inline;list-style:none}
#login-footer li:first-child{margin-left:0}
#login-footer li a{color:#4d4d4d}
#login-footer li a:hover{text-decoration:underline}
.popup_login_box .messages{margin:0;font-size:1em;text-align:left;line-height:19px;margin-bottom:10px;background-image:none;padding:3px 6px}
.popup_login_box .messages a{display:none}
.password-ph{position:absolute;top:7px;left:10px;font-size:16px}
#user-register-small-form .messages{font-size:14px;margin-top:0}
.password-error,.username-error,.mail-error{font-weight:bold;max-height:0;overflow:hidden;text-align:center;background-color:whiteSmoke}
.password-error.active,.username-error.active,.mail-error.active{max-height:999px;padding:5px 0}
.tc-error-sub{font-weight:bold;max-height:0;overflow:hidden;text-align:center;background-color:whiteSmoke}
.tc-error .tc-error-sub{max-height:999px;background-color:lightyellow}
.tc-error .agree_tc{background-color:lightyellow;border:1px solid transparent}
#edit-pass-wrapper{position:relative}
#recaptcha_table.recaptchatable{border:0!important;width:250px!important;text-align:left}
#recaptcha_table.recaptchatable .recaptcha_image_cell{padding:0!important}
#recaptcha_image{margin:0!important;margin-right:10px!important}
#recaptcha_table td{padding-left:0!important;text-align:left}
.recaptchatable #recaptcha_response_field{border:1px solid #CCC!important;border-radius:2px;height:23px;font-size:12px!important;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);box-shadow:inset 0 1px 2px rgba(0,0,0,0.1)}
#recaptcha_node{width:216px!important;margin-bottom:10px}
#recaptcha_node input{width:239px}
#recaptcha_image,#recaptcha_image img{width:237px!important}
#recaptcha_image img{border:1px solid #e1e1e1}
.recaptcha_buttons,.recaptcha_buttons *{margin:0;padding:0;border:0;color:black;position:static;top:auto;left:auto;right:auto;bottom:auto}
.recaptcha_buttons a{cursor:pointer;outline:0;border:0!important;padding:0!important;text-decoration:none;background:none!important;font-weight:normal}
#recaptcha_reload{display:block}
#recaptcha_audio,#recaptcha_image{display:block}
#recaptcha_whatsthis{display:block;margin-top:-5px}
@media only screen and (max-width:750px){#user-register-small-form{margin:0 auto}
}
.social-claus{font-size:10px;color: #7D7D7D;}
.social-prefix{display:none}
@media(max-width:767px){.popup_login_box{width:320px;height:100%}
#reveal-login,.login-or,.social-logins{display:block}
#new-login{width:315px}
.google-login-btn,.fb_login_button.large{height:20px;font-size:14px;line-height:21px;width:0;display:inline-block;padding-left:29px;margin-top:3px;margin-left:10px;margin-right:10px}
.google-login-btn .gp{top:9px}
.fb_login_button.large .fb{top:7px}
.popup_login_box .form-text{font-size:15px;line-height:17px}
.pre-footer{font-size:11px}
#login-footer{display:none}
.social-btn-text{display:none}
.social-claus{display:block}
.btn-icon-wrap{border-right:0!important;box-shadow:none!important;-moz-box-shadow:none!important;-webkit-box-shadow:none!important}
.social-prefix{display:block;font-weight:bold;}
}
.bg-bright-red {background-color: #df4a32;color: #fff;border-color: #df4a32;text-shadow: 0 1px 0 rgba(0,0,0,0.1);}
.social-logins {display: inline-block;padding: 10px;vertical-align: middle;width: 262px;}
.social-logins span{color:#fff;}
.stnd-btn:hover {text-decoration: none!important;-webkit-box-shadow: 0 3px 4px -3px rgba(0,0,0,0.1);-moz-box-shadow: 0 3px 4px -3px rgba(0,0,0,0.1);box-shadow: 0 3px 4px -3px rgba(0,0,0,0.1);}
.bg-darkblue {background-color: #5f84c9;color: #fff;border-color: #5f84c9;text-shadow: 0 1px 0 rgba(0,0,0,0.4);}
user agent stylesheetdiv {display: block;}
.bg-blue {background-color: #0bf;color: #fff!important;border-color: #0bf;text-shadow: 0 1px 0 rgba(0,0,0,0.1);}
media="all"::selection {background: #0bf;}
media="all"::selection {color: #fff;}
.bg-darkblue:hover {background-color: #496ab0;color: #fff;border-color: #496ab0;}
.stnd-btn:hover {text-decoration: none!important;-webkit-box-shadow: 0 3px 4px -3px rgba(0,0,0,0.1);-moz-box-shadow: 0 3px 4px -3px rgba(0,0,0,0.1);box-shadow: 0 3px 4px -3px rgba(0,0,0,0.1);}
.bg-darkblue {background-color: #5f84c9;color: #fff;border-color: #5f84c9;text-shadow: 0 1px 0 rgba(0,0,0,0.4);}
.stnd-btn {font-family: Helvetica,Arial,sans-serif;font-weight: bold;font-size: 15px;display: inline-block;color: #4d4d4d;border: 1px solid #ddd;padding: 10px 14px 9px 14px;text-shadow: 0 -1px 0 rgba(255,255,255,0.1);border-radius: 2px;cursor: pointer;text-align: center;-webkit-transition: .3s;-moz-transition: .3s;-o-transition: .3s;transition: .3s;background-image: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(43,43,43,0.02) 71%);background-image: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(43,43,43,0.02) 71%);background-image: -ms-linear-gradient(top,rgba(255,255,255,0),rgba(43,43,43,0.02) 71%);background-image: -o-linear-gradient(top,rgba(255,255,255,0),rgba(43,43,43,0.02) 71%);background-image: linear-gradient(top,rgba(255,255,255,0),rgba(43,43,43,0.02) 71%);}
.bg-darkblue {background-color: #5f84c9;color: #fff;border-color: #5f84c9;text-shadow: 0 1px 0 rgba(0,0,0,0.4);}
.stnd-btn {font-family: Helvetica,Arial,sans-serif;font-weight: bold;font-size: 15px;text-shadow: 0 -1px 0 rgba(255,255,255,0.1);cursor: pointer;text-align: center;}
.bg-bright-red:hover {background-color: #d54c20;border-color: #d54c20;}
.google-login-btn {background-color: #d54c20;border-color: #d54c20;position: relative;width: 200px;height: 25px;padding-left: 45px;display: block;margin: 10px auto 0 auto;font-size: 16px;line-height: 26px;text-shadow: 0 -1px 0 rgba(0,0,0,0.1);}
.login-or {margin: 0 10px;display: inline-block;font-size: 16px;font-weight: bold;text-transform: uppercase;color: #666;font-style: italic;text-align: center;}
.gl_login{ position: relative;}
.googlelogin{background: #d54c20;border-color: #d54c20;width: 259px;height: 46px;padding:0 0 0 4px;display: block;margin: 10px auto 0 auto;font-size: 14px;color:#fff;line-height: 26px;text-transform: uppercase;font-weight:bold;text-shadow: 0 -1px 0 rgba(0,0,0,0.1);border-radius: 3px;border: 0px;}
.googlelogin2{ background: none repeat scroll 0 0 #D54C20; border: 0 none; border-radius: 3px; color: #FFFFFF; display: block; float: left; font-size: 14px; font-weight: bold; height: 32px; line-height: 26px; margin: 2px auto 0 5px; padding: 0px; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1); text-transform: uppercase; width: 32px;}
.googlelogin span{ line-height:45px; }
 .googlelogin:hover, .googlelogin:active{ background-color:#D54C20;}
.icongl{ z-index:200; position:absolute; background: url("images/color-sprite28.png")no-repeat left center; background-position:-23px -68px; width: 23px;height: 20px;left: 10px;top: 14px; }
.icongl_pa{ border-right: 1px solid #D54C20;-moz-box-shadow: 1px 0 0 0 rgba(255,255,255,0.3);-webkit-box-shadow: 1px 0 0 0 rgba(255,255,255,0.3);box-shadow: 1px 0 0 0 rgba(255,255,255,0.3);position: absolute;left: 0;top: 0;height: 100%;width: 38px; }
.icongl2 { background: url("images/color-sprite28.png") no-repeat scroll -23px -68px rgba(0, 0, 0, 0); height: 20px; left: 3px; position: absolute; top: 3px; width: 24px; z-index: 200;}
.icongl2_pa { border-right: 1px solid #D54C20; height: 103%; left: 0; position: relative; top: 0; width: 29px;}
 
 /*end login*/
.ui-dialog{width:auto!important;text-align: center;top: 6%!important;left: 18%!important;}
.ui-dialog .ui-dialog-buttonpane{display:none;}
.loginan{float:right;}
.loginshow { float:right;cursor: pointer;}
.loginshow .n { color:White;float:left;line-height:30px;font-size:12px;font-weight:bold;padding-right:5px;}
.loginshow .xc { color:#C3C3C3;float:left;line-height:30px;font-size:12px;font-weight:bold;padding-right:5px;}
.loginshow .nd { color:#C3C3C3;float:left;line-height:30px;font-size:12px;font-weight:bold;padding-right:5px;padding-left:5px;margin-top:10px;} 
.loginshow .nd a { color:#C3C3C3;float:left;line-height:30px;font-size:12px;font-weight:bold;padding-right:5px;}
.loginshow .nd a:hover {text-decoration:none;color:#4d4d4d/*#C3C3C3;*/}
.loginshow .lo { color:#C3C3C3;float:left;line-height:30px;font-size:12px;font-weight:bold;padding-right:5px;}
.loginshow .lo a {padding-left:5px; color:#C3C3C3;float:left;line-height:30px;font-size:12px;font-weight:bold;padding-right:5px;}
.loginshow .pi { float:left;border:none;margin-right: 2px;margin-top:10px;}
.loginshow em {float: right;display: block;width: 9px;height: 6px;background-image: url(../images/arr1.png);margin: 24px 0px 0px 2px;}
.pop-login:before1 { content: ""; position: absolute; display: block; width: 18px; top: -9px; right: 12px; background-image: url(../images/arr2.png); height: 9px;}
.pop-login1 { z-index: 100; cursor: pointer; position: absolute; top: 43px; right: -17px; background: none repeat scroll 0 0 #ffffff; background-color: #FFFFFF; border: 1px solid #BBBBBB; border-radius: 5px; color: #333333; display: none; font-size: 11px;}
.pop-login ul{width: 160px;}
.pop-login li {clear: left;
overflow: hidden;}
.pop-login a{border-bottom: 1px solid #e1e1e1;display: block;padding: 5px 10px !important;white-space: nowrap;color: #4d4d4d;font-weight: bold;height:auto;line-height: 25px;min-width: 140px;}
.pop-login li:last-child a {border-bottom: 0;}
.lgactive .pop-login { display: block;}
