﻿@charset "utf-8";

@font-face {
    font-family: "ftbicon";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/ftbicon3.eot#iefix") format("embedded-opentype"), url("fonts/ftbicon3.woff") format("woff"), url("fonts/ftbicon3.ttf") format("truetype"), url("fonts/ftbicon3.svg#ftbicon3") format("svg");
}
body { color: #4D4D4D; cursor: default; font: 13px/1.4 Helvetica,Arial,sans-serif;}
a, .link { color: #02B1F2; cursor: pointer; text-decoration: none;}
a:hover, .link:hover { text-decoration: none; }
img { border: 0 none;}
button, input, select, textarea {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
textarea { overflow: auto; vertical-align: top;}

input[type="text"], input[type="password"], input[type="number"], textarea, select {
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    color: #4D4D4D;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding: 3px 6px;
}

.review-title {
    display: inline;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.review-all-header {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 15px;
}

.showing {
    display: inline;
    font-weight: 300;
    font-size: 13px;
}

.sort-wrap {
    float: right;
    font-weight: bold;
    font-size: 13px;
    margin-bottom:-30px;
}

    .sort-wrap .fs-wrap {
        margin-left: 10px;
        text-transform: none;
    }

.fs-wrap {
    border: 1px solid #E1E1E1;
    -webkit-border-radius: 2px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 2px; /* Firefox 1-3.6 */
    border-radius: 2px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    behavior: url(PIE.htc);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    color: #4D4D4D;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    background: #F3F4F6;
}

.reviews {
    /*border-bottom: 1px solid #EEEEEE;*/
    clear: both;
    margin-bottom: 10px;
    min-height: 15px;
    position: relative;
}

.review {
    border-bottom: 1px solid #EEEEEE;
    padding: 20px 0 0;
}

.review-left {
    float: left;
    position: relative;
    width: 25%;
}

.review .review-left {
    position: absolute;
    width: 64px;
}

.review-avatar {
    -webkit-border-radius: 2px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 2px; /* Firefox 1-3.6 */
    border-radius: 2px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    behavior: url(PIE.htc);
    display: block;
    height: 36px;
    margin: 0 15px 0 0;
    overflow: hidden;
    position: absolute;
    width: 36px;
}

.review .review-avatar {
    -webkit-border-radius: 0; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 0; /* Firefox 1-3.6 */
    border-radius: 0; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    behavior: url(PIE.htc);
    display: block;
    height: auto;
    margin-right: 12px;
    width: 46px;
}

    .review .review-avatar img {
        -webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -moz-border-radius: 3px; /* Firefox 1-3.6 */
        border-radius: 3px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
        behavior: url(PIE.htc);
        height: 46px;
        width: 46px;
    }

.review-right {
    float: right;
    width: 75%;
}

.review .review-right {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    padding-left: 64px;
    width: 100%;
}

.review-username {
    float: left;
    font-weight: 500;
}

    .review-username a {
        color: #6D6D6D;
    }

.time-info {
    color: #999999;
    font-size: 13px;
    font-weight: 500;
}

.review-rating {
    text-align: right;
    margin-top: -19px;
    float: right;
}

.review-more-toggle {
    background-color: #F5F5F5;
    -webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 3px; /* Firefox 1-3.6 */
    border-radius: 3px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    behavior: url(PIE.htc);
    color: #D0D0D0;
    font-size: 15px;
    padding-bottom: 1px;
    position: relative;
    text-align: center;
    left: 2px;
    top: 1px;
}

.ur-avg, .ur-avg-swap {
    color: #888888;
    font-size: 18px;
    font-weight: 300;
    margin-right: 5px;
    vertical-align: middle;
    white-space: nowrap;
}

.review-header, .review-header .ur-avg, .review-more-toggle {
    font-size: 15px;
    line-height: 18px;
}

    .review-header .ur-avg {
        margin: 0 10px;
        vertical-align: top;
    }

.review-rating .result-rated {
    display: inline;
}

[class^="icon-"]:before, [class*=" icon-"]:before, [class^="icon-"]:after, [class*=" icon-"]:after {
    display: inline-block;
    font-family: "ftbicon";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1em;
    margin: 0 0.2em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    width: 1em;
}

.icon-dots:before {
    content: "";
}

.review-more-toggle .icon-dots:before {
    margin: 0 0.4em;
}

.review-more-toggle:hover {
    color: #999999;
}

.rr-attr-rating {
    background: none repeat scroll 0 0 #F5F5F5;
    -webkit-border-radius: 2px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 2px; /* Firefox 1-3.6 */
    border-radius: 2px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    behavior: url(PIE.htc);
    display: none;
    margin: 6px 0;
    padding: 8px 0 8px 15px;
    position: relative;
    z-index: 1;
}

.rr-attr-name {
    text-align: left;
}

.rr-attr {
    float: left;
    margin: 5px 0;
    width: 50%;
}

.rr-attr-bar {
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    width: 97px;
}

.rr-attr-bar-fill {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
}

.rr-attr-bar-back {
    background: none repeat scroll 0 0 #E7E7E7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 17px;
}

.rr-attr-name {
    font-size: 13px;
}

.rr-rev {
    color: #4D4D4D;
    font-size: 13px;
    font-weight: 300;
    line-height: 150%;
    padding: 5px 0 0;
}

.rr-actions {
    margin-top: 8px;
}

    .rr-actions, .rr-actions a {
        color: #999999;
    }

        .rr-actions .rr-reply-btn {
            color: #02B1F2;
            cursor: pointer;
            display:inline-block;
        }

            .rr-actions .rr-reply-btn:after, .rr-more-comments:after, .rr-delete:before {
                border-right: 1px solid #DDDDDD;
                content: "";
                margin: 0 6px 0 10px;
            }
.news-content .rr-actions .rr-reply-btn:after, .rr-more-comments:after, .rr-delete:before 
{
    /*border-right: none;*/
    }
    .rr-actions {
	min-height :20px;
}
.rr-helpful 
{
    /*position:absolute;
    margin-left:5px;*/
    }
        .rr-actions .rr-vote:hover, .rr-vote:active {
            /*background: #999999;*/
            color: #ffffff;
            background: url("images/i-dislike-white.png") no-repeat top left #999999;
            background-size:auto 100%;            
            /*opacity:0.6;*/
        }

.rr-vote.up {
    margin-left: 0.2em;
    background: url("images/i-like.png") no-repeat top left #EEEEEE; 
    background-size:auto 100%;
}

    .rr-vote.up:hover, .rr-vote.up:active {
        /*background: #00BBFF;*/
        background: url("images/i-like-white.png") no-repeat top left #00BBFF;    
        background-size:auto 100%;
    }

.rr-actions, .rr-actions a {
    color: #999999;
}

.rr-vote {
    /*background: none repeat scroll 0 0 #EEEEEE;*/
    background: url("images/i-dislike.png") no-repeat top left #EEEEEE;
    background-size:auto 100%;
    -webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 3px; /* Firefox 1-3.6 */
    border-radius: 3px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    behavior: url(PIE.htc);
    margin-left: 0.4em;
    /*padding: 3px 8px 3px 25px;*/
    padding: 3px 2px 3px 25px;
    color: #999999;
    display:inline;
}

.rr-count {
    color: #999999;
    padding: 3px 4px;
}

.rr-comments {
    margin-bottom: 20px;
}

.rr-count {
    background: none repeat scroll 0 0 #DDDDDD;
    -webkit-border-radius: 0 3px 3px 0; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 0 3px 3px 0; /* Firefox 1-3.6 */
    border-radius: 0 3px 3px 0; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    behavior: url(PIE.htc);
    margin-left: -6px;
}

.rr-comment, .rr-reply-form {
    padding-top: 20px;
}

    .rr-comment .review-left, .rr-reply-form .review-left {
        width: 36px;
    }

    .rr-comment .review-right, .rr-reply-form .review-right {
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
        padding-left: 47px;
        width: 100%;
    }

.rr-comments .review-avatar img {
    height: 36px;
    width: 36px;
}

.rr-comment-username {
    font-weight: 700;
    color: #02B1F2;
}

.rr-comment .rr-actions {
    display: none;
}

.rr-comment:hover .rr-actions {
    display: inline;
}

.rr-actions a:hover {
    color: #02B1F2;
    text-decoration: none!important;
}

.comment-name a:hover {
    text-decoration: underline;
}

.rr-showing {
    display: inline;
    font-weight: 300;
}

.rr-pagination {
    float: right;
    /*margin-top:-20px;*/
}
.bg_grad {
    background-color: #F1F1F1;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 25%, rgba(255, 255, 255, 0.1) 100%);
}
.rr-prev, .rr-next, .rr-page {
    border: 1px solid #CCCCCC;
    cursor: pointer;
    font-weight: bold;
    padding: 7px 10px;
}
.rr-current {
    background: none repeat scroll 0 0 #E7E7E7;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1) inset;
}
.rr-pagination span {
    float: left;
    margin-left: 5px;
}
.shadow {
    box-shadow: 0 1px 3px 0 rgba(204, 204, 204, 0.6);
    -moz-box-shadow: 0 1px 3px 0 rgba(204, 204, 204, 0.6);
    -webkit-box-shadow: 0 1px 3px 0 rgba(204, 204, 204, 0.6);
}

.rr-next, .rr-prev {
    height: 32px;
    padding: 0;
    position: relative;
    text-indent: -9999px;
    width: 27px;
}

.rr-next:after, .rr-prev:after {
    border: 6px solid rgba(0, 0, 0, 0);
    content: " ";
    position: absolute;
    top: 10px;
}
.rr-next:after {
    border-left-color: #4D4D4D;
    left: 11px;
}

.rr-prev:after {
    border-right-color: #4D4D4D;
    right: 11px;
}
.rr-pagination .bg_grad:hover {
    background: none repeat scroll 0 0 #FEFEFE;
}




.rf-review-wrap {
    margin-bottom: 30px;
    max-width: 874px;
}

.box-review .rf-review-wrap {
    margin-bottom: 20px;
    margin-top: 40px;
}
.news-content .showing 
{
    display:block;
    }
.rf-head {
    display: table;
    padding-top: 15px;
    width: 100%;
}

.rf-listing-img {
    display: table-cell;
    padding-right: 30px;
    vertical-align: middle;
    width: 1%;
}

.rf-title {
    display: table-cell;
    font-size: 32px;
    font-weight: 300;
    vertical-align: middle;
}

.box-review .rf-title {
    font-size: 24px;
}

.rf-message {
    -webkit-animation: 1s ease 0s normal none 1 already; /* Safari 4+ */
    -moz-animation: 1s ease 0s normal none 1 already; /* Fx 5+ */
    -o-animation: 1s ease 0s normal none 1 already; /* Opera 12+ */
    animation: 1s ease 0s normal none 1 already; /* IE 10+ */
    background-color: #F5F5F5;
    -webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 3px; /* Firefox 1-3.6 */
    border-radius: 3px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    behavior: url(PIE.htc);
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 22px;
    padding: 15px;
}

.rf-wrap {
    margin-top: 20px; /*35px;*/
}

.rf-error-sec {
    -webkit-animation: 1s ease 0s normal none 1 bgflash; /* Safari 4+ */
    -moz-animation: 1s ease 0s normal none 1 bgflash; /* Fx 5+ */
    -o-animation: 1s ease 0s normal none 1 bgflash; /* Opera 12+ */
    animation: 1s ease 0s normal none 1 bgflash; /* IE 10+ */
    background-color: #F5F5F5;
    border-left: 5px solid #EB756E;
    -webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 3px; /* Firefox 1-3.6 */
    border-radius: 3px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    behavior: url(PIE.htc);
    /*display: none;*/
    font-size: 19px;
    font-weight: 300;
    line-height: 12px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 15px;
}

.box-review .rf-listing-img img {
    max-height: 100px;
    max-width: 100px;
}

.rf-error-text {
    display: block;
    line-height: 28px;
}

.rf-left {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    float: left;
    width: 100%;/*21%;*/
    line-height: 30px;
}

.rf-subtitle {
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding-right: 10px;
    position: relative;
    vertical-align: top;
}

.icon-yes:before {
    content: "";
}

.icon-no:before {
    content: "";
}

.rf-st-icon.icon-yes {
    color: #A1CC46;
    display: none;
    font-size: 21px;
    line-height: 21px;
}

.rf-missed-wrap {
    color: #E53D33;
    font-size: 21px;
    line-height: 21px;
    position: relative;
}

    .rf-missed-wrap.icon-no:before {
        display: none;
    }

.rf-missed.icon-no:before {
    display: inline-block;
}

.rf-right {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    float: left;
    width: 100%; /*79%;*/
}

.rf-o-rating {
    float: left;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.rf-o-stars {
    -webkit-border-radius: 2px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 2px; /* Firefox 1-3.6 */
    border-radius: 2px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    behavior: url(PIE.htc);
    float: left;
}

.rf-click-text {
    float: left;
    margin-left: 10px;
    margin-top: 8px;
}

.rf-review-box {
    float: left;
    position: relative;
}

.rf-input {
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 3px; /* Firefox 1-3.6 */
    border-radius: 3px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    behavior: url(PIE.htc);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    display: block;
    font-weight: 300;
    padding: 11px;
}

    .rf-input:focus {
        border: 1px solid #00BBFF;
        border-radius: 3px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }

.rf-review-body {
    font-size: 15px;
    height: 150px;
    line-height: 24px;
    vertical-align: top;
    width: 100%;
    max-width: 100%;/*690px;*/
}
.popup-review .rf-review-wrap, .popup-review .rf-review-body 
{
    max-width:100%;
    }
.popup-review .rf-subtitle 
{
    padding:0 10px;
    }
.popup-review .rf-wrap
{
    margin-top: 20px;/*30px;*/
    }
.rf-help-review {
    background-color: #F5F5F5;
    -webkit-border-radius: 4px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 4px; /* Firefox 1-3.6 */
    border-radius: 4px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    behavior: url(PIE.htc);
    font-size: 15px;
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    /*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";*/
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    /*filter: alpha(opacity=0);*/
    /* Older than Firefox 0.9 */
    /*-moz-opacity:0;*/
    /* Safari 1.x (pre WebKit!) */
    /*-khtml-opacity: 0;*/
    /* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
    /*opacity: 0;*/
    padding: 15px;
    position: absolute;
    right: -260px;
    top: 0;
    -webkit-transition: all 0s ease 0s, all 0.5s ease 0s, all 0s ease 0s;
    -moz-transition: all 0s ease 0s, all 0.5s ease 0s, all 0s ease 0s;
    -o-transition: all 0s ease 0s, all 0.5s ease 0s, all 0s ease 0s;
    transition: all 0s ease 0s, all 0.5s ease 0s, all 0s ease 0s;
    width: 180px;
}

    .rf-help-review:after {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: rgba(136, 183, 213, 0) #F5F5F5 rgba(136, 183, 213, 0) rgba(136, 183, 213, 0);
        border-image: none;
        border-style: solid;
        border-width: 15px;
        content: " ";
        height: 0;
        margin-top: -15px;
        pointer-events: none;
        position: absolute;
        right: 100%;
        top: 50%;
        width: 0;
    }

.rf-help-title {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
}

.rf-help-review ul {
    margin-left: 20px;
    list-style: disc;
}

    .rf-help-review ul li {
        margin-bottom: 5px;
    }

.rf-word-count {
    color: #31C45A;
    float: right;
    margin-right: 10px;
    margin-top: -25px;
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    /*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";*/
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    /*filter: alpha(opacity=0);*/
    /* Older than Firefox 0.9 */
    /*-moz-opacity:0;*/
    /* Safari 1.x (pre WebKit!) */
    /*-khtml-opacity: 0;*/
    /* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
    /*opacity: 0;*/
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.rf-review-body {
    font-size: 15px;
    height: 150px;
    line-height: 24px;
    vertical-align: top;
    width: 100%;
}

    .rf-review-body.focused {
        height: 200px;
    }

.stnd-btn {
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top, rgba(255, 255, 255, 0), rgba(43, 43, 43, 0.02) 71%);
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 2px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
   -moz-border-radius: 2px; /* Firefox 1-3.6 */
 border-radius: 2px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
   behavior: url(PIE.htc);
    color: #4D4D4D; cursor: pointer;
    display: inline-block; font-family: Helvetica,Arial,sans-serif;
    font-size: 15px; font-weight: bold; padding: 10px 14px 9px;
    text-align: center;text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;}
a.stnd-btn { float: right;font-size: 16px;padding: 8px 15px;}
.bg-blue {background-color: #00BBFF; border-color: #00BBFF; color: #FFF !important; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);}

.ro-review-link {
    font-size: 18px;
    font-weight: normal;
    padding: 7px 19px;
    position: absolute;
    right: 0;
    top: -65px;
    float: right;
    margin-top: 13px;
    position: relative;
}

.rf-o-rating.focus {
    border: 2px solid #00BBFF;
    -webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 3px; /* Firefox 1-3.6 */
    border-radius: 3px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    behavior: url(PIE.htc);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.rf-attr-ratings {
    max-height: 300px;
    overflow: hidden;
    -webkit-transition: max-height 0s ease 0s, all 0.5s ease 0s, all 0s ease 0s;
    -moz-transition: max-height 0s ease 0s, all 0.5s ease 0s, all 0s ease 0s;
    -o-transition: max-height 0s ease 0s, all 0.5s ease 0s, all 0s ease 0s;
    transition: max-height 0s ease 0s, all 0.5s ease 0s, all 0s ease 0s;
}

.rf-subtitle-text {
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
}

.rf-detail-rating-wrap {
    background-color: #F5F5F5;
    float: left;
    padding: 15px;
}
.rf-detail-rating { float: left; margin: 10px 0; width: 100%;}
.rf-attribute {
    float: left;
    font-size: 16px;
    font-weight: bold;
}

.rf-at-stars {
    cursor: pointer;
    float: right;
}

#rf-submit {
    float: left;
}

.rf-user-post {
    float: left;
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.rf-display-name {
    background-color: #F5F5F5;
    border-left: 5px solid #00BBFF;
    -webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 3px; /* Firefox 1-3.6 */
    border-radius: 3px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    clear: both;
    display: none;
    margin-bottom: 10px;
    padding: 10px 15px 15px;
}

.rf-dn-error {
    color: #D82E2E;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    margin-bottom: 10px;
}

.rf-dn-input {
    float: left;
    font-size: 14px;
    font-weight: 300;
    height: 35px;
    margin-right: 10px;
    width: 50%;
}

.rf-dn-save {
    float: left;
    font-size: 14px;
    padding: 7px 16px;
    position: relative;
    -webkit-transition: all 0.1s ease 0s;
    -moz-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
}

    .rf-dn-save .spin {
        left: 19px;
        position: absolute;
        top: 16px;
    }

    .rf-dn-save .saving {
        display: none;
    }

.rf-dn-help {
    float: left;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    width: 100%;
}

#rf-post-review {
    float: right;
    font-size: 16px;
    padding: 8px 15px;
}

.rr-comment .rr-right, .rr-reply-form .rr-right {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    padding-left: 47px;
    width: 100%;
}

.rr-comment .rr-left, .rr-reply-form .rr-left {
    width: 36px;
}

.rr-review .rr-avatar {
    -webkit-border-radius: 0; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 0; /* Firefox 1-3.6 */
    border-radius: 0; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    behavior: url(PIE.htc);
    display: block;
    height: auto;
    margin-right: 12px;
    width: 46px;
}

    .rr-review .rr-avatar img {
        -webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -moz-border-radius: 3px; /* Firefox 1-3.6 */
        border-radius: 3px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
        behavior: url(PIE.htc);
        height: 46px;
        width: 46px;
    }

.rr-comments .rr-avatar img {
    height: 36px;
    width: 36px;
}

.rr-review .rr-left {
    position: absolute;
    width: 64px;
}

.rr-avatar {
    -webkit-border-radius: 2px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 2px; /* Firefox 1-3.6 */
    border-radius: 2px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    behavior: url(PIE.htc);
    display: block;
    height: 36px;
    margin: 0 15px 0 0;
    overflow: hidden;
    position: absolute;
    width: 36px;
}

.rr-left {
    float: left;
    position: relative;
    width: 25%;
}

.rr-textarea {
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 3px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 3px; /* Firefox 1-3.6 */
    border-radius: 3px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    behavior: url(PIE.htc);
    box-shadow: 0 1px 2px #DDDDDD inset;
    -moz-box-shadow: 0 1px 2px #DDDDDD inset;
    -webkit-box-shadow: 0 1px 2px #DDDDDD inset;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    color: #858484;
    display: block;
    margin: 2px 0 12px;
    padding: 8px;
    width: 70%;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    border: 1px solid #00BBFF;
}

.rr-submit {
    display: none;
    float: left;
    padding: 5px 29px;
}

.rr-comments > .rr-reply-btn.disabled {
    display: none;
}

.reply-to:hover {
    color: #02B1F2;
    cursor: pointer;
}

.reply-to 
{
    display: inline-block;
    }
/**/

#rr-overview {
    margin-bottom: 50px;
    position: relative;
}
#ro-helpful-reviews {
    margin-bottom: 20px;
}
.ro-users {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    float: right;
    padding: 0;
    position: relative;
    /*width: 47%;*/
}
.ro-users .avatar img {
    border-radius: 4px;
    width: 20px;
}
.ro-sub-title {
    background: none repeat scroll 0 0 #F6F6F6;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 9px 9px 8px 10px;
    text-transform: uppercase;
    font-weight:bold;
}
#ro-helpful-reviews .rating-overview {
    padding: 0 0 0 10px;
    position: relative;
}
.ro-users .rating-overview {
    margin-bottom: 50px;
}
#ro-helpful-reviews .rating-title {
    border-right: 1px solid #EEEEEE;
    color: #6D6D6D;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-right: 10px;
    padding-right: 10px;
}
.rating-overview .rating-stars {
    float: left;
    margin-top: -2px;
    /*display:inline-flex;*/
}
/*.ur-avg {
    color: #888888;
    font-size: 22px;
    font-weight: 300;
    margin-right: 3px;
    vertical-align: middle;
}*/
.rating-overview .rev-text {
    clear: both;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 5px;
}
.rating-overview .rev-link {
    font-size: 13px;
    font-weight: normal;
    white-space: nowrap;
}
.rating-overview .avatar {
    float: left;
    margin-right: 5px;
}
.rating-overview .profile-link {
    float: left;
}
.rating-overview .profile-link img {
    -webkit-border-radius: 2px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 2px; /* Firefox 1-3.6 */
    border-radius: 2px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    behavior: url(PIE.htc);
}
.ro-breakdown {
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    margin-bottom: 15px;
    padding: 20px 0 15px;
}
.rating-container-breakdown-outer {
    line-height: 18px;
    margin-left: 3px;
}
.rating-container-breakdown-outer .num {
    float: left;
    font-weight: 300;
    margin-right: 5px;
    margin-top: 0;
}
.rating-container-breakdown {
    background: none repeat scroll 0 0 #D8D8D8;
    float: left;
    height: 23px;
    margin-bottom: 5px;
    margin-right: 5px;
    position: relative;
    width: 94px;
}
.ro-breakdown .rating-container-breakdown {
    height: 15px;
    overflow: hidden;
    width: 80%;
}
.rating-num {
    font-weight: 300;
    left: 103%;
    position: absolute;
    z-index: 20;
}
.rating-bar {
    /*background: none repeat scroll 0 0 #00BBFF;*/
    height: 23px;
    position: absolute;
    -webkit-transition: all 0.1s ease 0s;
    -moz-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
    z-index: 15;
}
.ro-breakdown .rating-bar {
    height: 15px;
}
.ro-overall .ro-attr-label {
    font-weight: bold;
}
.ro-attr-label {
    float: left;
    font-size: 15px;
    font-weight: 300;
    margin: 3px 0;
}
.ro-attr-avg {
    float: right;
    margin: 1px 0;
}
.ro-attr-avg .ur-avg {
    font-size: 18px;
}
.rating-stars .ur-avg, .rating-stars .rating-container {
    display:inline-block;
    }
.rr-filter:hover, .rr-filter:active {
    text-decoration:underline;
    }
.ro-expert {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    float: left;
    padding: 0;
    position: relative;
    width: 100%;
}
    .half {
    width: 49%;
}
.ro-ex {
    margin-bottom: 30px;
    padding: 0 0 0 10px;
    position: relative;
}
.ro-ex-name {
    border-right: 1px solid #E1E1E1;
    color: #6D6D6D;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-right: 10px;
    max-width: 250px;
    padding-right: 10px;
}
.ro-ex-val {
    color: #5BB926;
    font-size: 14px;
    font-weight: bold;
    line-height: 23px;
    margin-top: -2px;
    position: relative;
}
.ro-ex-rev {
    clear: both;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 5px;
    margin-top: 3px;
}
.ro-ex-hide {
    display: none;
}
.ro-ex-more {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}
.ro-ex-more:hover {
    text-decoration: underline;
}
.comment-popup
{
    background:#FFFFFF;
    /*padding:10px;*/
    }
/*.comment-popup .rr-comments
{
    overflow-y: scroll;
    max-height:50%;
    }*/
@media screen and (max-width: 800px)
{
    .half{width:100%;}
    
    .sort-wrap{margin-bottom: 0;}
}

#cboxLoadedContent
{
    background:#FFFFFF;
    padding:5px;
    }
    #cboxContent 
    {
    overflow:hidden!important;
        }
.no-data
{
    padding-left:10px;
    }
    .noDataMes 
{
    margin-top:15px;
    }
    .no-data a:hover, .noDataMes a:hover
    {
        text-decoration: underline;
        }
.reduce-price 
{
    padding-bottom:10px;
    font-weight:bold;
    }
.reduce-price:hover 
{
    text-decoration: underline;
    }
 .rr-username a 
 {
     color:#999999;
     }
.rr-username a:hover 
{
    color:#02b1f2;
    }
#ReducePricePopup
{
    height:100%;
    }
#ReducePricePopup input.error
{
    border: 1px solid #cc0000;
    }
.radar-info {
    background-color: #e8efdf;
    float: left;
    height: 100%;
    width: 100%;
}
.radar-logo-medium {
    background: url("images/USD.png") no-repeat;
    display: block;
    height: 85px;
    width:85px;
    margin: auto;
    background-size:100% 100%;
}
.radar-lb-logo {
    float: left;
    margin: 20px 10px 10px;
}
.r-radar-title {
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.radar-description {
    float: left;
    margin-top: 10px;
    max-width: 70%;
}
/*.radar-price-select {
    border-bottom: 1px solid #e2e6e7;
    padding: 5px;
}*/
.radar-price-select-email {
    border-bottom: 1px solid #e2e6e7;
    padding: 5px;
    background: #e8efdf;
}
.radar-error {
    color: red;
    display: none;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.radar-more-options {
    background: none repeat scroll 0 0 white;
    /*border: 1px solid #e2e6e7;*/
    /*box-shadow: 3px 3px 3px #111;*/
    clear: both;
    display:block;
}
.radar-price-input-rust {
    border: 1px solid #aaa;
    height: 20px;
    /*width: 100px;*/
    text-align: right;
}
.radar-one-options {
    padding: 5px;
    display: inline-block;
}
.radar-one-description {
    float: left;
    width: 100%;
}
.radar-one-column {
    float: left;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px;
    width: 33%;
}
.radar-one-option {
    padding-bottom: 4px;
    display:block;
}
.radar-one-option input 
{
    float:left;
    margin: 3px;
    }
.radar-one-option span 
{
    
    }
.radar-arrow {
    border-bottom: 130px solid transparent;
    border-left: 40px solid #e8efdf;
    border-top: 130px solid transparent;
    float: left;
    height: 0;
    width: 0;
}
.radar-action {
}
.radar-action {
    float: left;
    padding-top: 30px;
    width: 340px;
}
.radar-Ierror-rust {
    padding-bottom: 10px;
}
.radar-nt-c {
    padding-top: 40px;
}
/*
body.rb, .rb span, .rb iframe, .rb h2, .rb h4, .rb p, .rb a, .rb ul, .rb li, .rb form, .rb label, .rb table, .rb th, .rb tr {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}*/
.radar-email-input-rust {
    border: 1px solid #7aa542;
    float: left;
    margin: 0 5px 0 10px;
    width: 300px;
}
.radar-button-l {
    float: left;
}
.button-green {
    background: #02b1f2;
    border: medium none;
    color: white;
    padding:3px;
    cursor: pointer;
}
.button-green {
    background-color: #0bf;
    border: 1px solid #2aa3ff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    /*margin: 5px 0 0 200px;
    padding: 11px 17px;*/margin-top:1px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease 0s;
}
.button-green:hover {
    background-color: #00ccff;
    border-color: #2abbff;
    box-shadow: 0 3px 4px -3px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    text-decoration: none !important;
}
.radar-nt-action 
{
    display: inline-block;
    width: 100%;
    /*padding:20px 0;*/
    }
.more-re-review-show, .more-re-review-hide {
    font-weight: 500;
    display: block;
    color: #02b1f2;
    cursor: pointer;
    padding-top:20px;
}
.more-re-review-show:hover, .more-re-review-hide:hover
{
    text-decoration:underline;
    }
.rr-delete
{
        }
.reviews .rr-delete .delete_button {
    display: inline-block;
}
.rr-delete .delete_button {
    background: none repeat scroll 0 0 white;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    box-shadow: 0 0 3px #e0e0e0;
    color: #bdbdbd;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    position: absolute;
    text-align: center;
    width: 18px;
    padding:2px 0;
}
.rr-delete .delete_button:hover {
    border: 1px solid #00BBFF;
    color: #00BBFF;
    display: block;
}
.i:before, .i:after {
    display: inline-block;
    font-family: "ftbicon";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1em;
    margin: 0 0.2em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    width: 1em;
}
.icon-no:before {
    content: "";
}
.icon-edit:before
{
    content: "";
    }
    /*.popup-review .rr-delete 
    {
        display:none;}*/
.rate-news 
{
    clear: both;
    float: left;
    font-weight: normal;
    width: 100%;
    }
.rate-news > p.heading {
    color: #000;
    display: block;
    font-family: 'Roboto Condensed',sans-serif;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight:bold;
}
.rate-news > p {
    color: #555;
    display: none;
    margin-bottom: 8px;
}
.rate-news ul {
    padding-left: 20px;
}
.rate-news li {
    background: none repeat scroll 0 0 #f7f7f7;
    border: 1px solid #eee;
    border-radius: 3px;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    margin-bottom: 5px;
    padding: 6px 10px 6px 25px;
}
.rate-news li.ratingGood {
   
}
.rate-news li.ratingNormal {
    
}
.rate-news li.ratingBad {
  
}
.rate-news li:hover {
    background-color: #eee;
    border-color: #888;
}
.metabox {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd #ddd #ddd #b1b1b1;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 2px;
    clear: both;
    float: left;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 12px;
    margin-top: 10px;
    padding: 5px 10px 5px 15px;
    margin-bottom: 20px;
    width:95%;
}
.rr-read-more .link {
    font-size: 13px;
    font-weight: normal;
}
.rr-read-more .link:hover {
    text-decoration: underline;
}
.rr-read-more .dots, .rr-read-more .less-content, .rr-read-more .more-content
{
    margin-left: 3px;
    }
.rr-read-more.view-more .more-content, .rr-read-more .less-content, .rr-read-more.view-more .dots
{
    display:inline;
    }
.rr-read-more .dots, .rr-read-more.view-more .less-content, .rr-read-more .more-content
{
    display:none;
    }
.complete-content 
{
    display:none;
    }
.rr-read-more .arrow-view 
{
       margin-left: 3px;    
        margin-top: 8px;       
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 4px 4px 4px;
        border-color: transparent transparent #02b1f2 transparent;
        }
   .rr-read-more.view-more .arrow-view      
   {
        margin-top: 8px;
        border-width: 4px 4px 0 4px;
        border-color: #02b1f2 transparent transparent transparent;
       }
  .iconhome
{
	
	float:left;
}
       
       .iconhome:before 
{
    width: 0px;
    height: 0px;
    float: left;
	margin:17px 15px 0px 0px;
  
  cursor:pointer;
font-family: "ftbicon";
font-style: normal;
font-weight: normal;
width:42px !important;
height:30px !important;

speak: none;

text-decoration: inherit;

text-align: center;

font-variant: normal;
text-transform: none;

	content:"\e845";

	color:#0bf;
	font-size: 25px;
}

.icon-menu:before {
width: 1.4em;
}

.icon-menu:before {
content: "\e845";
}
 .iconhome:hover:before
 
 {
     color:#4acaf9;
     }