@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&subset=latin,vietnamese);
body{
	background-color:#fff !important;
}
.ui-content{
	padding:4px 0;
	background:#fff;
}
#home{
	position:relative;
	padding-top:0 !important;
	background-color:#fff !important;
}
#left-panel a{font-size:14px;}
#left-panel .ui-panel-inner{padding-top:0;}
#left-panel ul {margin-top:0;padding:0;}
#left-panel ul li .ui-btn-text{padding:10px;}
#left-panel ul li.ui-btn-up-c{
	background-image:none;
}
/* Swipe works with mouse as well but often causes text selection. */
#demo-page * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/* Arrow only buttons in the header. */
#demo-page .ui-header .ui-btn {
    background: none;
    border: none;
    top: 9px;
}
#demo-page .ui-header .ui-btn-inner {
    border: none;
}
/* Content styling. */
.ui-corner-all{border-radius:0;}
.ui-alt-icon.ui-icon-bars:after, .ui-alt-icon .ui-icon-bars:after {
	background-image: url("images/icons-png/bars-white.png");
}
.ui-alt-icon.ui-icon-search:after, .ui-alt-icon .ui-icon-search:after, .ui-input-search:after {
	background-image: url("images/icons-png/search-white.png");
}
.__MB_TABLE_DATA_PRICE{
	width:1587px;
}
.__MB_TABLE_DATA_PRICE th{
	font-size: 11px;
	color:#1c94c4;
	vertical-align:top !important;
}
.__MB_TABLE_DATA_PRICE th.__MB_COM_SIZES{
	min-width:62px;
	color:#1c94c4;
	vertical-align: top;
	text-align: center;
}
.__MB_TABLE_DATA_PRICE td{
	font-size:11px;
	color:#1c94c4;
	border-bottom:1px solid #ddd;
	white-space:nowrap;
	vertical-align:middle !important;
}
.not_in_stock {
	text-decoration: line-through;
	text-shadow: none;
}
.__mb_price_none {
	color: #666;
}
.__mb_none {
	color: #CCC;
}
.max_price {
	color: #090 !important;
}
.navbar .navbar-form{
	margin:8px 0 0 0 !important
}
.navbar .navbar-nav li a{
	padding:13px 15px !important;
}
.navbar .navbar-brand{
	height: 46px !important;
	line-height: inherit !important;
	padding: 12px 10px 12px 15px !important;
	color: #fff;
}
.navbar .navbar-brand i.mdi-navigation-menu{
	font-size:1.5em
}
.nav.navbar-nav ul li i{
	font-size:14px;
	padding-right:5px;	
}
.navbar a{
	font: 1em 'Roboto Condensed', sans-serif !important;
}
.ui-panel-fixed-toolbar,.ui-mobile .ui-page-active{
	overflow-x:visible !important;
}
.navbar .navbar-nav ul.dropdown-menu li a{
	text-shadow:none;
	padding:3px 20px !important;
}
.ui-panel-wrapper {
	background-color:#fff !important;
}
#right-panel.panel,#left-panel.panel {
	border-radius: 0 !important;
	padding: 20px;
	background-color: #fff;
	color:#333;
}
.ripple-wrapper{
	display:none;
}
ul.menu-left{
	list-style:none;
	padding:0;
}
ul.menu-left li{
	background:#f9f9f9;
	border-bottom:1px solid #ddd;
	cursor:pointer;
	margin-left:0;
}
ul.menu-left li:hover{
	background:#ededed;
}
ul.menu-left li a{
	padding:.7em 1em;
	font-size:14px;
	display:block;	
	text-decoration:none;
	color:#000;
}
ul.menu-left li a i{
	float: right;
	margin-top: -3px;
	margin-right: -10px;
}
ul.menu-left li a.strong{
	font-weight:bold !important
}
ul.menu-left li a i:before{
	font-size:2em;
}
.bootstrap-select>.dropdown-toggle.btn, .bootstrap-select>.dropdown-toggle.btn-default{
	background-color: transparent !important;
	background-image: none !important;
	box-shadow: none !important;
	text-shadow: none !important;
	text-transform: none !important;
	width: initial !important;
	font: 1em 'Roboto Condensed', sans-serif !important;
	padding-left: 13px !important;
}
.btn-group.bootstrap-select{
	margin:5px 1px;
	box-shadow:none;
	width: initial !important;
}
.btn-group.bootstrap-select .filter-option.pull-left{
	color:#fff !important;
}
.btn-group.bootstrap-select span.caret{
	color:#fff !important;
}
.product-info{
	margin-bottom:1em;
}
.product-info .product-image{
	float: left;
	width: 175px;
	max-width: 175px;
	margin-right: 15px;
}
.product-info .product-image img{
	width:175px;
}
.product-info .top-price {
	float: left;
	width: 75%
}
.product-info .top-price .item-row {
	padding-bottom: 5px;
	line-height: normal;
	position: static;
	zoom: 1;
}
.product-info .top-price .divider {
	border-top: 1px dotted #ccc;
	padding-bottom: 10px;
}
.product-info .top-price .product_price {
	float: left;
	font: bold 22px Arial, Helvetica, sans-serif;
	color: #333;
}
.product-info .top-price .price_alert {
	float: right;
	padding-top: 6px;
}
.product-info .bottom-price {
	float: left;
}
.product-info .bottom-price .left_col {
	float: left;
	width: 425px;
	padding-right: 19px;
}
.product-info .bottom-price .title {
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #333;
	padding-bottom: 4px;
	border-bottom: 1px solid #ccc;
}
.font_12 {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #333;
}
.product-info .bottom-price .left_col table {
	margin-top: 10px;
}
.product-info .bottom-price .left_col tr .label-td {
	padding: 2px 10px 2px 0;
}
.product-info .bottom-price .left_col tr .price {
	padding: 2px 0;
}
.product-info .bottom-price .left_col tr .price span.label{
	vertical-align:2px;
}
.btn-detail {
	text-transform: none;
	margin: 0;
	text-shadow: none;
	color: #fff !important;
}
table.table-price tr td{
	vertical-align:middle;
}
table.table-price thead{
	background:#ddd;
	font: 1em 'Roboto Condensed', sans-serif;
}
.product-relate h3{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:400;
}
.container-item{
	text-align:center;
}
.container-item .image{
	margin-bottom:.5em;
	max-width:172px;
	overflow:hidden;
	min-height:135px;
	height:135px;
	text-align:center;
	margin: auto auto .5em auto;
	left:0;
	right:0;
}
.container-item .image img{
	height:135px;
	text-align:center;
}
.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after{
	margin-left:0;
	border:none;
}
.product-saleoff{
	font-size:12px;
}
.view-chart{
	font-size:12px;
}
.new-product .alert-danger{
	background-color:##f44336;
	background-image:none;
}
.new-product .alert-success{
	background-color:#0f9d58;
	background-image:none;
}
.new-product .alert-info{
	background-color:##03a9f4;
	background-image:none;
}
.price-exchange a.alert-link{
	font: 1.7em 'Roboto Condensed', sans-serif;
	text-decoration:none;
}
.price-exchange a.alert-link i{
	font-size:1.4em;
	vertical-align:-3px;
	padding-right:5px;
}
.font-h3{
	font: 2em 'Roboto Condensed', sans-serif;
}
.container-item.jumbotron{
	min-height:260px;
	box-shadow:0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12) !important;
}
.category-view-more{
	float: right;
	font-size: .625em;
	font-weight: 300;
	padding-top: 10px;
}
.container-item.jumbotron .price{
	font: 1.5em 'Roboto Condensed', sans-serif;
	display:inherit;
	border-radius:0;
}
.container-item.jumbotron .title{
	min-height:36px;
	height:36px;
	overflow:hidden;
	margin-bottom:5px;
}
.container-item.jumbotron .price:after{
	content:'vnđ';
}
.icon_giam {
	background-image: url(../images/icon-sale.png);
	background-size: 45px;
	background-repeat: no-repeat;
	position: absolute;
	top: 1px;
	right: 1px;
	height: 45px;
	width: 45px;
	text-align: center;
}
.icon_giam span {
	font-size: 12px;
	color: #fff !important;
	white-space: nowrap;
	font-weight: bold !important;
	line-height: 45px;
}
.font-h3 i{
	vertical-align:-3px;
	padding-right:5px;
}
.dropdown.trend ul.dropdown-menu{
	padding:0;
	right:-29px;
}
.dropdown.trend ul.dropdown-menu li{
	width:300px !important;
}
.dropdown.trend ul.dropdown-menu li .panel{
	margin:0;
	border-radius:0;
}
.dropdown.trend ul.dropdown-menu li .panel div a{
	line-height:1.5em !important;
	padding-left:0 !important;
}
.dropdown.trend ul.dropdown-menu li .panel .panel-body{
	height:450px;
	overflow-y:scroll;
}
.dropdown.trend ul.dropdown-menu li .panel a.trend-view-more{
	font-size:13px !important;
	float:right;
	padding:0 !important;
	color:#fff;
}
.dropdown.trend ul.dropdown-menu li .panel a.trend-view-more:hover{
	color:#fff;
	text-decoration:underline;
}
.dropdown.trend ul.dropdown-menu li .panel .panel-heading{
	border-radius:0;
}
.icon_hot,.icon_new{
	display:none;
}
.__MB_PRODUCT_INFO .panel .panel-heading,.__MB_PRODUCT_INFO .panel{
	border-radius:0;
}
.row.price-exchange {
	margin-left: -3px;
	margin-right: -4px;
}
.row.price-exchange .col-lg-4 {
	padding: 0 3px;
}
.row.price-exchange .alert {
	padding: 10px !important;
}
.row.price-exchange .alert a p {
	font-size: 14px !important;
}
@media only screen and (max-device-width: 480px){
	.mobile{
		display:none;
	}
	.font-h3,.product-relate h3{
		font: 1.2em 'Roboto Condensed', sans-serif;
	}
	.progress .progress-bar{
		width:100% !important;
	}
	.product-info .bottom-price .left_col{
		width:110%;
	}
}
form[name="frmSearch"]{
	padding-left:0
}
form[name="frmSearch"] .form-control-wrapper{float:left}